@charset "UTF-8";
/*レスポンシブ*/
/*フォントサイズ*/
.business-left-title, .people-top-bg .people-title, .company-left .company-title, .recruit-right .recruit-title {
  font-size: 140px;
  font-size: calc(4.625rem + ((1vw - 10.25px) * 7.3743));
  min-height: 0vw;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top, .slide-title-wrap, .msg-right-con-title, .msg-right-con-word-wrap, .strength-title, .people-item-wrap .people-item1 .people-item-con-name, .people-item-wrap .people-item2 .people-item-con-name, .people-item-wrap .people-item3 .people-item-con-name, .people-item-wrap .people-item4 .people-item-con-name, .people-item-wrap .people-item5 .people-item-con-name, .people-item-wrap .people-item6 .people-item-con-name {
  font-size: 60px;
  font-size: calc(1.9375rem + ((1vw - 10.25px) * 3.2402));
  min-height: 0vw;
}

@media (max-width: 768px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top, .slide-title-wrap, .msg-right-con-title, .msg-right-con-word-wrap, .strength-title, .people-item-wrap .people-item1 .people-item-con-name, .people-item-wrap .people-item2 .people-item-con-name, .people-item-wrap .people-item3 .people-item-con-name, .people-item-wrap .people-item4 .people-item-con-name, .people-item-wrap .people-item5 .people-item-con-name, .people-item-wrap .people-item6 .people-item-con-name {
    font-size: calc(1.25rem + ((1vw - 3.2px) * 2.2321));
  }
}

header .menu-icon-wrap .header-menu, header .header-entry, .company-left .company-title-sub, .recruit-right .recruit-title-sub {
  font-size: 36px;
  font-size: calc(1.1875rem + ((1vw - 10.25px) * 1.8994));
  min-height: 0vw;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom, .strength-outline .strength-con-wrap .strength-con-title, .people-bottom-bg .people-all-btn {
  font-size: 30px;
  font-size: calc(0.9375rem + ((1vw - 10.25px) * 1.676));
  min-height: 0vw;
}

@media (max-width: 768px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom, .strength-outline .strength-con-wrap .strength-con-title, .people-bottom-bg .people-all-btn {
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.8929));
  }
}

.slide .slide-word-wrap, .strength-outline .strength-con-wrap .strength-con-word, .business-right-word, .people-top-bg .people-word, .people-item-wrap .people-item1 .people-item-con-sub, .people-item-wrap .people-item2 .people-item-con-sub, .people-item-wrap .people-item3 .people-item-con-sub, .people-item-wrap .people-item4 .people-item-con-sub, .people-item-wrap .people-item5 .people-item-con-sub, .people-item-wrap .people-item6 .people-item-con-sub, .company-left .company-word, .recruit-right .recruit-word {
  font-size: 22px;
  font-size: calc(1rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .slide .slide-word-wrap, .strength-outline .strength-con-wrap .strength-con-word, .business-right-word, .people-top-bg .people-word, .people-item-wrap .people-item1 .people-item-con-sub, .people-item-wrap .people-item2 .people-item-con-sub, .people-item-wrap .people-item3 .people-item-con-sub, .people-item-wrap .people-item4 .people-item-con-sub, .people-item-wrap .people-item5 .people-item-con-sub, .people-item-wrap .people-item6 .people-item-con-sub, .company-left .company-word, .recruit-right .recruit-word {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.8929));
  }
}

.links-top .links-nav-list-item, .links-bottom-left, .links-bottom-right, .links .cop-site, footer {
  font-size: 16px;
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;
}

/*代入*/
header .logo-wrap, header .menu-icon-wrap .l-drawer, header .menu-icon-wrap .header-menu, header .header-entry, header .header-entry .header-entry-word, .strength-title, .strength-outline .strength-con-wrap .strength-con-img-wrap, .strength-outline .strength-con-wrap .strength-con-title, .strength-outline .strength-con-wrap .strength-con-word, .people-bottom-bg .people-all-btn, .company-right, .recruit-left, footer .footer-left-img-container .footer-left-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top .l-drawer__item, .msg-right-con-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.people-top-bg .people-title, footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*通常fadeinのcss*/
.fadein {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* 順番に要素がfadein */
.fadein-in-order {
  opacity: 0.1;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s;
  transition: all 1s;
  /* 2つ目の要素に200msのdelayをかける */
  /* 3つ目の要素に400msのdelayをかける */
}

.fadein-in-order:nth-of-type(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.fadein-in-order:nth-of-type(3) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}

/* 画面内に入った状態 */
.fadein-in-order.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.load-fade-in-left {
  opacity: 0;
  -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
  /* 2つ目の要素に200msのdelayをかける */
  /* 3つ目の要素に400msのdelayをかける */
}

.load-fade-in-left:nth-of-type(2) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.load-fade-in-left:nth-of-type(3) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

.load-fade-in-left.loadin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* read more共通 */
.msg-right-con .read-more-wrap button, .business-right .read-more-wrap button, .company-left .read-more-wrap button, .recruit-right .read-more-wrap button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.msg-right-con .read-more-wrap button.read-more, .business-right .read-more-wrap button.read-more, .company-left .read-more-wrap button.read-more, .recruit-right .read-more-wrap button.read-more {
  width: 12rem;
  height: auto;
}

.msg-right-con .read-more-wrap button.read-more .circle, .business-right .read-more-wrap button.read-more .circle, .company-left .read-more-wrap button.read-more .circle, .recruit-right .read-more-wrap button.read-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 1.625rem;
}

.msg-right-con .read-more-wrap button.read-more .circle .icon, .business-right .read-more-wrap button.read-more .circle .icon, .company-left .read-more-wrap button.read-more .circle .icon, .recruit-right .read-more-wrap button.read-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.msg-right-con .read-more-wrap button.read-more .circle .icon.arrow, .business-right .read-more-wrap button.read-more .circle .icon.arrow, .company-left .read-more-wrap button.read-more .circle .icon.arrow, .recruit-right .read-more-wrap button.read-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.msg-right-con .read-more-wrap button.read-more .circle .icon.arrow::before, .business-right .read-more-wrap button.read-more .circle .icon.arrow::before, .company-left .read-more-wrap button.read-more .circle .icon.arrow::before, .recruit-right .read-more-wrap button.read-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.msg-right-con .read-more-wrap button.read-more .read-more-button-text, .business-right .read-more-wrap button.read-more .read-more-button-text, .company-left .read-more-wrap button.read-more .read-more-button-text, .recruit-right .read-more-wrap button.read-more .read-more-button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
}

.msg-right-con .read-more-wrap button:hover .circle, .business-right .read-more-wrap button:hover .circle, .company-left .read-more-wrap button:hover .circle, .recruit-right .read-more-wrap button:hover .circle {
  width: 100%;
}

.msg-right-con .read-more-wrap button:hover .circle .icon.arrow, .business-right .read-more-wrap button:hover .circle .icon.arrow, .company-left .read-more-wrap button:hover .circle .icon.arrow, .recruit-right .read-more-wrap button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

.msg-right-con .read-more-wrap button:hover .read-more-button-text, .business-right .read-more-wrap button:hover .read-more-button-text, .company-left .read-more-wrap button:hover .read-more-button-text, .recruit-right .read-more-wrap button:hover .read-more-button-text {
  color: #fff;
}

@supports (display: grid) {
  .msg-right-con .read-more-wrap body, .business-right .read-more-wrap body, .company-left .read-more-wrap body, .recruit-right .read-more-wrap body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
        grid-template-areas: ". main main ." ". main main .";
  }
  .msg-right-con .read-more-wrap .read-more-container, .business-right .read-more-wrap .read-more-container, .company-left .read-more-wrap .read-more-container, .recruit-right .read-more-wrap .read-more-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: main;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

html,
body {
  -webkit-text-size-adjust: 100%;
}

header {
  width: 100%;
  height: 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  font-family: 'Sawarabi Mincho', sans-serif;
}

header .logo-wrap {
  width: 30%;
  height: 100%;
}

header .logo-wrap .logo-recruit {
  width: 40%;
  height: 100%;
  fill: #fff;
}

header .menu-icon-wrap {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*ドロワー*/
}

header .menu-icon-wrap .l-drawer {
  width: 16%;
  height: 100%;
  margin-left: 34%;
  position: relative;
}

@media (max-width: 425px) {
  header .menu-icon-wrap .l-drawer {
    height: 90%;
  }
}

@media (max-width: 375px) {
  header .menu-icon-wrap .l-drawer {
    height: 80%;
  }
}

@media (max-width: 320px) {
  header .menu-icon-wrap .l-drawer {
    height: 70%;
  }
}

header .menu-icon-wrap .menu-trigger,
header .menu-icon-wrap .l-drawer__icon-parts {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .menu-icon-wrap .menu-trigger {
  position: relative;
  width: 3vw;
  height: 2.4vw;
}

header .menu-icon-wrap .l-drawer__icon-parts {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2vw;
  background-color: #fff;
  border-radius: 4px;
}

header .menu-icon-wrap .l-drawer__icon-parts:nth-of-type(1) {
  top: 0;
}

header .menu-icon-wrap .l-drawer__icon-parts:nth-of-type(2) {
  top: 1.1vw;
}

header .menu-icon-wrap .l-drawer__icon-parts:nth-of-type(3) {
  bottom: 0;
}

header .menu-icon-wrap .menu-trigger:not(.active):hover span:nth-of-type(2) {
  width: 70%;
}

header .menu-icon-wrap .menu-trigger:not(.active):hover span:nth-of-type(3) {
  width: 35%;
}

header .menu-icon-wrap .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(1.1vw) rotate(-45deg);
  transform: translateY(1.1vw) rotate(-45deg);
}

header .menu-icon-wrap .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

header .menu-icon-wrap .menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-1.1vw) rotate(45deg);
  transform: translateY(-1.1vw) rotate(45deg);
}

header .menu-icon-wrap .l-drawer__icon-parts {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .menu-icon-wrap .l-drawer__checkbox {
  display: none;
}

header .menu-icon-wrap .l-drawer__icon {
  cursor: pointer;
  display: block;
  width: 3vw;
  height: 2.4vw;
  position: relative;
  z-index: 103;
}

header .menu-icon-wrap .l-drawer__overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

header .menu-icon-wrap .l-drawer__menu {
  background: #31353A;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top {
  width: auto;
  height: auto;
  position: relative;
  top: 16vw;
  left: 30%;
  color: #666B72;
}

@media (max-width: 768px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top {
    left: 2vw;
  }
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top .l-drawer__item {
  width: auto;
  height: 7vw;
  position: relative;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-top .l-drawer__item .l-drawer__item-top-inner {
  position: absolute;
  bottom: 0;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom {
  width: 50%;
  height: auto;
  position: relative;
  top: 16vw;
  left: 48%;
  color: #fff;
}

@media (max-width: 768px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom {
    width: 60%;
    left: 26%;
  }
}

@media (max-width: 425px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom {
    left: 34%;
  }
}

@media (max-width: 425px) {
  header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom {
    left: 36%;
  }
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom .l-drawer__item {
  width: auto;
  height: 7vw;
  position: relative;
}

header .menu-icon-wrap .l-drawer__menu .l-drawer__menu-bottom .l-drawer__item .l-drawer__item-bottom-inner {
  width: auto;
  position: absolute;
  bottom: 0.8vw;
}

header .menu-icon-wrap .l-drawer__icon {
  z-index: 3;
}

header .menu-icon-wrap .l-drawer__menu {
  z-index: 2;
}

header .menu-icon-wrap .l-drawer__overlay {
  z-index: 1;
}

header .menu-icon-wrap .l-drawer__checkbox:checked ~ .l-drawer__icon {
  background: transparent;
}

header .menu-icon-wrap .l-drawer__checkbox:checked ~ .l-drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

header .menu-icon-wrap .l-drawer__checkbox:checked ~ .l-drawer__menu {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu-icon-wrap .l-drawer__overlay, header .menu-icon-wrap .l-drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .menu-icon-wrap .header-menu {
  width: 30%;
  height: 100%;
  color: #fff;
  margin-right: 20%;
  position: relative;
  z-index: 103;
}

header .header-entry {
  width: 30%;
  height: 100%;
}

header .header-entry .header-entry-word {
  width: 50%;
  height: 4vw;
  background: #30343A;
  color: #fff;
}

.load-menu-slide-down {
  display: none;
}

.slide {
  width: 100%;
  height: 74vw;
  position: relative;
  top: 0;
}

@media (max-width: 768px) {
  .slide {
    height: 124vw;
  }
}

@media (max-width: 425px) {
  .slide {
    height: 144vw;
  }
}

@media (max-width: 320px) {
  .slide {
    height: 144vw;
  }
}

.slide-bg-img {
  width: 60%;
  height: 100%;
  background-image: url("../img/bg_mv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

@media (max-width: 768px) {
  .slide-bg-img {
    width: 100%;
    height: 70%;
  }
}

@media (max-width: 425px) {
  .slide-bg-img {
    height: 80%;
  }
}

@media (max-width: 375px) {
  .slide-bg-img {
    height: 84%;
  }
}

.slide .slide-container {
  width: 64%;
  height: 52vw;
  position: absolute;
  top: 16vw;
  right: 6%;
  z-index: 2;
}

@media (max-width: 768px) {
  .slide .slide-container {
    width: 100%;
    top: 76vw;
    left: 8vw;
    right: 0;
  }
}

@media (max-width: 425px) {
  .slide .slide-container {
    top: 90vw;
  }
}

.slide .slide-container .vegas-timer {
  visibility: hidden;
}

.slide-title-wrap {
  width: auto;
  height: auto;
  position: relative;
  top: 20vw;
  left: 14vw;
  color: #fff;
  z-index: 3;
  font-family: 'Sawarabi Mincho', sans-serif;
}

@media (max-width: 768px) {
  .slide-title-wrap {
    left: 2vw;
  }
}

.slide-title-wrap .slide-title-top {
  width: auto;
  height: auto;
  position: absolute;
  bottom: -3vw;
  display: none;
}

.slide-title-wrap .slide-title-bottom {
  width: auto;
  height: auto;
  position: absolute;
  bottom: -8vw;
  display: none;
}

@media (max-width: 425px) {
  .slide-title-wrap .slide-title-bottom {
    bottom: -9vw;
  }
}

.slide .slide-word-wrap {
  width: auto;
  height: auto;
  position: absolute;
  top: 32vw;
  left: 23vw;
  color: #fff;
  z-index: 3;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 1024px) {
  .slide .slide-word-wrap {
    left: 20vw;
  }
}

@media (max-width: 768px) {
  .slide .slide-word-wrap {
    left: 2vw;
  }
}

.slide .slide-word-wrap .slide-top-word-wrap, .slide .slide-word-wrap .slide-mid-word-wrap, .slide .slide-word-wrap .slide-bottom-word-wrap {
  width: auto;
  height: auto;
  margin-bottom: 2vw;
}

.slide .slide-word-wrap .slide-top-word-wrap .slide-top-word, .slide .slide-word-wrap .slide-mid-word-wrap .slide-top-word, .slide .slide-word-wrap .slide-bottom-word-wrap .slide-top-word, .slide .slide-word-wrap .slide-mid-word-wrap .slide-mid-word, .slide .slide-word-wrap .slide-bottom-word-wrap .slide-bottom-word {
  width: auto;
  height: auto;
  line-height: 1.6;
}

.slide .slide-word-wrap .slide-bottom-word-wrap {
  font-weight: bold;
}

.msg {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.msg-left {
  width: 45%;
  height: auto;
}

@media (max-width: 768px) {
  .msg-left {
    width: 100%;
  }
}

.msg-left-img {
  width: 100%;
  height: auto;
}

.msg-right {
  width: 65%;
  height: auto;
}

@media (max-width: 768px) {
  .msg-right {
    width: 100%;
    margin-bottom: 4vw;
  }
}

.msg-right-con {
  width: 94%;
  height: auto;
  margin: 0 0 0 6%;
}

.msg-right-con-title {
  width: 100%;
  height: auto;
  margin: 12% 0 10% 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.msg-right-con-word-wrap {
  width: 100%;
  height: auto;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.msg-right-con-word-wrap .msg-right-con-word {
  width: 100%;
  height: auto;
  margin: 2% 0 2% 0;
}

.msg-right-con .read-more-wrap {
  margin: 8vw 0 0 0;
}

.strength {
  width: 100%;
  height: auto;
  margin: 4% 0 10% 0;
}

@media (max-width: 425px) {
  .strength {
    margin: 10% 0 16% 0;
  }
}

.strength-title {
  width: 100%;
  height: 7vw;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.strength-outline {
  width: 90%;
  height: auto;
  margin: 0 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .strength-outline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.strength-outline .strength-con-wrap {
  width: 33%;
  height: auto;
}

@media (max-width: 768px) {
  .strength-outline .strength-con-wrap {
    width: 100%;
  }
}

.strength-outline .strength-con-wrap:not(:last-child) {
  border-right: 2px solid #E5E5E5;
}

@media (max-width: 768px) {
  .strength-outline .strength-con-wrap:not(:last-child) {
    border-right: 2px solid #fff;
  }
}

.strength-outline .strength-con-wrap .strength-con {
  width: 90%;
  height: auto;
  margin: 0 5% 0 5%;
}

.strength-outline .strength-con-wrap .strength-con-img-wrap {
  width: 100%;
  height: 16vw;
}

.strength-outline .strength-con-wrap .strength-con-img-wrap .strength-con-img1 {
  width: 40%;
  height: auto;
}

@media (max-width: 768px) {
  .strength-outline .strength-con-wrap .strength-con-img-wrap .strength-con-img1 {
    width: 10%;
  }
}

.strength-outline .strength-con-wrap .strength-con-img-wrap .strength-con-img2 {
  width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .strength-outline .strength-con-wrap .strength-con-img-wrap .strength-con-img2 {
    width: 20%;
  }
}

.strength-outline .strength-con-wrap .strength-con-title {
  width: 100%;
  height: 5vw;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.strength-outline .strength-con-wrap .strength-con-word {
  width: 72%;
  height: auto;
  margin: 0 14% 0 14%;
  color: #999999;
  font-family: 'Noto Sans JP', sans-serif;
}

.business {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 4% 0;
}

@media (max-width: 425px) {
  .business {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.business-left {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .business-left {
    width: 100%;
  }
}

.business-left-title {
  width: 90%;
  height: 100%;
  margin: 0 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.business-right {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .business-right {
    width: 100%;
  }
}

.business-right-word {
  width: 80%;
  height: auto;
  margin: 16% 18% 0 2%;
  color: #999999;
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 425px) {
  .business-right-word {
    margin: 0 10% 0 10%;
  }
}

.business-right .read-more-wrap {
  margin: 3vw 0 0 2%;
}

@media (max-width: 425px) {
  .business-right .read-more-wrap {
    margin-left: 10%;
  }
}

.mid-slide {
  width: 100%;
  height: auto;
  margin: 6vw 0 10vw 0;
}

.mid-slide .slick-dots {
  visibility: hidden;
}

.people {
  width: 100%;
  height: auto;
  position: relative;
}

.people-top-bg {
  width: 100%;
  height: 32vw;
  background: #fff;
}

@media (max-width: 768px) {
  .people-top-bg {
    height: 40vw;
  }
}

.people-top-bg .people-title {
  width: 92%;
  height: auto;
  margin: 2% 8% 2% 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.people-top-bg .people-word {
  width: 48%;
  height: auto;
  margin: 0 8% 0 44%;
  font-family: 'Noto Sans JP', sans-serif;
}

.people-bottom-bg {
  width: 100%;
  height: 106vw;
  background: #30343A;
  position: relative;
}

@media (max-width: 768px) {
  .people-bottom-bg {
    height: 220vw;
  }
}

.people-bottom-bg .people-all-btn {
  width: 80%;
  height: 8vw;
  background: #fff;
  position: absolute;
  top: 88vw;
  left: 10%;
  right: 10%;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 768px) {
  .people-bottom-bg .people-all-btn {
    top: 204vw;
  }
}

.people-item-wrap {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.people-item-wrap .people-item1, .people-item-wrap .people-item2, .people-item-wrap .people-item3, .people-item-wrap .people-item4, .people-item-wrap .people-item5, .people-item-wrap .people-item6 {
  width: 25%;
  height: 40vw;
  position: absolute;
  top: 18vw;
  left: 7%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item1, .people-item-wrap .people-item2, .people-item-wrap .people-item3, .people-item-wrap .people-item4, .people-item-wrap .people-item5, .people-item-wrap .people-item6 {
    width: 40%;
    height: 65vw;
    top: 22vw;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item1, .people-item-wrap .people-item2, .people-item-wrap .people-item3, .people-item-wrap .people-item4, .people-item-wrap .people-item5, .people-item-wrap .people-item6 {
    top: 25vw;
  }
}

.people-item-wrap .people-item1 .people-item-img-wrap, .people-item-wrap .people-item2 .people-item-img-wrap, .people-item-wrap .people-item3 .people-item-img-wrap, .people-item-wrap .people-item4 .people-item-img-wrap, .people-item-wrap .people-item5 .people-item-img-wrap, .people-item-wrap .people-item6 .people-item-img-wrap {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.people-item-wrap .people-item1 .people-item-img-wrap .people-item-img, .people-item-wrap .people-item2 .people-item-img-wrap .people-item-img, .people-item-wrap .people-item3 .people-item-img-wrap .people-item-img, .people-item-wrap .people-item4 .people-item-img-wrap .people-item-img, .people-item-wrap .people-item5 .people-item-img-wrap .people-item-img, .people-item-wrap .people-item6 .people-item-img-wrap .people-item-img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.people-item-wrap .people-item1 .people-item-img-wrap .people-item-img:hover, .people-item-wrap .people-item2 .people-item-img-wrap .people-item-img:hover, .people-item-wrap .people-item3 .people-item-img-wrap .people-item-img:hover, .people-item-wrap .people-item4 .people-item-img-wrap .people-item-img:hover, .people-item-wrap .people-item5 .people-item-img-wrap .people-item-img:hover, .people-item-wrap .people-item6 .people-item-img-wrap .people-item-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.people-item-wrap .people-item1 .people-item-con, .people-item-wrap .people-item2 .people-item-con, .people-item-wrap .people-item3 .people-item-con, .people-item-wrap .people-item4 .people-item-con, .people-item-wrap .people-item5 .people-item-con, .people-item-wrap .people-item6 .people-item-con {
  width: auto;
  height: auto;
  position: absolute;
  left: 2vw;
  bottom: 1vw;
  z-index: 2;
}

.people-item-wrap .people-item1 .people-item-con-name, .people-item-wrap .people-item2 .people-item-con-name, .people-item-wrap .people-item3 .people-item-con-name, .people-item-wrap .people-item4 .people-item-con-name, .people-item-wrap .people-item5 .people-item-con-name, .people-item-wrap .people-item6 .people-item-con-name {
  width: auto;
  height: auto;
  color: #fff;
  margin: 0 0 1.6vw 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.people-item-wrap .people-item1 .people-item-con-sub, .people-item-wrap .people-item2 .people-item-con-sub, .people-item-wrap .people-item3 .people-item-con-sub, .people-item-wrap .people-item4 .people-item-con-sub, .people-item-wrap .people-item5 .people-item-con-sub, .people-item-wrap .people-item6 .people-item-con-sub {
  width: auto;
  height: auto;
  color: #fff;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
}

.people-item-wrap .people-item2 {
  top: 26vw;
  left: 37.6%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item2 {
    top: 26vw;
    left: 53%;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item2 {
    top: 29vw;
  }
}

.people-item-wrap .people-item3 {
  top: 22vw;
  left: 68%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item3 {
    top: 94vw;
    left: 7%;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item3 {
    top: 98vw;
  }
}

.people-item-wrap .people-item4 {
  top: 63vw;
  left: 7%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item4 {
    top: 98vw;
    left: 53%;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item4 {
    top: 102vw;
  }
}

.people-item-wrap .people-item5 {
  top: 70vw;
  left: 37.6%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item5 {
    top: 164vw;
    left: 7%;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item5 {
    top: 168vw;
  }
}

.people-item-wrap .people-item6 {
  top: 67vw;
  left: 68%;
}

@media (max-width: 768px) {
  .people-item-wrap .people-item6 {
    top: 168vw;
    left: 53%;
  }
}

@media (max-width: 375px) {
  .people-item-wrap .people-item6 {
    top: 172vw;
  }
}

.company {
  width: 100%;
  height: auto;
  margin: 12vw 0 12vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.company-left {
  width: 47%;
  height: auto;
  margin-left: 3%;
}

@media (max-width: 425px) {
  .company-left {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 2vw;
  }
}

.company-left .company-title {
  width: 100%;
  height: auto;
  margin-bottom: 4vw;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.company-left .company-title-sub {
  width: 100%;
  height: auto;
  margin-bottom: 4vw;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.company-left .company-word {
  width: 100%;
  height: auto;
  margin-bottom: 4vw;
  color: #999999;
  font-family: 'Noto Sans JP', sans-serif;
}

.company-left .read-more-wrap {
  margin: 3vw 0 0 0;
}

.company-right {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .company-right {
    width: 100%;
  }
}

.company-right-img-wrap {
  width: 86%;
  height: auto;
}

.company-right-img-wrap .company-right-img {
  width: 100%;
  height: auto;
}

.recruit {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 12vw;
}

@media (max-width: 425px) {
  .recruit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recruit-left {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .recruit-left {
    width: 100%;
  }
}

.recruit-left-img-wrap {
  width: 86%;
  height: auto;
}

.recruit-left-img-wrap .recruit-left-img {
  width: 100%;
  height: auto;
}

.recruit-right {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .recruit-right {
    width: 90%;
    margin-left: 8%;
    margin-bottom: 2vw;
  }
}

.recruit-right .recruit-title {
  width: 96%;
  height: auto;
  margin: 0 0 4vw 4%;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.recruit-right .recruit-title-sub {
  width: 96%;
  height: auto;
  margin: 0 0 4vw 4%;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.recruit-right .recruit-word {
  width: 96%;
  height: auto;
  margin: 0 0 4vw 4%;
  color: #999999;
  font-family: 'Noto Sans JP', sans-serif;
}

.recruit-right .read-more-wrap {
  margin: 3vw 0 0 4%;
}

.links {
  width: 100%;
  height: auto;
  background: #F3F3F3;
  font-family: 'Noto Sans JP', sans-serif;
}

.links-top {
  width: 90%;
  height: auto;
  padding: 10vw 5% 14vw 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .links-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.links-top .links-logo-wrap {
  width: auto;
  height: auto;
}

.links-top .links-logo-wrap .links-logo-img {
  width: 10vw;
  height: auto;
}

@media (max-width: 425px) {
  .links-top .links-logo-wrap .links-logo-img {
    width: 20vw;
    margin-bottom: 6vw;
  }
}

.links-top .links-nav {
  width: auto;
  height: auto;
}

.links-top .links-nav-list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .links-top .links-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.links-top .links-nav-list-item {
  width: auto;
  height: auto;
}

@media (max-width: 425px) {
  .links-top .links-nav-list-item:not(:last-child) {
    margin-bottom: 2vw;
  }
}

.links-top .links-nav-list-item:not(:last-child) {
  margin-right: 2vw;
}

.links-bottom {
  width: 90%;
  padding: 0 5% 6vw 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .links-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.links-bottom-left {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  .links-bottom-left {
    width: 100%;
  }
}

.links-bottom-left-title {
  width: 100%;
  height: 2vw;
  margin: 1vw 0 1vw 0;
}

@media (max-width: 425px) {
  .links-bottom-left-title {
    margin-bottom: 4vw;
  }
}

.links-bottom-left .links-bottom-left-con-wrap {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-left, .links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-right {
  width: auto;
  height: auto;
  list-style-type: none;
  margin-right: 2vw;
  color: #A6A9B7;
  line-height: 2vw;
}

@media (max-width: 425px) {
  .links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-left, .links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-right {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-left-item:not(:last-child) {
    margin-bottom: 2vw;
  }
}

@media (max-width: 425px) {
  .links-bottom-left .links-bottom-left-con-wrap .links-bottom-left-list-right-item:not(:last-child) {
    margin-bottom: 2vw;
  }
}

.links-bottom-right {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 4vw;
}

@media (max-width: 425px) {
  .links-bottom-right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.links-bottom-right-list-left, .links-bottom-right-list-right {
  width: auto;
  height: auto;
  list-style-type: none;
  color: #A6A9B7;
  margin-right: 3vw;
}

@media (max-width: 425px) {
  .links-bottom-right-list-left, .links-bottom-right-list-right {
    margin-top: 4vw;
    margin-bottom: 2vw;
  }
}

.links-bottom-right-list-left-item, .links-bottom-right-list-right-item {
  width: auto;
  height: auto;
  line-height: 2vw;
}

@media (max-width: 425px) {
  .links-bottom-right-list-left-item:not(:last-child), .links-bottom-right-list-right-item:not(:last-child) {
    margin-bottom: 2vw;
  }
}

.links .cop-site {
  width: 90%;
  height: auto;
  margin: 0 5% 0 5%;
  padding-bottom: 4vw;
  border-bottom: 2px solid #E4E4E4;
  color: #A6A9B7;
}

footer {
  width: 90%;
  height: auto;
  background: #F3F3F3;
  padding: 6vw 5% 6vw 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A6A9B7;
}

@media (max-width: 425px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-left {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  footer .footer-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-left-img-container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-left-img-container .footer-left-img-wrap {
  width: auto;
  height: auto;
}

@media (max-width: 425px) {
  footer .footer-left-img-container .footer-left-img-wrap {
    margin-bottom: 4vw;
  }
}

footer .footer-left-img-container .footer-left-img-wrap .footer-left-img {
  width: 70%;
  height: auto;
}

footer .footer-left-word {
  width: 60%;
  height: auto;
}

@media (max-width: 425px) {
  footer .footer-left-word {
    width: 100%;
  }
}

footer .footer-right {
  width: 50%;
  height: auto;
}

@media (max-width: 425px) {
  footer .footer-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4vw;
  }
}

footer .footer-right .copy-right {
  width: auto;
  height: auto;
}
/*# sourceMappingURL=style.css.map */