/*レスポンシブ*/
$pc: 1024px;
$tab: 768px;
$tabs: 600px;
$md: 425px;
$mds: 375px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin tabs {
  @media (max-width: ($tabs)) {
    @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin mds {
    @media (max-width: ($mds)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

/*フォントサイズ*/

%font-140px{
  font-size:140px;
  font-size: calc(4.625rem + ((1vw - 10.25px) * 7.3743));
  min-height: 0vw;
}

%font-60px{
  font-size:60px;
  font-size: calc(1.9375rem + ((1vw - 10.25px) * 3.2402));
  min-height: 0vw;

  @include tab{
    font-size: calc(1.25rem + ((1vw - 3.2px) * 2.2321));
  }
}

%font-36px{
  font-size:36px;
  font-size: calc(1.1875rem + ((1vw - 10.25px) * 1.8994));
  min-height: 0vw;
}

%font-30px{
  font-size:30px;
  font-size: calc(0.9375rem + ((1vw - 10.25px) * 1.676));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.8929));
  }
}

%font-22px{
  font-size:22px;
  font-size: calc(1rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.8929));
  }
}

%font-16px{
  font-size:16px;
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;
}

/*代入*/
%flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%flex-center-ac-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
%flex-center-ac-fe{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

/*通常fadeinのcss*/
.fadein {
  opacity : 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

/* 順番に要素がfadein */
.fadein-in-order {
	opacity : 0.1;
	transform : translate(0, 100px);
  transition : all 1s;
  
  /* 2つ目の要素に200msのdelayをかける */
  &:nth-of-type(2) {
    -moz-transition-delay:200ms;
    -webkit-transition-delay:200ms;
    -o-transition-delay:200ms;
    -ms-transition-delay:200ms;
    transition-delay:200ms;
  }
  /* 3つ目の要素に400msのdelayをかける */
  &:nth-of-type(3) {
    -moz-transition-delay:400ms;
    -webkit-transition-delay:400ms;
    -o-transition-delay:400ms;
    -ms-transition-delay:400ms;
    transition-delay:400ms;
  }
}

    /* 画面内に入った状態 */
.fadein-in-order.scrollin {
	opacity : 1;
	transform : translate(0, 0);
}

.load-fade-in-left{
  opacity : 0;
	transform : translate(-200px, 0);
  transition : all 2s;

  /* 2つ目の要素に200msのdelayをかける */
  &:nth-of-type(2) {
    -moz-transition-delay:300ms;
    -webkit-transition-delay:300ms;
    -o-transition-delay:300ms;
    -ms-transition-delay:300ms;
    transition-delay:300ms;
  }
  /* 3つ目の要素に400msのdelayをかける */
  &:nth-of-type(3) {
    -moz-transition-delay:500ms;
    -webkit-transition-delay:500ms;
    -o-transition-delay:500ms;
    -ms-transition-delay:500ms;
    transition-delay:500ms;
  }  
}

.load-fade-in-left.loadin{
  opacity : 1;
	transform : translate(0, 0);
}

/* read more共通 */
%read-more-common{
  $bg: #f3f8fa;
  $white: #fff;
  $black: #000;

  @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {transition: $property $duration $ease;}

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    &.read-more {
      width: 12rem;
      height: auto;

      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $black;
        border-radius: 1.625rem;

        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;

          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;

            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }

      .read-more-button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Noto Sans JP', sans-serif;
      }
    }

    &:hover {

      .circle {
        width: 100%;

        .icon {
          &.arrow {
          background: $white;
          transform: translate(1rem, 0);
          }
        }
      }

      .read-more-button-text {
        color: $white;
      }
    }
  }
  
  @supports (display: grid) {

    body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }
    
    .read-more-container {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }
}


html,
body{
  -webkit-text-size-adjust: 100%;
}

header{
  width:100%;
  height:14vw;
  display:flex;
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  font-family: 'Sawarabi Mincho', sans-serif;

  .logo-wrap{
    width:30%;
    height:100%;
    @extend %flex-center;

    .logo-recruit{
      width:40%;
      height:100%;
      fill:#fff;
    }
  }

  .menu-icon-wrap{
    width:30%;
    height:100%;
    display:flex;

    /*ドロワー*/
    .l-drawer {
      width:16%;
      height:100%;
      margin-left:34%;
      position:relative;
      @extend %flex-center;

      @include md{
        height:90%;
      }

      @include mds{
        height:80%;
      }

      @include sm{
        height:70%;
      }
    }

    .menu-trigger,
    .l-drawer__icon-parts{
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-trigger {
      position: relative;
      width: 3vw;
      height: 2.4vw;
    }

    .l-drawer__icon-parts {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2vw;
      background-color: #fff;
      border-radius: 4px;
    }

    .l-drawer__icon-parts:nth-of-type(1) {
      top: 0;
    }

    .l-drawer__icon-parts:nth-of-type(2) {
      top: 1.1vw;
    }

    .l-drawer__icon-parts:nth-of-type(3) {
      bottom: 0;
    }

    .menu-trigger:not(.active):hover span:nth-of-type(2) {
      width: 70%;
    }

    .menu-trigger:not(.active):hover span:nth-of-type(3) {
      width: 35%;
    }

    .menu-trigger.active span:nth-of-type(1) {
      -webkit-transform: translateY(1.1vw) rotate(-45deg);
      transform: translateY(1.1vw) rotate(-45deg);
    }

    .menu-trigger.active span:nth-of-type(2) {
      opacity: 0;
    }

    .menu-trigger.active span:nth-of-type(3) {
      -webkit-transform: translateY(-1.1vw) rotate(45deg);
      transform: translateY(-1.1vw) rotate(45deg);
    }

    .l-drawer__icon-parts{
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
    }

    .l-drawer__checkbox {
      display: none;
    }

    .l-drawer__icon {
      cursor: pointer;
      display: block;
      width: 3vw;
      height: 2.4vw;
      position:relative;
      z-index:103;
    }

    .l-drawer__overlay {
      background: #000;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
    }

    .l-drawer__menu {
      background: #31353A;
      max-width: 100%;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: fixed;
      top: 0;
      left:0;
      right:0;
      bottom:0;
      display:none;

      .l-drawer__menu-top{
        width:auto;
        height:auto;
        position:relative;
        top:16vw;
        left:30%;
        @extend %font-60px;
        color:#666B72;

        @include tab{
          left:2vw;
        }

        .l-drawer__item{
          width:auto;
          height:7vw;
          position:relative;
          @extend %flex-center-ac-fs;

          .l-drawer__item-top-inner{
            position:absolute;
            bottom:0;
          }
        }
      }
  
      .l-drawer__menu-bottom{
        width:50%;
        height:auto;
        position:relative;
        top:16vw;
        left:48%;
        @extend %font-30px;
        color:#fff;

        @include tab{
          width:60%;
          left:26%;
        }

        @include md{
          left:34%;
        }

        @include md{
          left:36%;
        }

        .l-drawer__item{
          width:auto;
          height:7vw;
          position:relative;
          
          .l-drawer__item-bottom-inner{
            width:auto;
            position:absolute;
            bottom:0.8vw;
          }
        }
      }
    }

    .l-drawer__icon {
      z-index: 3;
    }

    .l-drawer__menu {
      z-index: 2;
    }

    .l-drawer__overlay {
      z-index: 1;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__icon {
      background: transparent;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__overlay {
      opacity: 0.3;
      pointer-events: auto;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__menu {
      right: 0;
      display:flex;
    }

    .l-drawer__overlay, .l-drawer__menu {
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
    }

    .header-menu{
      width:30%;
      height:100%;
      @extend %flex-center;
      @extend %font-36px;
      color:#fff;
      margin-right:20%;
      position:relative;
      z-index:103;
    }
  }

  .header-entry{
    width:30%;
    height:100%;
    @extend %flex-center;
    @extend %font-36px;

    .header-entry-word{
      width:50%;
      height:4vw;
      background:#30343A;
      @extend %flex-center;
      color:#fff;
    }
  }
}

.load-menu-slide-down{
  display:none;
}

.slide{
  width:100%;
  height:74vw;
  position:relative;
  top:0;

  @include tab{
    height:124vw;
  }

  @include md{
    height:144vw;
  }

  @include sm{
    height:144vw;
  }

  &-bg-img{
    width:60%;
    height:100%;
    background-image:url("../img/bg_mv.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    display:none;

    @include tab{
      width:100%;
      height:70%;
    }

    @include md{
      height:80%;
    }

    @include mds{
      height:84%;
    }
  }

  .slide-container{
    width:64%;
    height:52vw;
    position:absolute;
    top:16vw;
    right:6%;
    z-index:2;

    @include tab{
      width:100%;
      top:76vw;
      left:8vw;
      right:0;
    }

    @include md{
      top:90vw;
    }

    .vegas-timer{
      visibility:hidden;
    }
  }

  &-title-wrap{
    width:auto;
    height:auto;
    position:relative;
    top:20vw;
    left:14vw;
    color:#fff;
    @extend %font-60px;
    z-index:3;
    font-family: 'Sawarabi Mincho', sans-serif;

    @include tab{
      left:2vw;
    }

    .slide-title-top{
      width:auto;
      height:auto;
      position:absolute;
      bottom:-3vw;
      display:none;
    }
    .slide-title-bottom{
      width:auto;
      height:auto;
      position:absolute;
      bottom:-8vw;
      display:none;

      @include md{
        bottom:-9vw;
      }
    }
  }

  .slide-word-wrap{
    width:auto;
    height:auto;
    position:absolute;
    top:32vw;
    left:23vw;
    color:#fff;
    @extend %font-22px;
    z-index:3;
    font-family: 'Noto Sans JP', sans-serif;
    
    @include pc{
      left:20vw;
    }

    @include tab{
      left:2vw;
    }

    .slide-top-word-wrap{
      width:auto;
      height:auto;
      margin-bottom:2vw;

      .slide-top-word{
        width:auto;
        height:auto;
        line-height:1.6;
      }
    }

    .slide-mid-word-wrap{
      @extend .slide-top-word-wrap;

      .slide-mid-word{
        @extend .slide-top-word;
      }
    }

    .slide-bottom-word-wrap{
      @extend .slide-top-word-wrap;
      font-weight:bold;

      .slide-bottom-word{
        @extend .slide-top-word;
      }
    }
  }
}

.msg{
  width:100%;
  height:auto;
  display:flex;

  @include tab{
    flex-direction:column-reverse;
  }

  &-left{
    width:45%;
    height:auto;

    @include tab{
      width:100%;
    }

    &-img{
      width:100%;
      height:auto;
    }
  }

  &-right{
    width:65%;
    height:auto;

    @include tab{
      width:100%;
      margin-bottom:4vw;
    }

    &-con{
      width:94%;
      height:auto;
      margin:0 0 0 6%;

      &-title{
        width:100%;
        height:auto;
        @extend %font-60px;
        @extend %flex-center-ac-fs;
        margin:12% 0 10% 0;
        font-family: 'Sawarabi Mincho', sans-serif;
      }

      &-word-wrap{
        width:100%;
        height:auto;
        @extend %font-60px;
        font-family: 'Sawarabi Mincho', sans-serif;

        .msg-right-con-word{
          width:100%;
          height:auto;
          margin:2% 0 2% 0;
        }
      }

      .read-more-wrap{
        @extend %read-more-common;
        margin:8vw 0 0 0;
      }
    }
  }
}

.strength{
  width:100%;
  height:auto;
  margin:4% 0 10% 0;

  @include md{
    margin:10% 0 16% 0;
  }

  &-title{
    width:100%;
    height:7vw;
    @extend %flex-center;
    @extend %font-60px;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

  &-outline{
    width:90%;
    height:auto;
    margin:0 5% 0 5%;
    display:flex;
    justify-content:space-between;

    @include tab{
      flex-direction:column;
    }

    .strength-con-wrap{
      width:33%;
      height:auto;

      @include tab{
        width:100%;
      }
      
      &:not(:last-child){
        border-right:2px solid #E5E5E5;

        @include tab{
          border-right:2px solid #fff;
        }
      }

      .strength-con{
        width:90%;
        height:auto;
        margin:0 5% 0 5%;

        &-img-wrap{
          width:100%;
          height:16vw;
          @extend %flex-center;

          .strength-con-img1{
            width:40%;
            height:auto;

            @include tab{
              width:10%;
            }
          }

          .strength-con-img2{
            width:90%;
            height:auto;

            @include tab{
              width:20%;
            }
          }
        }

        &-title{
          width:100%;
          height:5vw;
          @extend %flex-center;
          @extend %font-30px;
          font-family: 'Sawarabi Mincho', sans-serif;
        }

        &-word{
          width:72%;
          height:auto;
          margin:0 14% 0 14%;
          @extend %flex-center;
          @extend %font-22px;
          color:#999999;
          font-family: 'Noto Sans JP', sans-serif;
        }
      }
    }
  }
}

.business{
  width:100%;
  height:auto;
  display:flex;
  margin:0 0 4% 0;

  @include md{
    flex-direction:column;
  }

  &-left{
    width:50%;
    height:auto;
    
    @include md{
      width:100%;
    }

    &-title{
      width:90%;
      height:100%;
      margin:0 0 0 10%;
      display:flex;
      align-items:center;
      justify-content:flex-start;
      @extend %font-140px;
      font-family: 'Sawarabi Mincho', sans-serif;
    }
  }

  &-right{
    width:50%;
    height:auto;

    @include md{
      width:100%;
    }

    &-word{
      width:80%;
      height:auto;
      margin:16% 18% 0 2%;
      @extend %font-22px;
      color:#999999;
      line-height:2;
      font-family: 'Noto Sans JP', sans-serif;

      @include md{
        margin:0 10% 0 10%;
      }
    }

    .read-more-wrap{
      @extend %read-more-common;
      margin:3vw 0 0 2%;

      @include md{
        margin-left:10%;
      }
    }
  }
}

.mid-slide{
  width:100%;
  height:auto;
  margin:6vw 0 10vw 0;

  .slick-dots{
    visibility:hidden;
  }
}

.people{
  width:100%;
  height:auto;
  position:relative;

  &-top-bg{
    width:100%;
    height:32vw;
    background:#fff;

    @include tab{
      height:40vw;
    }

    .people-title{
      width:92%;
      height:auto;
      margin:2% 8% 2% 0;
      @extend %font-140px;
      @extend %flex-center-ac-fe;
      font-family: 'Sawarabi Mincho', sans-serif;
    }

    .people-word{
      width:48%;
      height:auto;
      margin:0 8% 0 44%;
      @extend %font-22px;
      font-family: 'Noto Sans JP', sans-serif;
    }
  }

  &-bottom-bg{
    width:100%;
    height:106vw;
    background:#30343A;
    position:relative;

    @include tab{
      height:220vw;
    }

    .people-all-btn{
      width:80%;
      height:8vw;
      background:#fff;
      position:absolute;
      top:88vw;
      left:10%;
      right:10%;
      @extend %flex-center;
      @extend %font-30px;
      font-family: 'Noto Sans JP', sans-serif;

      @include tab{
        top:204vw;
      }
    }
  }

  &-item-wrap{
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;

    .people-item1{
      width:25%;
      height:40vw;
      position:absolute;
      top:18vw;
      left:7%;

      @include tab{
        width:40%;
        height:65vw;
        top:22vw;
      }

      @include mds{
        top:25vw;
      }

      .people-item-img-wrap{
        width:100%;
        height:auto;
        position:absolute;
        top:0;
        overflow:hidden;

        .people-item-img{
          width:100%;
          height:auto;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;

          &:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }

      .people-item-con{
        width:auto;
        height:auto;
        position:absolute;
        left:2vw;
        bottom:1vw;
        z-index:2;

        &-name{
          width:auto;
          height:auto;
          @extend %font-60px;
          color:#fff;
          margin:0 0 1.6vw 0;
          font-family: 'Sawarabi Mincho', sans-serif;
        }

        &-sub{
          width:auto;
          height:auto;
          @extend %font-22px;
          color:#fff;
          line-height:1.6;
          font-family: 'Noto Sans JP', sans-serif;
        }
      }
    }

    .people-item2{
      @extend .people-item1;
      top:26vw;
      left:37.6%;

      @include tab{
        top:26vw;
        left:53%;
      }

      @include mds{
        top:29vw;
      }
    }
    .people-item3{
      @extend .people-item1;
      top:22vw;
      left:68%;

      @include tab{
        top:94vw;
        left:7%;
      }

      @include mds{
        top:98vw;
      }
    }
    .people-item4{
      @extend .people-item1;
      top:63vw;
      left:7%;

      @include tab{
        top:98vw;
        left:53%;
      }

      @include mds{
        top:102vw;
      }
    }
    .people-item5{
      @extend .people-item1;
      top:70vw;
      left:37.6%;

      @include tab{
        top:164vw;
        left:7%;
      }

      @include mds{
        top:168vw;
      }
    }
    .people-item6{
      @extend .people-item1;
      top:67vw;
      left:68%;

      @include tab{
        top:168vw;
        left:53%;
      }

      @include mds{
        top:172vw;
      }
    }
  }
}

.company{
  width:100%;
  height:auto;
  margin:12vw 0 12vw 0;
  display:flex;

  @include md{
    flex-direction:column;
  }

  &-left{
    width:47%;
    height:auto;
    margin-left:3%;

    @include md{
      width:90%;
      margin-left:10%;
      margin-bottom:2vw;
    }

    .company-title{
      width:100%;
      height:auto;
      @extend %font-140px;
      margin-bottom:4vw;
      font-family: 'Sawarabi Mincho', sans-serif;
    }

    .company-title-sub{
      width:100%;
      height:auto;
      @extend %font-36px;
      margin-bottom:4vw;
      font-family: 'Sawarabi Mincho', sans-serif;
    }

    .company-word{
      width:100%;
      height:auto;
      @extend %font-22px;
      margin-bottom:4vw;
      color:#999999;
      font-family: 'Noto Sans JP', sans-serif;
    }

    .read-more-wrap{
      @extend %read-more-common;
      margin:3vw 0 0 0;
    }
  }

  &-right{
    width:50%;
    height:auto;
    @extend %flex-center;

    @include md{
      width:100%;
    }

    &-img-wrap{
      width:86%;
      height:auto;

      .company-right-img{
        width:100%;
        height:auto;
      }
    }
  }
}

.recruit{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:row-reverse;
  margin-bottom:12vw;

  @include md{
    flex-direction:column;
  }

  &-left{
    width:50%;
    height:auto;
    @extend %flex-center;

    @include md{
      width:100%;
    }

    &-img-wrap{
      width:86%;
      height:auto;

      .recruit-left-img{
        width:100%;
        height:auto;
      }
    }
  }

  &-right{
    width:50%;
    height:auto;

    @include md{
      width:90%;
      margin-left:8%;
      margin-bottom:2vw;
    }

    .recruit-title{
      width:96%;
      height:auto;
      @extend %font-140px;
      margin:0 0 4vw 4%;
      font-family: 'Sawarabi Mincho', sans-serif;
    }

    .recruit-title-sub{
      width:96%;
      height:auto;
      @extend %font-36px;
      margin:0 0 4vw 4%;
      font-family: 'Sawarabi Mincho', sans-serif;
    }

    .recruit-word{
      width:96%;
      height:auto;
      @extend %font-22px;
      margin:0 0 4vw 4%;
      color:#999999;
      font-family: 'Noto Sans JP', sans-serif;
    }

    .read-more-wrap{
      @extend %read-more-common;
      margin:3vw 0 0 4%;
    }
  }
}

.links{
  width:100%;
  height:auto;
  background:#F3F3F3;
  font-family: 'Noto Sans JP', sans-serif;

  &-top{
    width:90%;
    height:auto;
    padding:10vw 5% 14vw 5%;
    display:flex;
    justify-content:space-between;

    @include md{
      flex-direction:column;
    }

    .links-logo-wrap{
      width:auto;
      height:auto;

      .links-logo-img{
        width:10vw;
        height:auto;

        @include md{
          width:20vw;
          margin-bottom:6vw;
        }
      }
    }

    .links-nav{
      width:auto;
      height:auto;
      
      &-list{
        width:100%;
        height:auto;
        display:flex;
        justify-content:space-between;

        @include md{
          flex-direction:column;
        }

        &-item{
          width:auto;
          height:auto;
          @extend %font-16px;

          @include md{
            &:not(:last-child){
              margin-bottom:2vw;
            }
          }

          &:not(:last-child){
            margin-right:2vw;
          }
        }
      }
    }
  }

  &-bottom{
    width:90%;
    padding:0 5% 6vw 5%;
    display:flex;

    @include md{
      flex-direction:column;
    }

    &-left{
      width:50%;
      height:auto;
      @extend %font-16px;

      @include md{
        width:100%;
      }

      &-title{
        width:100%;
        height:2vw;
        margin:1vw 0 1vw 0;

        @include md{
          margin-bottom:4vw;
        }
      }

      .links-bottom-left-con-wrap{
        width:100%;
        height:auto;
        display:flex;

        .links-bottom-left-list-left{
          width:auto;
          height:auto;
          list-style-type:none;
          margin-right:2vw;
          color:#A6A9B7;
          line-height:2vw;

          @include md{
            width:50%;
          }

          &-item{

            @include md{
              &:not(:last-child){
                margin-bottom:2vw;
              }
            }
          }
        }

        .links-bottom-left-list-right{
          @extend .links-bottom-left-list-left;

          &-item{
            @include md{
              &:not(:last-child){
                margin-bottom:2vw;
              }
            }
          }
        }
      }
    }

    &-right{
      width:50%;
      height:auto;
      display:flex;
      justify-content:flex-end;
      margin-top:4vw;
      @extend %font-16px;

      @include md{
        width:100%;
        flex-direction:column;
      }

      &-list-left{
        width:auto;
        height:auto;
        list-style-type:none;
        color:#A6A9B7;
        margin-right:3vw;

        @include md{
          margin-top:4vw;
          margin-bottom:2vw;
        }

        &-item{
          width:auto;
          height:auto;
          line-height:2vw;

          @include md{
            &:not(:last-child){
              margin-bottom:2vw;
            }
          }
        }
      }

      &-list-right{
        @extend .links-bottom-right-list-left;

        &-item{
          @extend .links-bottom-right-list-left-item;
        }
      }
    }
  }

  .cop-site{
    width:90%;
    height:auto;
    margin:0 5% 0 5%;
    padding-bottom:4vw;
    border-bottom:2px solid #E4E4E4;
    color:#A6A9B7;
    @extend %font-16px;
  }
}

footer{
  width:90%;
  height:auto;
  background:#F3F3F3;
  padding:6vw 5% 6vw 5%;
  display:flex;
  @extend %font-16px;
  color:#A6A9B7;

  @include md{
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .footer-left{
    width:50%;
    height:auto;
    display:flex;

    @include md{
      width:100%;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }

    &-img-container{
      width:auto;
      display:flex;

      .footer-left-img-wrap{
        width:auto;
        height:auto;
        @extend %flex-center;

        @include md{
          margin-bottom:4vw;
        }

        .footer-left-img{
          width:70%;
          height:auto;
        }
      }
    }

    &-word{
      width:60%;
      height:auto;

      @include md{
        width:100%;
      }
    }
  }

  .footer-right{
    width:50%;
    height:auto;
    @extend %flex-center-ac-fe;

    @include md{
      width:100%;
      justify-content:center;
      align-items:center;
      margin-top:4vw;
    }

    .copy-right{
      width:auto;
      height:auto;
    }
  }
}