@charset "UTF-8";
/*レスポンシブ*/
/*代入*/
header .site-title-wrap .logo-img-wrap, header .site-title-wrap .site-title, .main-img .big-site-title, .brand-left, .brand-right, .mission-main .mission-left, .mission-main .mission-right, .mission-main .mission-right-img-wrap, .interview-right, .career-left, .career-right-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-right .all-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*カラー*/
/*フォントサイズ*/
.main-img .big-site-title, .brand-left-con .brand-left-title-wrap {
  font-size: calc(6.25rem + ((1vw - 7.69px) * 4.4668));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .main-img .big-site-title, .brand-left-con .brand-left-title-wrap {
    font-size: calc(6.25rem + ((1vw - 4.26px) * 11.6959));
  }
}

header .glnav .menu-left .menu-left-list, header .glnav .menu-right .menu-left-list, .brand-right-con .brand-right-sub-title, .mission-main .mission-left-con .mission-left-title, .service-header .service-title, .service-list-wrap .service-list-item-title, .interview-right-con-header .interview-right-con-title, .member-header .member-title, .career-left-con .career-title, .news-left .news-title, footer .footer-mid .footer-mid-word, footer .footer-right {
  font-size: calc(0.875rem + ((1vw - 10.25px) * 1.4332));
  min-height: 0vw;
}

@media (max-width: 1024px) {
  header .glnav .menu-left .menu-left-list, header .glnav .menu-right .menu-left-list, .brand-right-con .brand-right-sub-title, .mission-main .mission-left-con .mission-left-title, .service-header .service-title, .service-list-wrap .service-list-item-title, .interview-right-con-header .interview-right-con-title, .member-header .member-title, .career-left-con .career-title, .news-left .news-title, footer .footer-mid .footer-mid-word, footer .footer-right {
    font-size: calc(1rem + ((1vw - 7.69px) * 0.7843));
  }
}

@media (max-width: 768px) {
  header .glnav .menu-left .menu-left-list, header .glnav .menu-right .menu-left-list, .brand-right-con .brand-right-sub-title, .mission-main .mission-left-con .mission-left-title, .service-header .service-title, .service-list-wrap .service-list-item-title, .interview-right-con-header .interview-right-con-title, .member-header .member-title, .career-left-con .career-title, .news-left .news-title, footer .footer-mid .footer-mid-word, footer .footer-right {
    font-size: calc(1.75rem + ((1vw - 4.26px) * 1.462));
  }
}

@media (max-width: 375px) {
  header .glnav .menu-left .menu-left-list, header .glnav .menu-right .menu-left-list, .brand-right-con .brand-right-sub-title, .mission-main .mission-left-con .mission-left-title, .service-header .service-title, .service-list-wrap .service-list-item-title, .interview-right-con-header .interview-right-con-title, .member-header .member-title, .career-left-con .career-title, .news-left .news-title, footer .footer-mid .footer-mid-word, footer .footer-right {
    font-size: calc(1rem + ((1vw - 3.2px) * 3.6364));
  }
}

header .glnav .menu-right .menu-right-list, header .glnav .menu-right .menu-location-wrap .menu-location-word, .career-left-con .career-title-sub {
  font-size: calc(0.75rem + ((1vw - 10.25px) * 1.1726));
  min-height: 0vw;
}

@media (max-width: 768px) {
  header .glnav .menu-right .menu-right-list, header .glnav .menu-right .menu-location-wrap .menu-location-word, .career-left-con .career-title-sub {
    font-size: calc(1.125rem + ((1vw - 4.26px) * 1.1696));
  }
}

.brand-right-con .brand-right-word-wrap, .mission-main .mission-left-con .mission-left-word, .member .member-slide-wrap .member-slide-list-item .member-name, .news-right .news-list-item-top-date, .news-right .news-list-item-top-subtitle {
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.9772));
  min-height: 0vw;
}

@media (max-width: 1024px) {
  .brand-right-con .brand-right-word-wrap, .mission-main .mission-left-con .mission-left-word, .member .member-slide-wrap .member-slide-list-item .member-name, .news-right .news-list-item-top-date, .news-right .news-list-item-top-subtitle {
    font-size: calc(0.875rem + ((1vw - 7.69px) * 0.7843));
  }
}

@media (max-width: 768px) {
  .brand-right-con .brand-right-word-wrap, .mission-main .mission-left-con .mission-left-word, .member .member-slide-wrap .member-slide-list-item .member-name, .news-right .news-list-item-top-date, .news-right .news-list-item-top-subtitle {
    font-size: calc(1rem + ((1vw - 4.26px) * 0.5848));
  }
}

@media (max-width: 320px) {
  .brand-right-con .brand-right-word-wrap, .mission-main .mission-left-con .mission-left-word, .member .member-slide-wrap .member-slide-list-item .member-name, .news-right .news-list-item-top-date, .news-right .news-list-item-top-subtitle {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 3.6364));
  }
}

.service-list-wrap .service-list-item-word, .member .member-slide-wrap .member-slide-list-item .member-name-sub, .career-left-con .career-left-word, .news-right .news-list-item-bottom-word {
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.7818));
  min-height: 0vw;
}

@media (max-width: 1024px) {
  .service-list-wrap .service-list-item-word, .member .member-slide-wrap .member-slide-list-item .member-name-sub, .career-left-con .career-left-word, .news-right .news-list-item-bottom-word {
    font-size: calc(0.875rem + ((1vw - 7.69px) * 0.7843));
  }
}

@media (max-width: 768px) {
  .service-list-wrap .service-list-item-word, .member .member-slide-wrap .member-slide-list-item .member-name-sub, .career-left-con .career-left-word, .news-right .news-list-item-bottom-word {
    font-size: calc(1rem + ((1vw - 4.26px) * 0.5848));
  }
}

@media (max-width: 320px) {
  .service-list-wrap .service-list-item-word, .member .member-slide-wrap .member-slide-list-item .member-name-sub, .career-left-con .career-left-word, .news-right .news-list-item-bottom-word {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 3.6364));
  }
}

header .site-title-wrap .site-title, .brand-left-con .brand-left-sub-title, .mission-main .mission-left-con .mission-left-sub-title, .service-header .service-all-wrap, .interview-right-con-header .all-interviews, .interview-right-con .interview-right-list-item, .member-header .member-all-wrap, .career-left-con .view-all {
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.6515));
  min-height: 0vw;
}

@media (max-width: 1024px) {
  header .site-title-wrap .site-title, .brand-left-con .brand-left-sub-title, .mission-main .mission-left-con .mission-left-sub-title, .service-header .service-all-wrap, .interview-right-con-header .all-interviews, .interview-right-con .interview-right-list-item, .member-header .member-all-wrap, .career-left-con .view-all {
    font-size: calc(1rem + ((1vw - 7.69px) * 1.5686));
  }
}

@media (max-width: 768px) {
  header .site-title-wrap .site-title, .brand-left-con .brand-left-sub-title, .mission-main .mission-left-con .mission-left-sub-title, .service-header .service-all-wrap, .interview-right-con-header .all-interviews, .interview-right-con .interview-right-list-item, .member-header .member-all-wrap, .career-left-con .view-all {
    font-size: calc(1rem + ((1vw - 4.26px) * 0.5848));
  }
}

@media (max-width: 375px) {
  header .site-title-wrap .site-title, .brand-left-con .brand-left-sub-title, .mission-main .mission-left-con .mission-left-sub-title, .service-header .service-all-wrap, .interview-right-con-header .all-interviews, .interview-right-con .interview-right-list-item, .member-header .member-all-wrap, .career-left-con .view-all {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 3.6364));
  }
}

/*画像徐々にフェードイン*/
.img-animation {
  -webkit-animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
          animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
}

.img-animation:before {
  -webkit-animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@-webkit-keyframes img-opacity {
  0% {
    opacity: 0;
  }
}

@keyframes img-opacity {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes img-animation {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes img-animation {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

/*要素下からフェードイン*/
.brand-left, .brand-right, .interview-right, .career-left, .career-right, .news-left, .news-right {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.brand-left.move, .brand-right.move, .interview-right.move, .career-left.move, .career-right.move, .news-left.move, .news-right.move {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
  opacity: 0;
}

html,
body {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  background: #F5F5F5;
  font-family: 'Noto Sans JP', sans-serif;
}

.open-menu-scroll-prevent {
  overflow: hidden;
}

header {
  width: 100%;
  height: 10vw;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .site-title-wrap {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .site-title-wrap .logo-img-wrap {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  header .site-title-wrap .logo-img-wrap {
    width: 40%;
  }
}

header .site-title-wrap .logo-img-wrap #Ebene_1 {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  header .site-title-wrap .logo-img-wrap #Ebene_1 {
    width: 80%;
  }
}

header .site-title-wrap .site-title {
  width: auto;
  height: auto;
  color: #0B445E;
}

header .glnav {
  width: 10vw;
  height: 10vw;
  /*ドロワー*/
}

header .glnav .l-drawer {
  position: relative;
}

header .glnav .l-drawer__checkbox {
  display: none;
}

header .glnav .l-drawer__icon {
  cursor: pointer;
  display: block;
  width: 5vw;
  height: 5vw;
  position: fixed;
  top: 2vw;
  right: 2vw;
  background: #0B445E;
  border-radius: 10vw;
}

@media (max-width: 425px) {
  header .glnav .l-drawer__icon {
    width: 10vw;
    height: 10vw;
  }
}

header .glnav .l-drawer__icon-parts, header .glnav .l-drawer__icon-parts:before, header .glnav .l-drawer__icon-parts:after {
  background-color: #fff;
  display: block;
  width: 2vw;
  height: 0.2vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 425px) {
  header .glnav .l-drawer__icon-parts, header .glnav .l-drawer__icon-parts:before, header .glnav .l-drawer__icon-parts:after {
    width: 6vw;
    height: 0.4vw;
  }
}

header .glnav .l-drawer__icon-parts:before, header .glnav .l-drawer__icon-parts:after {
  content: " ";
}

header .glnav .l-drawer__icon-parts:before {
  top: 1vw;
}

@media (max-width: 425px) {
  header .glnav .l-drawer__icon-parts:before {
    top: 3vw;
  }
}

header .glnav .l-drawer__icon-parts:after {
  top: -1vw;
}

@media (max-width: 425px) {
  header .glnav .l-drawer__icon-parts:after {
    top: -3vw;
  }
}

header .glnav .l-drawer__overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

header .glnav .l-drawer__menu {
  background: #0B445E;
  color: #000;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .glnav .l-drawer__icon {
  z-index: 4;
}

header .glnav .l-drawer__menu {
  z-index: 3;
}

header .glnav .l-drawer__overlay {
  z-index: 2;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
  background: transparent;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__icon {
  background: #fff;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  background: #0B445E;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  background: #0B445E;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

header .glnav .l-drawer__checkbox:checked ~ .l-drawer__menu {
  left: 0;
}

header .glnav .l-drawer__icon-parts, header .glnav .l-drawer__icon-parts:after, header .glnav .l-drawer__icon-parts:before, header .glnav .l-drawer__overlay, header .glnav nav.l-drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .glnav .menu-img-wrap {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../img/menu_video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  header .glnav .menu-img-wrap {
    display: none;
  }
}

header .glnav .menu-img-wrap .menu-img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
  position: absolute;
  top: 0;
  left: -10%;
}

header .glnav .img-animation {
  -webkit-animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
          animation: img-opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative;
}

header .glnav .img-animation:before {
  -webkit-animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
          animation: img-animation 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background: #0B445E;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-opacity {
  0% {
    opacity: 0;
  }
}

@keyframes img-animation {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

header .glnav .menu-left, header .glnav .menu-right {
  width: 25%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  header .glnav .menu-left, header .glnav .menu-right {
    width: 50%;
  }
}

header .glnav .menu-left .menu-left-list, header .glnav .menu-right .menu-left-list {
  width: auto;
  height: auto;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 6vw;
  right: 0;
  bottom: 0;
}

header .glnav .menu-left .menu-left-list .menu-left-list-item, header .glnav .menu-right .menu-left-list .menu-left-list-item {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
}

header .glnav .menu-right .menu-right-list {
  width: auto;
  height: auto;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
}

header .glnav .menu-right .menu-right-list .menu-right-list-item {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
}

header .glnav .menu-right .menu-location-wrap {
  width: auto;
  height: auto;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
}

header .glnav .menu-right .menu-location-wrap .menu-location-word {
  padding: 0.6vw 0 0.6vw 0;
}

.main-img {
  width: 100%;
  height: 100vh;
  background-color: #99B7AB;
  background-image: url("../img/main_visual.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .main-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-img .big-site-title {
  width: 50%;
  height: 100%;
  color: #0B445E;
}

@media (max-width: 768px) {
  .main-img .big-site-title {
    width: 100%;
    height: 20vw;
  }
  .main-img .big-site-title:not(:last-child) {
    margin-top: 50vw;
  }
}

.brand {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

@media (max-width: 768px) {
  .brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brand-left {
  width: 40%;
  height: auto;
  padding: 10vw 0 10vw 10%;
}

@media (max-width: 768px) {
  .brand-left {
    width: 80%;
    padding: 5vw 0 2vw 5%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.brand-left-con {
  width: 80%;
  height: auto;
  color: #0B445E;
}

.brand-left-con .brand-left-sub-title {
  width: 100%;
  height: auto;
  padding-bottom: 2vw;
}

.brand-left-con .brand-left-title-wrap {
  width: 100%;
  height: auto;
}

.brand-left-con .brand-left-title-wrap .brand-left-title-list {
  width: 100%;
  height: auto;
  list-style-type: none;
}

.brand-right {
  width: 40%;
  height: auto;
  padding: 16vw 10% 10vw 0;
}

@media (max-width: 768px) {
  .brand-right {
    width: 100%;
    padding: 2vw 0 10vw 0;
  }
}

.brand-right-con {
  width: 80%;
  height: auto;
}

.brand-right-con .brand-right-sub-title {
  width: 100%;
  height: auto;
  padding-bottom: 2vw;
}

.brand-right-con .brand-right-word-wrap {
  width: 100%;
  height: auto;
}

.brand-right-con .brand-right-word-wrap .brand-right-word-top {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .brand-right-con .brand-right-word-wrap .brand-right-word-top {
    line-height: 1.4;
  }
}

.brand-right-con .brand-right-word-wrap .brand-right-word-bottom {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .brand-right-con .brand-right-word-wrap .brand-right-word-bottom {
    line-height: 1.4;
  }
}

.mission {
  width: 100%;
  height: 100vw;
  position: relative;
}

@media (max-width: 768px) {
  .mission {
    height: 180vw;
  }
}

@media (max-width: 600px) {
  .mission {
    height: 210vw;
  }
}

@media (max-width: 375px) {
  .mission {
    height: 220vw;
  }
}

.mission-bg-img-wrap {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.mission-bg-img-wrap .mission-bg-img {
  width: 100%;
  height: auto;
}

.mission-main {
  width: 84%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34vw;
  right: 0;
  background: #fff;
  padding: 10vw 0 10vw 0;
}

@media (max-width: 768px) {
  .mission-main {
    position: relative;
    z-index: 2;
    top: 46vw;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 0 0 0;
  }
}

.mission-main .mission-left {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .mission-main .mission-left {
    width: 100%;
    padding-bottom: 6vw;
  }
}

.mission-main .mission-left-con {
  width: 80%;
  height: auto;
}

.mission-main .mission-left-con .mission-left-sub-title {
  width: auto;
  height: auto;
  padding-bottom: 2vw;
  color: #0B445E;
}

.mission-main .mission-left-con .mission-left-title {
  width: auto;
  height: auto;
}

.mission-main .mission-left-con .mission-left-word {
  width: auto;
  height: auto;
  padding-top: 2vw;
}

@media (max-width: 768px) {
  .mission-main .mission-left-con .mission-left-word {
    line-height: 1.4;
  }
}

.mission-main .mission-right {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .mission-main .mission-right {
    width: 100%;
  }
}

.mission-main .mission-right-img-wrap {
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .mission-main .mission-right-img-wrap {
    width: 100%;
  }
}

.mission-main .mission-right-img-wrap .mission-right-img {
  width: 100%;
  height: auto;
}

.service {
  width: 100%;
  height: auto;
  padding-bottom: 10vw;
  background: #fff;
}

@media (max-width: 768px) {
  .service {
    padding: 10vw 0 12vw 0;
  }
}

.service-header {
  width: 75%;
  height: auto;
  padding: 4vw 15% 4vw 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-header .service-title {
  width: auto;
  height: auto;
  color: #0B445E;
}

.service-header .service-all-wrap {
  width: auto;
  height: auto;
  color: #0B445E;
}

.service-list-wrap {
  width: 100%;
  height: auto;
}

.service-list-wrap .service-list {
  width: 90%;
  height: auto;
  padding-left: 10%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.service-list-wrap .service-list-item {
  width: 60%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.service-list-wrap .service-list-item:not(:last-child) {
  margin-right: 4vw;
}

.service-list-wrap .service-list-item-img-wrap {
  width: 100%;
  height: auto;
}

.service-list-wrap .service-list-item-img-wrap .service-list-item-img {
  width: 100%;
  height: auto;
}

.service-list-wrap .service-list-item-title {
  width: auto;
  height: auto;
  color: #0B445E;
  margin: 1vw 0 1vw 0;
}

.service-list-wrap .service-list-item-word {
  width: 100%;
  height: auto;
  line-height: 2;
  white-space: normal;
}

@media (max-width: 768px) {
  .service-list-wrap .service-list-item-word {
    display: none;
  }
}

.interview {
  width: 100%;
  height: 76vw;
  margin: 4vw 0 0 0;
  position: relative;
}

@media (max-width: 768px) {
  .interview {
    height: 150vw;
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .interview {
    height: 180vw;
  }
}

.interview-left {
  width: 36vw;
  height: 48vw;
  position: absolute;
  top: 0;
  left: 10vw;
}

@media (max-width: 768px) {
  .interview-left {
    width: 100%;
    height: 70vw;
    left: 0;
  }
}

.interview-left-img-slide-wrap {
  width: 100%;
  height: 100%;
}

.interview-left-img-slide-wrap #interview-slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interview-right {
  width: 60%;
  height: 50vw;
  background: #fff;
  position: absolute;
  top: 12vw;
  right: 0;
}

@media (max-width: 768px) {
  .interview-right {
    width: 100%;
    height: 70vw;
    top: 70vw;
  }
}

@media (max-width: 425px) {
  .interview-right {
    height: 90vw;
  }
}

.interview-right-con {
  width: 80%;
  height: auto;
}

.interview-right-con-header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2vw 0;
  color: #0B445E;
}

.interview-right-con-header .interview-right-con-title {
  width: auto;
  height: auto;
}

.interview-right-con-header .all-interviews {
  width: auto;
  height: auto;
}

.interview-right-con .interview-right-list {
  width: 100%;
  height: auto;
  list-style-type: none;
}

.interview-right-con .interview-right-list-item {
  width: 100%;
  height: auto;
  padding: 1vw 0 1vw 0;
}

@media (max-width: 425px) {
  .interview-right-con .interview-right-list-item {
    padding: 4vw 0 4vw 0;
  }
}

.interview-right-con .interview-right-list-item:nth-child(1) {
  border-top: 1px solid #CCCCCC;
}

.interview-right-con .interview-right-list-item:nth-child(2) {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.interview-right-con .interview-right-list-item:nth-child(3) {
  border-bottom: 1px solid #CCCCCC;
}

.interview-right-con .interview-right-list-item-word {
  width: auto;
  height: auto;
  margin: 1vw 0 1vw 0;
  font-weight: bold;
}

.interview-right-con .interview-right-list-item-name {
  width: auto;
  height: auto;
  margin: 1vw 0 1vw 0;
  color: #767676;
}

.member {
  width: 100%;
  height: auto;
  padding-bottom: 10vw;
  background-image: url("../img/quo.png");
  background-repeat: no-repeat;
  background-size: 20% auto;
}

.member-header {
  width: 80%;
  height: auto;
  margin: 0 10% 0 10%;
  padding: 5vw 0 5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member-header .member-title {
  width: auto;
  height: auto;
  color: #0B445E;
}

.member-header .member-all-wrap {
  width: auto;
  height: auto;
  color: #0B445E;
}

.member .member-slide-wrap {
  width: 100%;
  height: auto;
}

.member .member-slide-wrap .member-slide-list {
  width: 90%;
  height: auto;
  padding-left: 10%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.member .member-slide-wrap .member-slide-list-item {
  width: 25%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 768px) {
  .member .member-slide-wrap .member-slide-list-item {
    width: 38%;
  }
}

@media (max-width: 375px) {
  .member .member-slide-wrap .member-slide-list-item {
    width: 44%;
  }
}

.member .member-slide-wrap .member-slide-list-item:not(:last-child) {
  margin-right: 4vw;
}

.member .member-slide-wrap .member-slide-list-item-img-wrap {
  width: 100%;
  height: auto;
}

.member .member-slide-wrap .member-slide-list-item-img-wrap .member-slide-list-item-img {
  width: 100%;
  height: auto;
}

.member .member-slide-wrap .member-slide-list-item .member-name {
  width: auto;
  height: auto;
  margin: 1vw 0 1vw 0;
}

.member .member-slide-wrap .member-slide-list-item .member-name-sub {
  width: auto;
  height: auto;
  color: #777777;
  margin: 0 0 1vw 0;
}

@media (max-width: 768px) {
  .member .member-slide-wrap .member-slide-list-item .member-name-sub {
    white-space: pre-line;
  }
}

.career {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 10vw 5% 10vw 5%;
}

@media (max-width: 768px) {
  .career {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.career-left {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .career-left {
    width: 100%;
    margin-bottom: 4vw;
  }
}

.career-left-con {
  width: 80%;
  height: auto;
}

.career-left-con .career-title {
  width: auto;
  height: auto;
  color: #0B445E;
  padding: 1vw 0 1vw 0;
}

.career-left-con .career-title-sub {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
}

.career-left-con .career-left-word {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .career-left-con .career-left-word {
    padding: 4vw 0 4vw 0;
  }
}

.career-left-con .view-all {
  width: auto;
  height: auto;
  color: #0B445E;
}

@media (max-width: 768px) {
  .career-left-con .view-all {
    width: 100%;
    text-align: center;
  }
}

.career-right {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .career-right {
    width: 100%;
  }
}

.career-right-img-wrap {
  width: 100%;
  height: auto;
}

.career-right-img-wrap .career-right-img {
  width: 80%;
  height: auto;
}

.news {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vw 0 10vw 0;
}

@media (max-width: 768px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-left {
  width: 30%;
  height: auto;
  padding: 0 10% 0 0;
}

@media (max-width: 768px) {
  .news-left {
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 0 0 10%;
  }
}

.news-left .news-title {
  width: auto;
  height: auto;
  color: #0B445E;
}

.news-right {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .news-right {
    width: 80%;
    margin: 4vw 10% 4vw 10%;
  }
}

.news-right .news-list {
  width: 76%;
  height: auto;
  list-style-type: none;
}

@media (max-width: 768px) {
  .news-right .news-list {
    width: 100%;
  }
}

.news-right .news-list-item {
  width: 100%;
  height: auto;
  padding: 2vw 0 2vw 0;
}

@media (max-width: 425px) {
  .news-right .news-list-item {
    padding: 4vw 0 4vw 0;
  }
}

.news-right .news-list-item:nth-child(1) {
  border-top: 1px solid #CCCCCC;
}

.news-right .news-list-item:nth-child(2) {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.news-right .news-list-item:nth-child(3) {
  border-bottom: 1px solid #CCCCCC;
}

.news-right .news-list-item-top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1vw;
}

.news-right .news-list-item-top-date {
  width: auto;
  height: auto;
  margin-right: 3vw;
}

.news-right .news-list-item-top-subtitle {
  width: auto;
  height: auto;
}

.news-right .news-list-item-bottom {
  width: 100%;
  height: auto;
}

.news-right .news-list-item-bottom-word {
  width: auto;
  height: auto;
}

.news-right .all-news {
  width: auto;
  height: auto;
  margin: 4vw 20% 0 0;
  color: #0B445E;
}

@media (max-width: 768px) {
  .news-right .all-news {
    margin-right: 5%;
  }
}

footer {
  width: 100%;
  height: auto;
  background: #0B445E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8vw 0 8vw 0;
}

footer .copyright {
  width: 20%;
  height: auto;
}

footer .copyright .copyright-word {
  width: 30%;
  height: auto;
  color: #587A8F;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

footer .footer-mid {
  width: 30%;
  height: auto;
}

footer .footer-mid .footer-mid-word {
  width: 100%;
  height: auto;
  color: #587A8F;
}

footer .footer-right {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #90D1C4;
}

@media (max-width: 768px) {
  footer .footer-right {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-right-contact {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  footer .footer-right-contact {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 2vw;
  }
}

footer .footer-right-career {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  footer .footer-right-career {
    width: 90%;
    margin-left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */