/*レスポンシブ*/
$pc: 1024px;
$tab: 768px;
$tabs: 600px;
$md: 425px;
$mds: 375px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin tabs {
  @media (max-width: ($tabs)) {
    @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin mds {
    @media (max-width: ($mds)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}


/*フォントサイズ*/
%font-140{
  font-size: calc(3.5rem + ((1vw - 10.24px) * 5.4688));
  min-height: 0vw;
}
%font-100{
  font-size: calc(2.5rem + ((1vw - 10.24px) * 3.9063));
  min-height: 0vw;

  @include tab{
    font-size: calc(2.1875rem + ((1vw - 4.25px) * 4.3732));
  }
}
%font-60{
  font-size: calc(1.5rem + ((1vw - 10.24px) * 2.3438));
  min-height: 0vw;

  @include tab{
    font-size: calc(1.375rem + ((1vw - 4.25px) * 2.3324));
  }
}
%font-46{
  font-size: calc(1.1875rem + ((1vw - 10.24px) * 1.7578));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.875rem + ((1vw - 4.25px) * 0.5831));
  }
}
%font-40{
  font-size: calc(1rem + ((1vw - 10.24px) * 1.5625));
  min-height: 0vw;

  @include tab{
    font-size: calc(1.375rem + ((1vw - 4.25px) * 1.7493));
  }

  @include md{
    font-size: calc(1.125rem + ((1vw - 3.2px) * 3.8095));
  }
}
%font-32{
  font-size: calc(0.875rem + ((1vw - 10.24px) * 1.1719));
  min-height: 0vw;
}
%font-30{
  font-size: calc(0.875rem + ((1vw - 10.24px) * 1.0417));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.875rem + ((1vw - 4.25px) * 1.1662));
  }
}
%font-20{
  font-size: calc(0.75rem + ((1vw - 10.24px) * 0.5208));
  min-height: 0vw;

  @include md{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0));
  }
}


/*代入*/
%flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%flex-center-ac-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
%flex-center-ac-fe{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

%view-more{
  width:20%;
  height:5vw;
  position:absolute;
  top:40vw;
  right:18vw;
  @extend %flex-center;
  background:#000;
  color:#fff;
  cursor:pointer;
  @extend %font-30;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;

  @include pc{
    width:34%;
  }

  @include md{
    width:44%;
    height:10vw;
  }

  &:hover{
    background-color: #EEEEEE;
    color:#000;
    transition:all 1s ease;
  }

  &::before{
    position:absolute;
    z-index:-1;
    display:block;
    content:'';
    left: 0;
    width: 100%;
    height: 50%;
  }

  &::after{
    position:absolute;
    z-index:-1;
    display:block;
    content:'';
    left: 0;
    width: 100%;
    height: 50%;
  }

  &::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    transition: all .5s;
    top:0;
  }

  &::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    transition: all .5s;
    bottom:0;
  }

  &:hover::before{
    height: 0;
    background-color: #333;
  }

  &:hover::after{
    height: 0;
    background-color: #333;
  }
}

/*ページ表示と同時にフェードイン */
.loading-fadein {
  opacity: 0;
  animation: fadein 2s ease forwards;
}
@keyframes fadein {
  100% {  
    opacity: 1;
  }
}
.delay1 {animation-delay: 2s;}
.delay2 {animation-delay: 2.5s;}
.delay3 {animation-delay: 3s;}

/*スクロールフェードイン*/
.fadein{
  opacity:0.3;
  transform:translate(0, 100px);
  transition:all 1000ms ease;
}

.scrollin{
  opacity:1;
  transform:translate(0, 0);
}

/*スクロールスライドダウン*/
.img-animation {
  animation: img-opacity 2s cubic-bezier(.4, 0, .2, 1);
  overflow: hidden;
  position: relative;
}

.img-animation:before {
  animation: img-animation 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes img-opacity {
  0% {
    opacity: 0;
  }
}

@keyframes img-animation {
  100% {
    transform: translateY(100%);
  }
}

/*メイン*/

.scroll-prevent {
  /*動き固定*/
  position: fixed;
  /*奥行きを管理*/
  z-index: -1;
  /*下2つで背景を元のサイズのまま表示することができる*/
  width: 100%;
  height: 100%;
}

html, body{
  font-family: 'Sawarabi Mincho', sans-serif;
  max-width:2560px;
  width:100%;
  margin:0 auto;
}

a{
  text-decoration:none;
  color:#000;
}

.scroll-fixed{
  width:100%;
  height:64vw;
}

.site-header{
  transition: .5s;

  &.hide{
    transform: translateY(-100%);
  }
}

header{
  width:100%;
  height:7vw;
  position:fixed;
  top:0;
  display:flex;
  z-index:9999;

  .nav{
    width:26%;
    height:100%;
    background:#fff;

    @include tab{
      width:28vw;
    }

    @include tabs{
      width:32vw;
    }
    
    @include md{
      width:38%;
    }

    @include mds{
      width:44%;
    }

    @include sm{
      width:48%;
    }

    .l-drawer {
      width:100%;
      height:7vw;
      position:relative;
      background:#fff;
    }
  
    .l-drawer__checkbox {
      display: none;
    }

    .l-drawer__icon {
      cursor: pointer;
      display: block;
      width: 7vw;
      height: 7vw;
      position:absolute;
      left:0;
    }

    .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
      display: block;
      width: 2vw;
      height: 0.2vw;
      margin: auto;
      position:absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
      content: " ";
    }

    .l-drawer__icon-parts:before {
      top: 1.4vw;
    }

    .l-drawer__icon-parts:after {
      top: -1.4vw;
    }

    .l-drawer__title{
      color: #000;
      width:77%;
      height:7vw;
      position:absolute;
      top:0;
      left:6vw;
      @extend %flex-center-ac-fs;
      transition:all 0.3s ease;
      z-index:9;
      @extend %font-46;

      span{
        display:inline-block;
      }

      &:hover span{
        opacity:0.6;
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        transition: .6s;
      }

      &:hover span:nth-of-type(1){
        -webkit-transition-delay: .02s;
        transition-delay: .02s;
      }

      &:hover span:nth-of-type(2){
        -webkit-transition-delay: .04s;
        transition-delay: .04s;
      }

      &:hover span:nth-of-type(3){
        -webkit-transition-delay: .06s;
        transition-delay: .06s;
      }

      &:hover span:nth-of-type(4){
        -webkit-transition-delay: .08s;
        transition-delay: .08s;
      }

      &:hover span:nth-of-type(5){
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }

      &:hover span:nth-of-type(6){
        -webkit-transition-delay: .12s;
        transition-delay: .12s;
      }

      &:hover span:nth-of-type(7){
        -webkit-transition-delay: .14s;
        transition-delay: .14s;
      }

      &:hover span:nth-of-type(8){
        -webkit-transition-delay: .16s;
        transition-delay: .16s;
      }

      &:hover span:nth-of-type(9){
        -webkit-transition-delay: .18s;
        transition-delay: .18s;
      }

      &:hover span:nth-of-type(10){
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }

      &:hover span:nth-of-type(11){
        -webkit-transition-delay: .22s;
        transition-delay: .22s;
      }

      &:hover span:nth-of-type(12){
        -webkit-transition-delay: .24s;
        transition-delay: .24s;
      }
    }
  
    .l-drawer__overlay {
      background: #fff;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 66.6vw;
      position: fixed;
      top: 0;
      right: 0;

      @include tab{
        height:120vw;
      }

      @include tabs{
        height:140vw;
      }

      @include md{
        height:150vw;
      }
    }

    .l-drawer__menu {
      max-width: 100%;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 0;
      right:0;
      opacity:0;
      display:flex;

      .menu-left-wrap{
        width:100%;
        position:absolute;
        left:6vw;
        bottom:-46vw;
        display:none;

        @include tab{
          width:100%;
          bottom:-60vw;
        }

        @include tabs{
          bottom:-70vw;
        }

        @include md{
          bottom:-76vw;
        }

        @include mds{
          bottom:-80vw;
        }

        @include sm{
          bottom:-84vw;
        }

        .l-drawer__menu-left{
          width:100%;
          height:auto;

          @include tab{
            width:100%;
          }
          

          .l-drawer__item{
            width:auto;
            height:auto;
            cursor:pointer;

            &:not(:last-child){
              margin-bottom:1vw;
            }

            .nav-item-title-big{
              @extend %font-40;
              margin-bottom:1vw;
            }

            .nav-item-title-small{
              color:#999999;
              @extend %font-20;
            }

            .nav-hover-img-wrap{
              display:none;
              width:50%;
              height:100%;
              position:fixed;
              top:0;
              left:50%;

              .nav-hover-img{
                width:100%;
                height:auto;

                @include tab{
                  height:0;
                }
              }
            }

            .img-active{
              display:block;
            }

            .nav-item-contact{
              @extend %flex-center;
              width:20vw;
              height:5vw;
              
              @extend %font-20;
              color:#fff;
              background:#000;

              @include tab{
                width:30vw;
                height:7vw;
              }

              @include mds{
                width:34vw;
                height:8vw;
              }

              &:hover{
                opacity:0.6;
                transition:all 1s ease;
              }
            }
          }
        }
      }

      .menu-right-wrap{
        width:36%;
        height:53vw;
        position:absolute;
        left:32vw;
        display:none;

        @include tab{
          width:100%;
          top:50vw;
          left:6vw; 
        }

        @include tabs{
          top:70vw;
        }
        
        @include md{
          top:80vw;
        }

        @include mds{
          top:86vw;
        }

        @include sm{
          top:92vw;
        }

        .l-drawer__menu-right{
          width:100%;
          height:auto;

          .l-drawer__item{
            width:auto;
            height:auto;
            font-size:16px;
            cursor:pointer;

            &:not(:last-child){
              margin-bottom:1.4vw;
            }

            .l-drawer__item-inner{
              line-height:2;
            }

            .nav-sns-icon-wrap{
              width:100%;
              height:5vw;
              display:flex;

              @include tabs{
                width:70%;
              }

              .nav-sns-icon-img-wrap{
                width:14%;
                height:auto;
                @extend %flex-center-ac-fs;

                &:not(:last-child){
                  margin-right:2vw;
                }

                .nav-sns-icon-img{
                  width:100%;
                  height:auto;
                  filter:invert(100%);
                }
              }
            }
          }
        }
      }
    }

    .l-drawer__icon {
      z-index: 5;
    }

    .l-drawer__menu {
      z-index: 4;
    }

    .l-drawer__overlay {
      z-index: 3;
    }

    .l-drawer__checkbox:checked ~ label.l-drawer__icon span.l-drawer__icon-parts {
      background: transparent;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__menu {
      opacity:1;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__menu .menu-left-wrap {
      display:block;
    }

    .l-drawer__checkbox:checked ~ .l-drawer__menu .menu-right-wrap {
      display:flex;
      align-items:flex-end;
      justify-content:center;
    }

    .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
    }
  }

  .top-contact{
    @extend %flex-center;
    width:20%;
    height:7vw;
    position:absolute;
    top:0;
    right:0;
    @extend %font-32;
    color:#fff;
    background:#000;
    cursor:pointer;

    @include tab{
      width:22%;
    }

    @include md{
      width:30%;
    }

    @include sm{
      width:34%;
    }

    &:hover{
      opacity:0.6;
      transition:all 1s ease;
      cursor:pointer;
    }
  }
}

.slide{
  width:100%;
  height:64vw;
  position:fixed;
  top:0;

  &-word-wrap{
    width:auto;
    height:auto;
    color:#fff;
    position:absolute;
    top:40%;
    left:66%;
    z-index:12;

    @include mds{
      top:30%;
    }

    .slide-word{
      @extend %font-32;
      margin-bottom:2vw;
    }
  }

  .main_imgBox {
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .main_img {
    z-index:10;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment:fixed;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite;
  
    &:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; 
    }

    &:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; 
    }
  
    &:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; 
    }
  
    &:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; 
    }
  
    &:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; 
    }
  }
  
  .main_imgM {
    opacity: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite;
  
    &:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s;
    }

    &:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s;
    }
  
    &:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s;
    }
  
    &:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s;
    }
  
    &:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s;
    }
  }
  
  @keyframes anime {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
        z-index:9;
    }
    100% { opacity: 0 }
  }
  
  @-webkit-keyframes anime {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1);
        z-index:9;
    }
    100% { opacity: 0 }
  }
}

.for-scroll-wrap{
  width:100%;
  height:auto;
  position:relative;
  z-index:9999;
}

.about-us{
  width:100%;
  height:60vw;
  background:#fff;
  position:relative;

  @include pc{
    height:116vw;
  }

  @include tab{
    height:130vw;
  }

  @include md{
    height:140vw;
  }

  &-left{
    width:62%;
    height:auto;
    background:#fff;
    position:absolute;
    top:7vw;
    left:0;
    z-index:4;
    padding:10% 0 16% 10%;

    @include pc{
      top:0;
      width:80%;
      height:30vw;
    }

    @include tab{
      width:95%;
      height:auto;
      padding:10% 0 0 5%;
    }

    @include md{
      width:90%;
      height:70vw;
      padding:10vw 5% 0 5%;
    }

    &-title-wrap{
      width:100%;
      height:auto;
      @extend %font-140;
    }

    &-subtitle{
      width:100%;
      height:auto;
      color:#8F8F8F;
      display:flex;
      align-items:center;
      @extend %font-32;
      margin-top:2vw;

      @include md{
        margin-bottom:2vw;
      }

      &:before{
        content:"";
        width:3.2vw;
        height:auto;
        border-top:1px solid #8F8F8F;
        margin-right:0.6vw;
      }
    }

    &-expl-wrap{
      width:90%;
      height:auto;
      padding:0 0 0 6%;

      .about-us-left-expl-word1{
        width:100%;
        height:5vw;
        @extend %font-40;
        @extend %flex-center-ac-fs;

        @include md{
          margin:4vw 0 4vw 0;
        }
      }

      .about-us-left-expl-word2{
        @extend %font-30;
      }
    }
  }

  &-right{
    width:50%;
    height:auto;
    position:absolute;
    right:0;
    z-index:2;

    @include pc{
      top:60vw;
      width:100%;
      height:50vw;
      background-image:url("../img/img01_pc.jpg");
      background-repeat:no-repeat;
      background-size:cover;
    }

    @include tab{
      top:70vw;
    }

    @include md{
      top:80vw;
    }

    .about-us-img{
      width:100%;
      height:auto;

      @include pc{
        display:none;
      }
    }
  }

  .view-more{
    @extend %view-more;
    z-index:9999;

    @include pc{
      top:57.5vw;
      right:32%;
    }

    @include tab{
      top:67.5vw;
    }

    @include md{
      top:75vw;
      right:27%;
    }
  }
}

.case{
  width:100%;
  height:56vw;
  position:relative;
  z-index:9999;
  background:#fff;

  @include pc{
    height:auto;
    padding-bottom:10vw;
  }

  @include tab{
    height:140vw;
  }

  @include md{
    height:160vw;
  }

  @include mds{
    height:164vw;
  }

  &-header{
    width:80%;
    height:7vw;
    margin:0 10% 0 10%;
    display:flex;

    @include md{
      width:90%;
      margin:0 5% 0 5%;
    }

    .case-title{
      width:50%;
      height:100%;
      @extend %flex-center-ac-fs;
      @extend %font-46;
    }

    .view-all{
      width:50%;
      height:100%;
      @extend %flex-center-ac-fe;
      @extend %font-20;
      cursor:pointer;
    }
  }

  &-con-wrap{
    width:80%;
    height:auto;
    margin:0 10% 0 10%;

    @include pc{
      height:130vw;
    }

    @include md{
      width:90%;
      margin:0 5% 0 5%;
    }

    .case-list{
      width:100%;
      height:auto;
      display:flex;
      list-style-type:none;

      @include pc{
        flex-wrap:wrap;
      }

      &-item{
        width:30%;
        height:auto;
        cursor:pointer;

        @include pc{
          width:46%;
          height:100%;
        }

        &-title-big{
          width:100%;
          height:auto;
          @extend %flex-center;
          @extend %font-32;
          margin-bottom:0.5vw;
        }

        &-title-small{
          width:100%;
          height:auto;
          @extend %flex-center;
          color:#8F8F8F;
          @extend %font-20;
        }
        
        &:not(:last-child){
          margin-right:2.5%;

          @include pc{
            margin-right:0;
          }
        }

        @include pc{
          &:nth-child(1){
            margin:0 8% 4vw 0;
          }

          &:nth-child(3){
            margin:0 8% 4vw 0;
          }
        }

        &-img-wrap{
          width:100%;
          height:27.8vw;
          margin-bottom:2vw;
          overflow: hidden;
          position:relative;

          @include pc{
            height:54vw;
          }

          @include md{
            height:62vw;
          }

          .case-list-item-img{
            width:100%;
            height:100%;
            position:absolute;
            top:0;

            @include pc{
              height:auto;
            }
          }

          .mask{
            width:100%;
	          height:100%;
	          position:absolute;
	          top:0;
	          left:0;
	          opacity:0;	/* マスクを表示しない */
	          background-color:rgba(0,0,0,0.4);
	          -webkit-transition:all 1s ease;
            transition:all 1s ease;
            
            .caption {
              @extend %font-30;
              text-align:center;
              color:#fff;
            }
          }

          &:hover .case-list-item-img{
            transform: scale(1.1) rotate(2deg);
            transition-duration:1s;
          }

          &:hover .mask{
            opacity:1;	/* マスクを表示する */
            padding-top:10vw;	/* ホバーで下にずらす */
          }
        }
      }
    }
  }
}

.team{
  width:100%;
  height:60vw;
  position:relative;
  top:0;
  background:#fff;
  z-index:999;
  padding-bottom:2vw;

  @include pc{
    height:130vw;
  }

  @include tab{
    height:130vw;
  }

  @include tabs{
    height:140vw;
  }

  @include md{
    height:160vw;
  }

  @include sm{
    height:170vw;
  }

  &-left{
    width:61.6%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
    z-index:2;

    @include pc{
      width:100%;
    }

    .team-img{
      width:100%;
      height:auto;
    }
  }

  &-right{
    width:44%;
    height:auto;
    position:absolute;
    top:7vw;
    right:0;
    background:#fff;
    z-index:3;
    padding:10% 0 10% 6%;

    @include pc{
      width:86%;
      top:60vw;
    }

    &-subtitle{
      width:90%;
      height:auto;
      color:#8F8F8F;
      display:flex;
      align-items:center;
      @extend %font-32;

      &:before{
        content:"";
        width:3.2vw;
        height:auto;
        border-top:1px solid #8F8F8F;
        margin-right:0.6vw;
      }
    }

    &-title-wrap{
      width:89%;
      height:auto;
      @extend %font-100;
      margin:3vw 0 3vw 0;
      padding-left:4vw;
    }

    &-expl-wrap{
      width:86%;
      height:auto;
      padding-left:4vw;

      .team-right-expl-word1{
        @extend %font-40;     

        &:nth-child(2){
          margin-bottom:1vw;
        }
      }

      .team-right-expl-word2{
        @extend %font-30;
      }
    }
  }

  .view-more{
    @extend %view-more;
    top:39.6vw;
    right:42vw;
    z-index:999;

    @include pc{
      top:120vw;
      right:32%;
    }

    @include tabs{
      top:130vw;
    }

    @include md{
      top:140vw;
      right:28%;
    }

    @include mds{
      top:146vw;
    }

    @include sm{
      top:154vw;
    }
  }
}

.salon{
  width:100%;
  height:30vw;
  position:relative;
  background:#fff;
  padding:6vw 0 10vw 0;
  z-index:999;

  @include tab{
    height:40vw;
  }

  @include md{
    height:52vw;
  }

  @include mds{
    height:58vw;
  }

  &-bg{
    width:86%;
    height:100%;
    margin:0 0 0 14%;
    background-image:url("../img/img03_pc.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    @extend %flex-center-ac-fs;

    @include pc{
      width:100%;
      margin:0;
    }

    @include md{
      background-position:center;
    }

    .salon-wrap{
      width:26vw;
      height:12vw;
      background:#fff;
      padding:4vw 0 4vw 3%;
      position:absolute;
      top:11vw;
      left:20vw;

      @include pc{
        top:10vw;
        left:10vw;
        padding:4vw 0 6vw 3%;
      }

      @include tab{
        width:32vw;
        padding:4vw 0 10vw 3%;
      }

      @include tabs{
        width:32vw;
        height:16vw;
      }

      @include md{
        width:50vw;
        height:29vw;
        left:6vw;
      }

      @include sm{
        height:32vw;
      }

      &:hover{
        background:#000;
        color:#fff;
        transition:all 1s ease;
      }

      .salon-subtitle{
        color:#8F8F8F;
        @extend %font-32;
        margin-bottom:1vw;
      }

      .salon-title{
        @extend %font-40;
      }

      .salon-con-wrap{
        @extend %font-30;
        margin-top:1vw;

        @include tab{
          margin-top:1vw;
        }
        .salon-word{

          @include tab{
            line-height:1;
          }
        }
      }
    }
  }
}

.news{
  width:80%;
  height:auto;
  padding:0 10% 2% 10%;
  position:relative;
  background:#fff;
  z-index:999;

  @include md{
    width:90%;
    padding:0 5% 2% 5%;
  }

  &-header{
    width:100%;
    height:7vw;
    display:flex;
    

    .news-title{
      width:50%;
      height:100%;
      @extend %flex-center-ac-fs;
      @extend %font-46;
    }

    .view-all{
      width:50%;
      height:100%;
      @extend %flex-center-ac-fe;
      @extend %font-20;
      cursor:pointer;
    }
  }

  &-list-top-wrap{
    width:100%;
    height:auto;
    margin:0 0 8vw 0;

    .news-list-top{
      width:100%;
      height:auto;
      list-style-type:none;
      display:flex;

      @include pc{
        flex-wrap:wrap;
      }

      &-item{
        width:33%;
        height:auto;
        cursor:pointer;

        @include pc{
          width:48%;
        }

        &:not(:last-child){
          margin-right:3%;
        }

        &:nth-child(1){
          @include pc{
            margin-bottom:4vw;
            margin-right:4%;
          }
        }

        &:nth-child(2){
          @include pc{
            margin-right:0;
          }
        }

        &:nth-child(3){
          @include pc{
            margin-right:4%;
          }
        }

        &-img-wrap{
          width:100%;
          height:9.4vw;
          position:relative;
          overflow:hidden;

          @include pc{
            height:20vw;
          }

          @include md{
            height:23vw;
          }

          .news-list-top-item-img{
            width:100%;
            height:auto;
            position:absolute;
            top:0;
            left:0;
          }

          .mask{
            width:100%;
	          height:100%;
	          position:absolute;
	          top:0;
	          left:0;
	          opacity:0;	/* マスクを表示しない */
	          background-color:rgba(0,0,0,0.4);
	          -webkit-transition:all 1s ease;
            transition:all 1s ease;
            
            .caption {
              @extend %font-30;
              text-align:center;
              color:#fff;
            }
          }
  
          &:hover .mask{
            opacity:1;	/* マスクを表示する */
            padding-top:2vw;	/* ホバーで下にずらす */
          }
        }

        &-date{
          width:auto;
          height:3vw;
          margin:0 1vw 1vw 1vw;
          @extend %flex-center;
          color:#8F8F8F;
          border-bottom:1px solid #8F8F8F;
          @extend %font-30;

          @include tab{
            height:5vw;
          }

          @include md{
            height:6vw;
          }
        }

        &-title{
          width:100%;
          height:auto;
          @extend %font-46;
          @extend %flex-center;
        }

        &-expl{
          width:100%;
          height:auto;
          color:#8F8F8F;
          @extend %font-32;

          @include pc{
            display:none;
          }
        }
      }
    }
  }

  .news-list-bottom-wrap{
    @extend .news-list-top-wrap;

    .news-list-bottom{
      @extend .news-list-top;

      &-item{
        @extend .news-list-top-item;

        &:not(:last-child){
          margin-right:3%;
        }

        @include pc{
          &:nth-child(2){
            margin-right:0;
          }
        }

        &-img-wrap{
          @extend .news-list-top-item-img-wrap;

          .news-list-bottom-item-img{
            @extend .news-list-top-item-img;
          }
        }

        &-date{
          @extend .news-list-top-item-date;
        }

        &-title{
          @extend .news-list-top-item-title;
        }

        &-expl{
          @extend .news-list-top-item-expl;
        }
      }
    }
  }
}

.contact{
  width:100%;
  height:20vw;
  position:relative;
  background:#F7F7F7;
  @extend %flex-center;
  z-index:999;

  &-btn{
    width:80%;
    height:10vw;
    background:#000;
    color:#fff;
    @extend %flex-center;
    @extend %font-40;
    transition:all 1s ease;
    cursor:pointer;

    &:hover{
      opacity:0.85;
    }
  }
}

.links{
  width:100%;
  height:auto;
  position:relative;
  background:#000;
  z-index:999;
  padding-bottom:2vw;

  @include tab{
    height:60vw;
    padding-top:4vw;
  }

  @include tabs{
    height:66vw;
  }

  @include md{
    height:80vw;
    padding-top:10vw;
  }

  &-nav-wrap{
    width:100%;
    height:6vw;

    .links-nav{
      width:100%;
      height:100%;
      list-style-type:none;
      @extend %flex-center;

      &-item{
        width:auto;
        height:auto;
        color:#8F8F8F;
        padding:0 2% 0 2%;
        @extend %font-30;
        cursor:pointer;

        &:hover{
          opacity:0.6;
        }

        &:nth-child(2){
          border-left:1px solid #8F8F8F;
          border-right:1px solid #8F8F8F;
        }
      }
    }
  }

  .crazy-inc{
    width:40%;
    height:6vw;
    margin:0 auto;
    @extend %font-30;
    @extend %flex-center;
    color:#8F8F8F;
    border:1px solid #8F8F8F;
    transition:all 1s ease;
    cursor:pointer;

    @include md{
      width:50%;
      height:10vw;
      margin-top:2vw;
    }

    &:hover{
      background:#fff;
      color:#000;
    }
  }

  .contact-detail{
    width:100%;
    height:auto;
    color:#fff;
    margin-top:4vw;

    &-item1{
      width:100%;
      height:auto;
      @extend %flex-center;
      @extend %font-30;
      margin-bottom:1vw;
    }

    &-item2{
      width:100%;
      height:auto;
      @extend %flex-center;
      @extend %font-60;
      margin-bottom:1vw;
    }

    &-item3{
      width:100%;
      height:auto;
      @extend %flex-center;
      @extend %font-30;

      &:last-child{
        @include md{
          font-size:12px;
        }
      }
    }
  }

  .sns{
    width:100%;
    height:auto;

    &-con{
      width:100%;
      height:auto;
      @extend %flex-center;

      .sns-icon-wrap{
        width:3%;
        height:auto;
        margin-top:4vw;

        @include tab{
          width:6%;
        }

        @include md{
          width:10%;
        }

        &:not(:last-child){
          margin-right:4vw;
        }

        .sns-icon-img{
          width:100%;
          height:auto;
          transition:all 1s ease;
          cursor:pointer;

          &:hover{
            opacity:0.6;
          }
        }
      }
    }
  }
}

footer{
  width:100%;
  height:4vw;
  position:relative;
  background:#000;

  @include tab{
    height:6vw;
  }

  .copyright{
    width:100%;
    height:100%;
    @extend %font-30;
    @extend %flex-center;
    color:#8F8F8F;
  }
}

.space{
  width:100%;
  height:64vw;
}