$pc: 1024px;
$tab: 768px;
$md: 425px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

%flexbox-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%flexbox-center-jc-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
%flexbox-center-jc-fe{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
%flexbox-center-ai-fs{
  display:flex;
  align-items:flex-start;
  justify-content:center;
}

%font-200{
  font-size: calc(6.625rem + ((1vw - 10.25px) * 10.5028));
  min-height: 0vw;
}
%font-70{
  font-size: calc(2.3125rem + ((1vw - 10.25px) * 3.6872));
  min-height: 0vw;
}
%font-60{
  font-size: calc(1.9375rem + ((1vw - 10.25px) * 3.2402));
  min-height: 0vw;
}
%font-50{
  font-size: calc(1.625rem + ((1vw - 10.25px) * 2.6816));
  min-height: 0vw;
}
%font-40{
  font-size: calc(1.3125rem + ((1vw - 10.25px) * 2.1229));
  min-height: 0vw;
}
%font-30{
  font-size: calc(0.9375rem + ((1vw - 10.25px) * 1.676));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.75rem + ((1vw - 3.2px) * 4.0179));
  }
}
%font-26{
  font-size: calc(0.875rem + ((1vw - 10.25px) * 1.3408));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.3393));
  }
}
%font-24{
  font-size: calc(0.8125rem + ((1vw - 10.25px) * 1.2291));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.8929));
  }
}
%font-20{
  font-size: calc(0.6875rem + ((1vw - 10.25px) * 1.0056));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.3393));
  }
}
%font-16{
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;
}

%section-padding-box{
  padding:5% 10% 5% 10%;
}

%section-title-line{
  width:10vw;
  height:3vw;
  border-top:2px solid #767676;
  margin:0 auto;
}

%section-title{
  width:100%;
  @extend %font-70;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
}

html,
body{
  width:100%;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  position:relative;
}

.pc-menu{
  width:100%;
  height:7vw;
  background:#fff;
  position:fixed;
  @extend %font-16;
  z-index:9;

  @include tab{
    display:none;
  }

  .airbnb-icon-wrap{
    width:7vw;
    height:7vw;
    position:absolute;
    top:0;
    left:0;
    @extend %flexbox-center;

    .airbnb-icon{
      width:60%;
      height:60%;

      &:hover{
        cursor:pointer;
      }
    }
  }
  

  .glnav{
    width:40%;
    height:100%;
    position:absolute;
    top:0;
    left:7vw;

    &-list{
      width:100%;
      height:100%;
      list-style-type:none;
      @extend %flexbox-center;

      &-item{
        @extend %flexbox-center;
        width:auto;
        height:100%;
        @extend %font-30;
        margin:0 6% 0 6%;

        &:first-child{
          color:#008488;
          border-bottom:3px solid #008488;
        }

        &:hover{
          cursor:pointer;
        }
      }
    }
  }

  .income{
    @extend %flexbox-center;
    width:40%;
    height:100%;
    position:absolute;
    top:0;
    left:60%;

    &-con{
      @extend %flexbox-center;
      width:50%;
      height:100%;

      &-word{
        height:25%;
        @extend %font-20;
        display:flex;
        align-items:flex-end;
      }

      &-price{
        @extend %flexbox-center;
        height:100%;
        @extend %font-40;
      }
    }

    .hajimeru{
      @extend %flexbox-center;
      width:20%;
      height:40%;
      background:#DB3641;
      border-radius:8px;
      @extend %font-20;
      color:#fff;

      &:hover{
        cursor:pointer;
      }
    }
  }
}

.mobile-fadein-wrap{
  display:none;

  .glnav-list-item-mobile-fadein{
    @extend %font-40;
  }

  @include tab{
    display:block;

    .mobile-fadein{
      display:none;

      @include tab{
      display:block;
      width:100%;
      height:7vw;
      background:#fff;
      position:fixed;
      z-index:9;
      }

      @include md{
        height:10vw;
      }

      .airbnb-icon-wrap{
        display:none;
      }

      .glnav-mobile-fadein{
        display:none;

        @include tab{
        display:block;
        width:100%;
        height:100%;
        left:0;
        position:relative;
        }

        .glnav-list-mobile-fadein{
          display:none;

          @include tab{
          display:flex;
          align-items:center;
          justify-content:flex-start;
          width:100%;
          height:100%;
          position:absolute;
          left:0;
          }

          .glnav-list-item-mobile-fadein{
            display:none;

            @include tab{
            display:flex;
            align-items:center;
            justify-content:center;
            width:5vw;
            height:100%;
            margin:0 2vw 0 2vw;
            }

            @include md{
              width:8vw;
            }

            &:first-child{
              color:#008488;
              border-bottom:3px solid #008488;
            }
            &:last-child{
              display:none;

              @include tab{
              display:flex;
              align-items:center;
              justify-content:flex-start;
              width:14vw;
              height:100%;
              }

              @include md{
                width:20vw;
              }
            }
          }
        }
      }
    }
  }
}

.income-mobile{
  display:none;
  
  @include tab{
    width:100%;
    height:7vw;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    position:fixed;
    bottom:0;
    z-index:999;
    display:flex;
  }

  @include md{
    height:12vw;
  }

  .income-con-mobile{
    display:none;

    @include tab{
      width:48%;
      height:100%;
      display:flex;
      justify-content:flex-end;
    }

    .income-con-word-mobile{
      display:none;

      @extend %font-40;

      @include tab{
        width:30%;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:flex-end;
      }
    }
    .income-con-price-mobile{
      display:none;

      @extend %font-40;

      @include tab{
      width:30%;
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      }
    }
  }

  .hajimeru-mobile{
    display:none;

    @extend %font-40;

    @include tab{
    width:14vw;
    height:5vw;
    background:#DB3641;
    border-radius:8px;
    color:#fff;
    margin-right:4vw;
    display:flex;
    align-items:center;
    justify-content:center;
    }

    @include md{
      width:16vw;
      height:6vw;
    }
  }
}

.glnavmobile-wrap{
  display:none;

  .l-drawer__item-inner{
    @extend %font-40;
  }

  @include tab{
    display:block;
    position:relative;
    top:5vw;

    
    .airbnb-icon-mobile-wrap{
      width:100%;

      .l-drawer {
        position: relative;
      }
      .l-drawer__checkbox {
        display: none;
      }
      .l-drawer__icon {
        cursor: pointer;
        display: block;
        width: 5vw;
        height: 5vw;
        position: fixed;
        left: 2vw;
      }
      
      .airbnb-icon{
        width: 100%;
        height: 100%;
        fill: white;
      }
      #drawerCheckbox:checked + label .airbnb-icon{
        fill: #008489;
      }
      
      .l-drawer__overlay {
        background: #000;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
      }
      .l-drawer__menu {
        background: #ffffff;
        color: #000;
        max-width: 100%;
        width: 100%;
        height: 100vw;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: -100vw;
        /*出て来る方向左右変える*/

        /*ここからスタイル*/
        .l-draver-list{
          width:80%;
          height:100%;
          margin:12vw 10vw 0 10vw;

          @include md{
            margin-top:18vw;
          }

          .l-drawer__item{
            width:100%;
            height:5vw;
            border-bottom:1px solid black;
            display:flex;
            align-items:center;
            justify-content:flex-start;

            @include md{
              height:8vw;
            }
            
            &:first-child{
              color:#008489;
            }
          }
        }
        /*ここまでスタイル*/
      }
      .l-drawer__icon {
        z-index: 4;
      }
      .l-drawer__menu {
        z-index: 3;
      }
      .l-drawer__overlay {
        z-index: 2;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon{
        background: transparent;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__overlay {
        opacity: 0.3;
        pointer-events: auto;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__menu {
        top: 0;/*出て来る方向左右変える*/
      }
      .l-drawer__overlay, .l-drawer__menu {
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
      }

      /*ここまでハンバーガーメニュー*/
    }
  }
}

.top{
  width:100%;
  padding-top:7vw;
  position:relative;
  box-shadow:0px -500px 900px -400px black inset;
  

  @include tab{
    height:70vw;
    padding-top:0;
    box-shadow:0px -66vw 50vw -36vw black inset;
  }

  &-img{
    width:100%;
    position:relative;
    z-index:-1;
  }

  .income-check-wrap{
    width:32vw;
    height:32vw;
    background:#fff;
    position:absolute;
    top:20%;
    left:56%;
    padding:3%;

    @include tab{
      width:94%;
      top:48vw;
      left:0;
    }

    .income-check-title{
      @extend %font-60;
      font-weight:bold;
      margin-bottom:3%;

      @include tab{
        position:absolute;
        width:80%;
        top:-12vw;
        left:12vw;
        color:#fff;
      }
    }

    .income-check-title-sub{
      @extend %font-26;

      @include tab{
        width:80%;
        margin-left:9vw;
      }
    }

    .income-check-select-wrap{
      width:100%;
      height:11vw;
      margin-top:2%;

      .income-check-select-place{
        width:100%;
        height:4vw;
        border:1px solid #EBEBEB;
        border-radius:6px;

        @include tab{
          width:80%;
          height:6vw;
          margin:0 auto;
        }

        &-con{
          width:100%;
          height:100%;
          @extend %font-26;
          background:#fff;
        }
      }

      .income-check-select-wrap-small{
        width:100%;
        display:flex;
        margin-top:2%;

        .income-check-select-type{
          width:60%;
          height:4vw;
          border:1px solid #EBEBEB;
          border-radius:6px;
          margin-right:4%;

          @include tab{
            width:39%;
            height:6vw;
            margin:0 auto;
            margin-left:9vw;
            margin-right:1%;
          }

          &-con{
            width:100%;
            height:100%;
            @extend %font-26;
            background:#fff;
          }
        }

        .income-check-select-howmany{
          width:40%;
          height:4vw;
          border:1px solid #EBEBEB;
          border-radius:6px;

          @include tab{
            height:6vw;
          }
        }
      }
    }

    .income-check-mon-income{
      @extend %flexbox-center-jc-fs;
      width:100%;
      height:4vw;
      @extend %font-30;

      @include tab{
        width:80%;
        margin-top:7vw;
        margin-left:9vw;
      }

      &-mon{
        height:50%;
        @extend %font-20;
        display:flex;
        align-items:center;

        @include tab{
          margin-top:1vw;
        }
      }
    }

    .income-check-hajimeru{
      width:100%;
      height:4vw;
      background:#DB3641;
      color:#fff;
      border-radius:6px;
      @extend %font-20;
      @extend %flexbox-center;

      @include tab{
        width:80%;
        height:6vw;
        margin-top:3vw;
        margin-left:9vw;
      }

      &:hover{
        cursor:pointer;
      }
    }
  }
}

.expl{
  @extend %section-padding-box;
  width:80%;
  height:12vw;
  display:flex;

  @include tab{
    width:74%;
    height:38vw;
    display:block;
    margin-top:24vw;
    margin-left:2vw;
  }

  @include md{
    height:48vw;
  }

  @include sm{
    height:62vw;
  }

  &-left{
    width:46%;
    height:100%;
    margin-right:4%;

    @include tab{
      width:100%;
      height:24vw;
    }

    @include md{
      height:30vw;
    }

    @include sm{
      height:36vw;
    }

    &-title{
      width:100%;
      @extend %font-40;
      font-weight:bold;
      margin-bottom:4%;
    }

    &-con{
      width:100%;
      @extend %font-26;
      line-height:1.6;
    }
  }

  &-right{
    @extend .expl-left;
    margin:0;

    &-title{
      @extend .expl-left-title;
    }

    &-con{
      @extend .expl-left-con;
    }
  }
}

.step{
  @extend %section-padding-box;
  width:80%;
  height:24vw;

  @include tab{
    height:90vw;
  }

  @include md{
    height:105vw;
  }

  @include sm{
    height:110vw;
  }

  &-title-wrap{
    width:100%;
    height:10vw;

    .step-title-line{
      @extend %section-title-line;
    }

    .step-title{
      @extend %section-title;
    }
  }

  .step-con{
    width:100%;
    height:12vw;

    .step-list{
      width:100%;
      height:100%;
      display:flex;
      list-style-type:none;

      @include tab{
        display:block;
      }

      &-item{
        width:28%;

        @include tab{
          width:82%;
          margin-left:2vw;
        }

        @include md{
          height:30vw;
        }

        &:not(:last-child){
          margin-right:8%;
        }

        &-icon{
          width:3vw;
          height:3vw;
          position: relative;
          margin-bottom:4%;

          &:before {
            content: "";
            position: absolute;
            top: 0.4vw;
            left: 1vw;
            -webkit-transform: rotate(50deg);
            -ms-transform: rotate(50deg);
            transform: rotate(50deg);
            width: 1vw;
            height: 2vw;
            border-right: 2px solid;
            border-bottom: 2px solid;

            @include tab{
              top:1vw;
              left:1.4vw;
            }

            @include md{
              top:1.4vw;
              left:1.5vw;
            }

            @include sm{
              top:2vw;
            }
          }
         
          &:after {
            content: "";
            position: absolute;
            top: .2em;
            left: 0;
            width:3vw;
            height:3vw;
            border: 1px solid;
            border-radius: 100px;

            @include tab{
              width:4vw;
              height:4vw;
            }

            @include md{
              width:4.4vw;
              height:4.4vw;
            }
          }
        }

        &-title{
          @extend %flexbox-center-jc-fs;
          width:100%;
          height:3vw;
          @extend %font-30;
          font-weight:bold;

          @include tab{
            height:8vw;
          }
        }

        &-con{
          width:100%;
          height:10vw;
          @extend %font-20;
          line-height:2vw;

          @include tab{
            line-height:1.4;
          }

          @include sm{
            height:20vw;
          }
        }

        .step-link{
          @extend %flexbox-center-jc-fs;
          width:100%;
          height:auto;
          @extend %font-20;
          color:#008488;

          @include tab{
            height:8vw;
          }

          &:hover{
            cursor:pointer;
          }
        }
      }
    }
  }
}

.example1{
  @extend %section-padding-box;
  width:80%;
  height:40vw;
  display:flex;

  @include tab{
    flex-direction:column;
    height:60vw;
  }

  .example1-left{
    width:45%;
    margin-right:6vw;

    @include tab{
      width:100%;
      position:relative;
      top:14vw;
      order:2;
    }
    
    .example1-left-wrap{
      width:100%;
      padding:10% 0 10% 0;

      .konma{
        width:100%;
        height:4vw;
        @extend %font-200;
        color:#FDB32A;
      }

      .example1-left-con{
        @extend %flexbox-center-ai-fs;
        width:100%;
        height:auto;
        @extend %font-50;

        @include md{
          height:10vw;
          padding-top:2vw;
        }

        @include sm{
          height:20vw;
        }
      }

      .example1-left-con-sub{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:4vw;
        @extend %font-20;
      }

      .example1-left-btn{
        @extend %flexbox-center;
        width:50%;
        height:4vw;
        border:0.2vw solid #484848;
        border-radius:7px;
        margin-top:2%;
        @extend %font-20;
        font-weight:bold;

        @include md{
          height:6vw;
        }

        @include sm{
          height:8vw;
          margin-top:4vw;
        }

        &:hover{
          cursor:pointer;
        }
      }
    }
  }

  .example1-right{
    width:50%;
    height:100%;

    @include tab{
      width:100%;
      order:1;
    }

    .example1-img{
      width:38vw;
      height:38vw;

      @include tab{
        width:80vw;
        height:80vw;
      }
    }
  }
}

.safe{
  @extend %section-padding-box;
  width:80%;
  height:90vw;

  @include tab{
    height:168vw;
    position:relative;
    top:50vw;
  }

  @include sm{
    margin-top:18vw;
  }

  &-title-wrap{
    @extend .step-title-wrap;

    .safe-title-line{
      @extend %section-title-line;
    }

    .safe-title{
      @extend %section-title;
    }
  }

  .safe-con{
    width:100%;
    height:36vw;
    display:flex;

    @include tab{
      display:block;
      height:56vw;
    }

    @include md{
      height:62vw;
    }

    @include sm{
      height:100vw;
    }

    .safe-con-left{
      width:45%;
      @extend %font-24;
      margin:4% 10% 0 0;
      line-height:2.8vw;

      @include tab{
        width:98%;
      }

      @include sm{
        height:56vw;
      }

      .safe-con-left-word{
        width:100%;
        height:24vw;

        @include tab{
          height:15vw;
        }

        @include md{
          height:22vw;
        }

        @include sm{
          height:44vw;
          line-height:5vw;
        }
      }

      .safe-con-left-link{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:auto;
        @extend %font-20;
        color:#008488;

        @include tab{
          height:4vw;
        }

        &:hover{
          cursor:pointer;
        }
      }
    }

    .safe-con-right{
      width:45%;
      line-height:5vw;

      @include tab{
        width:98%;
        margin-top:2vw;
        margin-left:1vw;
      }

      .safe-con-right-list{
        width:100%;
        list-style-type:none;
        
        .safe-con-right-list-item{
          width:100%;
          @extend %font-20;
          position:relative;
          padding-left:8%;

          &:before{
            content: "";
            position: absolute;
            top: 1vw;
            left: 0;
            -webkit-transform: rotate(50deg);
            -ms-transform: rotate(50deg);
            transform: rotate(50deg);
            width: 0.8vw;
            height: 1.8vw;
            border-right: 3px solid #008488;
            border-bottom: 3px solid #008488;
          }
        }
      }
    }
  }

  .safe-img{
    width:100%;
    height:auto;
  }
}

.pay{
  @extend %section-padding-box;
  width:80%;
  height:22vw;

  @include tab{
    height:64vw;
  }

  @include sm{
    height:90vw;
    margin-top:50vw;
  }

  &-title-wrap{
    @extend .step-title-wrap;

    .pay-title-line{
      @extend %section-title-line;
    }

    .pay-title{
      @extend %section-title;
    }
  }

  &-con-wrap{
    width:100%;
    display:flex;

    @include tab{
      display:block;
    }

    .pay-con{
      width:33%;
      padding-right:3%;

      @include tab{
        width:88%;
        height:20vw;
        margin-left:4vw;
      }

      &-title{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:5vw;
        @extend %font-30;
        font-weight:bold;
      }

      &-word{
        width:100%;
        @extend %font-20;
        line-height:1.6;
      }

      .pay-link{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:6vw;
        @extend %font-20;
        color:#008488;

        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}

.example2{
  @extend %section-padding-box;
  width:80%;
  height:40vw;
  display:flex;

  @include tab{
    display:block;
    height:104vw;
  }

  @include md{
    height:110vw;
  }

  @include sm{
    margin-bottom:8vw;
  }

  &-left{
    width:50%;

    @include tab{
      width:100%;
      height:76vw;
    }

    .example2-img{
      width:90%;
      height:90%;
      padding:5%;

      @include tab{
        width:80vw;
        height:80vw;
        padding:0;
      }
    }
  }

  &-right{
    width:44%;
    margin-left:5%;

    @include tab{
      width:100%;
      margin:0;
    }
    
    &-wrap{
      padding:20% 0 20% 0;

      @include tab{
        padding:5vw 0 0 0;
      }
    
      .konma{
        width:100%;
        height:4vw;
        @extend %font-200;
        color:#FDB32A;
      }

      .example2-right-con{
        @extend %flexbox-center-ai-fs;
        width:100%;
        height:auto;
        @extend %font-50;

        @include md{
          height:8vw;
          padding-top:2vw;
        }

        @include sm{
          height:10vw;
        }
      }

      .example2-right-con-sub{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:4vw;
        @extend %font-20;
      }

      .example2-right-btn{
        @extend %flexbox-center;
        width:50%;
        height:4vw;
        border:0.2vw solid #484848;
        border-radius:7px;
        margin-top:2%;
        @extend %font-20;
        font-weight:bold;

        @include md{
          height:6vw;
          margin-top:3vw;
        }

        @include sm{
          height:8vw;
          margin-top:4vw;
        }

        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}

.host-num{
  @extend %section-padding-box;
  width:80%;
  height:22vw;

  @include tab{
    height:54vw;
  }

  @include sm{
    margin-bottom:10vw;
  }

  &-title-wrap{
    @extend .step-title-wrap;

    .host-num-title-line{
      @extend %section-title-line;
    }

    .host-num-title{
      @extend %section-title;
    }
  }

  &-con-wrap{
    width:100%;
    display:flex;

    @include tab{
      flex-direction:column;
    }

    .host-num-con{
      width:33%;

      @include tab{
        width:100%;
        height:14vw;
        margin-top:2vw;
      }

      &-big{
        @extend %flexbox-center;
        width:100%;
        height:5vw;
        @extend %font-70;
      }

      &-small{
        @extend .host-num-con-big;
        @extend %font-24;
      }      
    }
  }
}

.about{
  @extend %section-padding-box;
  width:80%;
  height:26vw;

  @include tab{
    height:50vw;
  }

  @include sm{
    height:70vw;
  }

  &-title-wrap{
    @extend .step-title-wrap;

    .about-title-line{
      @extend %section-title-line;
    }

    .about-title{
      @extend %section-title;
    }
  }

  .about-con-wrap{
    width:100%;
    display:flex;

    @include tab{
      flex-direction:column;
    }

    .about-con{
      width:40%;
      padding-left:6%;

      @include tab{
        width:90%;
        height:18vw;
      }

      @include sm{
        height:28vw;
      }

      &-title{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:5vw;
        @extend %font-40;
        font-weight:bold;

        @include tab{
          height:8vw;
        }
      }

      &-word{
        width:100%;
        @extend %font-20;
        line-height:2vw;

        @include tab{
          line-height:3vw;
        }
      }

      &-link{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:4vw;
        @extend %font-20;
        color:#008488;

        @include md{
          padding-top:2vw;
        }

        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}

.qa{
  @extend %section-padding-box;
  width:80%;
  height:28vw;

  @include tab{
    height:56vw;
  }

  @include sm{
    height:70vw;
  }

  &-title-wrap{
    @extend .step-title-wrap;

    .qa-title-line{
      @extend %section-title-line;
    }

    .qa-title{
      @extend %section-title;
    }
  }

  &-con{
    width:100%;
    display:flex;

    @include tab{
      flex-direction:column;
    }

    &-list{
      width:48%;
      padding-left:4%;
      list-style-type:none;
      
      @include tab{
        width:90%;
      }

      &-item{
        width:100%;
        height:6vw;
        @extend %font-20;
        color:#008488;
        @extend %flexbox-center-jc-fs;
        border-bottom:1px solid #EBEBEB;

        @include tab{
          height:8vw;
        }

        &:hover{
          cursor:pointer;
        }
      }
      
    }
  }
}

.hosting{
  @extend %section-padding-box;
  width:80%;
  height:28vw;

  @include tab{
    height:70vw;
  }

  &-title{
    @extend %flexbox-center-jc-fs;
    width:100%;
    height:6vw;
    @extend %font-30;
    font-weight:bold;
  }

  &-con-wrap{
    width:100%;
    height:20vw;
    display:flex;

    @include tab{
      flex-direction:column;
    }

    .hosting-con{
      width:33%;
      height:24vw;
      border:1px solid #EBEBEB;

      @include tab{
        display:flex;
        width:100%;
        margin-bottom:4vw;
      }

      &:not(:last-child){
        margin-right:5%;
      }

      &-img{
        width:100%;

        @include tab{
          width:30%;
        }
      }

      .host-word-wrap{
        width:100%;

        @include tab{
          padding-top:4vw;
        }

        .hosting-con-title{
          @extend %flexbox-center-jc-fs;
          width:100%;
          height:2vw;
          @extend %font-24;
          margin-top:0.4vw;
          margin-left:2vw;

          &:first-child{
            font-weight:bold;
          }
        }

        .hosting-con-title-sub{
          @extend .hosting-con-title;
          @extend %font-20;
        }

        .hosting-con-link{
          @extend .hosting-con-title;
          @extend %font-20;
          color:#008488;

          @include tab{
            display:none;
          }

          &:hover{
            cursor:pointer;
          }
        }
      }
    }
  }
}

.try{
  width:100%;
  height:40vw;
  position:relative;

  @include tab{
    height:26vw;
  }

  &-img{
    width:100%;
    position:absolute;
    top:0;
  }

  &-title{
    position:absolute;
    top:8vw;
    left:4vw;
    width:40%;
    @extend %font-70;
    color:#fff;
    font-weight:bold;
  }

  &-btn{
    @extend %flexbox-center;
    width:10%;
    height:5vw;
    position:absolute;
    top:20vw;
    left:4vw;
    @extend %font-24;
    font-weight:bold;
    background:#fff;
    border-radius:8px;

    @include md{
      width:20%;
      height:7vw;
    }

    &:hover{
      cursor:pointer;
    }
  }
}

.links{
  @extend %section-padding-box;
  width:80%;
  height:12vw;
  display:flex;

  @include tab{
    display:none;
  }

  &-con{
    width:22%;

    &-title{
      width:100%;
      height:3vw;
      @extend %font-20;
      font-weight:bold;
    }

    .links-list{
      width:100%;
      @extend %font-20;
      list-style-type:none;

      &-item{
        @extend %flexbox-center-jc-fs;
        width:100%;
        height:2vw;
        color:#767676;

        &:hover{
          cursor:pointer;
        }

        .links-new{
          @extend %flexbox-center;
          width:20%;
          height:100%;
          background:#006A6F;
          border-radius:8px;
          color:#fff;
          margin-left:2%;
        }
      }
    }

  }
}

footer{
  width:80%;
  height:10vw;
  border-top:1px solid #EBEBEB;
  margin:100px 10% 100px 10%;
  display:flex;

  @include tab{
    width:90%;
    margin:10vw 2vw 5vw 2vw;
    border-top:0px solid #fff;
  }

  @include md{
    height:11vw;
  }

  @include sm{
    height:20vw;
  }

  .ft-left{
    width:70%;
    margin:2% 0 0 0;

    @include tab{
      width:100%;
    }

    .ft-word{
      @extend %flexbox-center-jc-fs;
      width:100%;
      height:2vw;
      @extend %font-20;
      flex-wrap:wrap;

      @include tab{
        padding-bottom:0.5vw;
      }

      @include md{
        flex-wrap:wrap;
      }

      @include sm{
        height:10vw;
      }
      
    }
  }

  .ft-right{
    width:30%;
    position:relative;
    overflow:hidden;

    @include tab{
      display:none;
    }

    .sns-wrap{
      width:100%;
      position:absolute;
      top:20%;
      left:46%;

      .sns-icon{
        width:3vw;
        margin-left:4%;

        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}