@charset "UTF-8";
.pc-menu .airbnb-icon-wrap, .pc-menu .glnav-list, .pc-menu .glnav-list-item, .pc-menu .income, .pc-menu .income-con, .pc-menu .income-con-price, .pc-menu .income .hajimeru, .top .income-check-wrap .income-check-hajimeru, .example1 .example1-left .example1-left-wrap .example1-left-btn, .example2-right-wrap .example2-right-btn, .host-num-con-wrap .host-num-con-big, .host-num-con-wrap .host-num-con-small, .try-btn, .links-con .links-list-item .links-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .income-check-wrap .income-check-mon-income, .step .step-con .step-list-item-title, .step .step-con .step-list-item .step-link, .example1 .example1-left .example1-left-wrap .example1-left-con-sub, .safe .safe-con .safe-con-left .safe-con-left-link, .pay-con-wrap .pay-con-title, .pay-con-wrap .pay-con .pay-link, .example2-right-wrap .example2-right-con-sub, .about .about-con-wrap .about-con-title, .about .about-con-wrap .about-con-link, .qa-con-list-item, .hosting-title, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link, .links-con .links-list-item, footer .ft-left .ft-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.example1 .example1-left .example1-left-wrap .example1-left-con, .example2-right-wrap .example2-right-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.example1 .example1-left .example1-left-wrap .konma, .example2-right-wrap .konma {
  font-size: calc(6.625rem + ((1vw - 10.25px) * 10.5028));
  min-height: 0vw;
}

.step-title-wrap .step-title, .safe-title-wrap .step-title, .pay-title-wrap .step-title, .host-num-title-wrap .step-title, .about-title-wrap .step-title, .qa-title-wrap .step-title, .safe-title-wrap .safe-title, .pay-title-wrap .pay-title, .host-num-title-wrap .host-num-title, .about-title-wrap .about-title, .qa-title-wrap .qa-title, .host-num-con-wrap .host-num-con-big, .host-num-con-wrap .host-num-con-small, .try-title {
  font-size: calc(2.3125rem + ((1vw - 10.25px) * 3.6872));
  min-height: 0vw;
}

.top .income-check-wrap .income-check-title {
  font-size: calc(1.9375rem + ((1vw - 10.25px) * 3.2402));
  min-height: 0vw;
}

.example1 .example1-left .example1-left-wrap .example1-left-con, .example2-right-wrap .example2-right-con {
  font-size: calc(1.625rem + ((1vw - 10.25px) * 2.6816));
  min-height: 0vw;
}

.pc-menu .income-con-price, .mobile-fadein-wrap .glnav-list-item-mobile-fadein, .income-mobile .income-con-mobile .income-con-word-mobile, .income-mobile .income-con-mobile .income-con-price-mobile, .income-mobile .hajimeru-mobile, .glnavmobile-wrap .l-drawer__item-inner, .expl-left-title, .expl-right-title, .about .about-con-wrap .about-con-title {
  font-size: calc(1.3125rem + ((1vw - 10.25px) * 2.1229));
  min-height: 0vw;
}

.pc-menu .glnav-list-item, .top .income-check-wrap .income-check-mon-income, .step .step-con .step-list-item-title, .pay-con-wrap .pay-con-title, .hosting-title {
  font-size: calc(0.9375rem + ((1vw - 10.25px) * 1.676));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .pc-menu .glnav-list-item, .top .income-check-wrap .income-check-mon-income, .step .step-con .step-list-item-title, .pay-con-wrap .pay-con-title, .hosting-title {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 4.0179));
  }
}

.top .income-check-wrap .income-check-title-sub, .top .income-check-wrap .income-check-select-wrap .income-check-select-place-con, .top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-type-con, .expl-left-con, .expl-right-con {
  font-size: calc(0.875rem + ((1vw - 10.25px) * 1.3408));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-title-sub, .top .income-check-wrap .income-check-select-wrap .income-check-select-place-con, .top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-type-con, .expl-left-con, .expl-right-con {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.3393));
  }
}

.safe .safe-con .safe-con-left, .host-num-con-wrap .host-num-con-small, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link, .try-btn {
  font-size: calc(0.8125rem + ((1vw - 10.25px) * 1.2291));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .safe .safe-con .safe-con-left, .host-num-con-wrap .host-num-con-small, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link, .try-btn {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.8929));
  }
}

.pc-menu .income-con-word, .pc-menu .income .hajimeru, .top .income-check-wrap .income-check-mon-income-mon, .top .income-check-wrap .income-check-hajimeru, .step .step-con .step-list-item-con, .step .step-con .step-list-item .step-link, .example1 .example1-left .example1-left-wrap .example1-left-con-sub, .example1 .example1-left .example1-left-wrap .example1-left-btn, .safe .safe-con .safe-con-left .safe-con-left-link, .safe .safe-con .safe-con-right .safe-con-right-list .safe-con-right-list-item, .pay-con-wrap .pay-con-word, .pay-con-wrap .pay-con .pay-link, .example2-right-wrap .example2-right-con-sub, .example2-right-wrap .example2-right-btn, .about .about-con-wrap .about-con-word, .about .about-con-wrap .about-con-link, .qa-con-list-item, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link, .links-con-title, .links-con .links-list, footer .ft-left .ft-word {
  font-size: calc(0.6875rem + ((1vw - 10.25px) * 1.0056));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .pc-menu .income-con-word, .pc-menu .income .hajimeru, .top .income-check-wrap .income-check-mon-income-mon, .top .income-check-wrap .income-check-hajimeru, .step .step-con .step-list-item-con, .step .step-con .step-list-item .step-link, .example1 .example1-left .example1-left-wrap .example1-left-con-sub, .example1 .example1-left .example1-left-wrap .example1-left-btn, .safe .safe-con .safe-con-left .safe-con-left-link, .safe .safe-con .safe-con-right .safe-con-right-list .safe-con-right-list-item, .pay-con-wrap .pay-con-word, .pay-con-wrap .pay-con .pay-link, .example2-right-wrap .example2-right-con-sub, .example2-right-wrap .example2-right-btn, .about .about-con-wrap .about-con-word, .about .about-con-wrap .about-con-link, .qa-con-list-item, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link, .links-con-title, .links-con .links-list, footer .ft-left .ft-word {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.3393));
  }
}

.pc-menu {
  font-size: calc(0.625rem + ((1vw - 10.25px) * 0.6704));
  min-height: 0vw;
}

.expl, .step, .example1, .safe, .pay, .example2, .host-num, .about, .qa, .hosting, .links {
  padding: 5% 10% 5% 10%;
}

.step-title-wrap .step-title-line, .safe-title-wrap .step-title-line, .pay-title-wrap .step-title-line, .host-num-title-wrap .step-title-line, .about-title-wrap .step-title-line, .qa-title-wrap .step-title-line, .safe-title-wrap .safe-title-line, .pay-title-wrap .pay-title-line, .host-num-title-wrap .host-num-title-line, .about-title-wrap .about-title-line, .qa-title-wrap .qa-title-line {
  width: 10vw;
  height: 3vw;
  border-top: 2px solid #767676;
  margin: 0 auto;
}

.step-title-wrap .step-title, .safe-title-wrap .step-title, .pay-title-wrap .step-title, .host-num-title-wrap .step-title, .about-title-wrap .step-title, .qa-title-wrap .step-title, .safe-title-wrap .safe-title, .pay-title-wrap .pay-title, .host-num-title-wrap .host-num-title, .about-title-wrap .about-title, .qa-title-wrap .qa-title {
  width: 100%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.pc-menu {
  width: 100%;
  height: 7vw;
  background: #fff;
  position: fixed;
  z-index: 9;
}

@media (max-width: 768px) {
  .pc-menu {
    display: none;
  }
}

.pc-menu .airbnb-icon-wrap {
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  left: 0;
}

.pc-menu .airbnb-icon-wrap .airbnb-icon {
  width: 60%;
  height: 60%;
}

.pc-menu .airbnb-icon-wrap .airbnb-icon:hover {
  cursor: pointer;
}

.pc-menu .glnav {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7vw;
}

.pc-menu .glnav-list {
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.pc-menu .glnav-list-item {
  width: auto;
  height: 100%;
  margin: 0 6% 0 6%;
}

.pc-menu .glnav-list-item:first-child {
  color: #008488;
  border-bottom: 3px solid #008488;
}

.pc-menu .glnav-list-item:hover {
  cursor: pointer;
}

.pc-menu .income {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
}

.pc-menu .income-con {
  width: 50%;
  height: 100%;
}

.pc-menu .income-con-word {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pc-menu .income-con-price {
  height: 100%;
}

.pc-menu .income .hajimeru {
  width: 20%;
  height: 40%;
  background: #DB3641;
  border-radius: 8px;
  color: #fff;
}

.pc-menu .income .hajimeru:hover {
  cursor: pointer;
}

.mobile-fadein-wrap {
  display: none;
}

@media (max-width: 768px) {
  .mobile-fadein-wrap {
    display: block;
  }
  .mobile-fadein-wrap .mobile-fadein {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein {
    display: block;
    width: 100%;
    height: 7vw;
    background: #fff;
    position: fixed;
    z-index: 9;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .mobile-fadein-wrap .mobile-fadein {
    height: 10vw;
  }
}

@media (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .airbnb-icon-wrap {
    display: none;
  }
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
  }
}

@media (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
}

@media (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 5vw;
    height: 100%;
    margin: 0 2vw 0 2vw;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein {
    width: 8vw;
  }
}

@media (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein:first-child {
    color: #008488;
    border-bottom: 3px solid #008488;
  }
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein:last-child {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 14vw;
    height: 100%;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .mobile-fadein-wrap .mobile-fadein .glnav-mobile-fadein .glnav-list-mobile-fadein .glnav-list-item-mobile-fadein:last-child {
    width: 20vw;
  }
}

.income-mobile {
  display: none;
}

@media (max-width: 768px) {
  .income-mobile {
    width: 100%;
    height: 7vw;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
  }
}

@media (max-width: 425px) {
  .income-mobile {
    height: 12vw;
  }
}

.income-mobile .income-con-mobile {
  display: none;
}

@media (max-width: 768px) {
  .income-mobile .income-con-mobile {
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.income-mobile .income-con-mobile .income-con-word-mobile {
  display: none;
}

@media (max-width: 768px) {
  .income-mobile .income-con-mobile .income-con-word-mobile {
    width: 30%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.income-mobile .income-con-mobile .income-con-price-mobile {
  display: none;
}

@media (max-width: 768px) {
  .income-mobile .income-con-mobile .income-con-price-mobile {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.income-mobile .hajimeru-mobile {
  display: none;
}

@media (max-width: 768px) {
  .income-mobile .hajimeru-mobile {
    width: 14vw;
    height: 5vw;
    background: #DB3641;
    border-radius: 8px;
    color: #fff;
    margin-right: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 425px) {
  .income-mobile .hajimeru-mobile {
    width: 16vw;
    height: 6vw;
  }
}

.glnavmobile-wrap {
  display: none;
}

@media (max-width: 768px) {
  .glnavmobile-wrap {
    display: block;
    position: relative;
    top: 5vw;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap {
    width: 100%;
    /*ここまでハンバーガーメニュー*/
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer {
    position: relative;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox {
    display: none;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__icon {
    cursor: pointer;
    display: block;
    width: 5vw;
    height: 5vw;
    position: fixed;
    left: 2vw;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .airbnb-icon {
    width: 100%;
    height: 100%;
    fill: white;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap #drawerCheckbox:checked + label .airbnb-icon {
    fill: #008489;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__overlay {
    background: #000;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu {
    background: #ffffff;
    color: #000;
    max-width: 100%;
    width: 100%;
    height: 100vw;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: -100vw;
    /*出て来る方向左右変える*/
    /*ここからスタイル*/
    /*ここまでスタイル*/
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu .l-draver-list {
    width: 80%;
    height: 100%;
    margin: 12vw 10vw 0 10vw;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu .l-draver-list {
    margin-top: 18vw;
  }
}

@media (max-width: 768px) {
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu .l-draver-list .l-drawer__item {
    width: 100%;
    height: 5vw;
    border-bottom: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu .l-draver-list .l-drawer__item {
    height: 8vw;
  }
}

@media (max-width: 768px) {
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu .l-draver-list .l-drawer__item:first-child {
    color: #008489;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__icon {
    z-index: 4;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu {
    z-index: 3;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__overlay {
    z-index: 2;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox:checked ~ .l-drawer__icon {
    background: transparent;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox:checked ~ .l-drawer__overlay {
    opacity: 0.3;
    pointer-events: auto;
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__checkbox:checked ~ .l-drawer__menu {
    top: 0;
    /*出て来る方向左右変える*/
  }
  .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__overlay, .glnavmobile-wrap .airbnb-icon-mobile-wrap .l-drawer__menu {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
}

.top {
  width: 100%;
  padding-top: 7vw;
  position: relative;
  -webkit-box-shadow: 0px -500px 900px -400px black inset;
          box-shadow: 0px -500px 900px -400px black inset;
}

@media (max-width: 768px) {
  .top {
    height: 70vw;
    padding-top: 0;
    -webkit-box-shadow: 0px -66vw 50vw -36vw black inset;
            box-shadow: 0px -66vw 50vw -36vw black inset;
  }
}

.top-img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.top .income-check-wrap {
  width: 32vw;
  height: 32vw;
  background: #fff;
  position: absolute;
  top: 20%;
  left: 56%;
  padding: 3%;
}

@media (max-width: 768px) {
  .top .income-check-wrap {
    width: 94%;
    top: 48vw;
    left: 0;
  }
}

.top .income-check-wrap .income-check-title {
  font-weight: bold;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-title {
    position: absolute;
    width: 80%;
    top: -12vw;
    left: 12vw;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-title-sub {
    width: 80%;
    margin-left: 9vw;
  }
}

.top .income-check-wrap .income-check-select-wrap {
  width: 100%;
  height: 11vw;
  margin-top: 2%;
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-place {
  width: 100%;
  height: 4vw;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-select-wrap .income-check-select-place {
    width: 80%;
    height: 6vw;
    margin: 0 auto;
  }
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-place-con {
  width: 100%;
  height: 100%;
  background: #fff;
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-type {
  width: 60%;
  height: 4vw;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  margin-right: 4%;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-type {
    width: 39%;
    height: 6vw;
    margin: 0 auto;
    margin-left: 9vw;
    margin-right: 1%;
  }
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-type-con {
  width: 100%;
  height: 100%;
  background: #fff;
}

.top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-howmany {
  width: 40%;
  height: 4vw;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-select-wrap .income-check-select-wrap-small .income-check-select-howmany {
    height: 6vw;
  }
}

.top .income-check-wrap .income-check-mon-income {
  width: 100%;
  height: 4vw;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-mon-income {
    width: 80%;
    margin-top: 7vw;
    margin-left: 9vw;
  }
}

.top .income-check-wrap .income-check-mon-income-mon {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-mon-income-mon {
    margin-top: 1vw;
  }
}

.top .income-check-wrap .income-check-hajimeru {
  width: 100%;
  height: 4vw;
  background: #DB3641;
  color: #fff;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .top .income-check-wrap .income-check-hajimeru {
    width: 80%;
    height: 6vw;
    margin-top: 3vw;
    margin-left: 9vw;
  }
}

.top .income-check-wrap .income-check-hajimeru:hover {
  cursor: pointer;
}

.expl {
  width: 80%;
  height: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .expl {
    width: 74%;
    height: 38vw;
    display: block;
    margin-top: 24vw;
    margin-left: 2vw;
  }
}

@media (max-width: 425px) {
  .expl {
    height: 48vw;
  }
}

@media (max-width: 320px) {
  .expl {
    height: 62vw;
  }
}

.expl-left, .expl-right {
  width: 46%;
  height: 100%;
  margin-right: 4%;
}

@media (max-width: 768px) {
  .expl-left, .expl-right {
    width: 100%;
    height: 24vw;
  }
}

@media (max-width: 425px) {
  .expl-left, .expl-right {
    height: 30vw;
  }
}

@media (max-width: 320px) {
  .expl-left, .expl-right {
    height: 36vw;
  }
}

.expl-left-title, .expl-right-title {
  width: 100%;
  font-weight: bold;
  margin-bottom: 4%;
}

.expl-left-con, .expl-right-con {
  width: 100%;
  line-height: 1.6;
}

.expl-right {
  margin: 0;
}

.step {
  width: 80%;
  height: 24vw;
}

@media (max-width: 768px) {
  .step {
    height: 90vw;
  }
}

@media (max-width: 425px) {
  .step {
    height: 105vw;
  }
}

@media (max-width: 320px) {
  .step {
    height: 110vw;
  }
}

.step-title-wrap, .safe-title-wrap, .pay-title-wrap, .host-num-title-wrap, .about-title-wrap, .qa-title-wrap {
  width: 100%;
  height: 10vw;
}

.step .step-con {
  width: 100%;
  height: 12vw;
}

.step .step-con .step-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

@media (max-width: 768px) {
  .step .step-con .step-list {
    display: block;
  }
}

.step .step-con .step-list-item {
  width: 28%;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item {
    width: 82%;
    margin-left: 2vw;
  }
}

@media (max-width: 425px) {
  .step .step-con .step-list-item {
    height: 30vw;
  }
}

.step .step-con .step-list-item:not(:last-child) {
  margin-right: 8%;
}

.step .step-con .step-list-item-icon {
  width: 3vw;
  height: 3vw;
  position: relative;
  margin-bottom: 4%;
}

.step .step-con .step-list-item-icon:before {
  content: "";
  position: absolute;
  top: 0.4vw;
  left: 1vw;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 1vw;
  height: 2vw;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item-icon:before {
    top: 1vw;
    left: 1.4vw;
  }
}

@media (max-width: 425px) {
  .step .step-con .step-list-item-icon:before {
    top: 1.4vw;
    left: 1.5vw;
  }
}

@media (max-width: 320px) {
  .step .step-con .step-list-item-icon:before {
    top: 2vw;
  }
}

.step .step-con .step-list-item-icon:after {
  content: "";
  position: absolute;
  top: .2em;
  left: 0;
  width: 3vw;
  height: 3vw;
  border: 1px solid;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item-icon:after {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 425px) {
  .step .step-con .step-list-item-icon:after {
    width: 4.4vw;
    height: 4.4vw;
  }
}

.step .step-con .step-list-item-title {
  width: 100%;
  height: 3vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item-title {
    height: 8vw;
  }
}

.step .step-con .step-list-item-con {
  width: 100%;
  height: 10vw;
  line-height: 2vw;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item-con {
    line-height: 1.4;
  }
}

@media (max-width: 320px) {
  .step .step-con .step-list-item-con {
    height: 20vw;
  }
}

.step .step-con .step-list-item .step-link {
  width: 100%;
  height: auto;
  color: #008488;
}

@media (max-width: 768px) {
  .step .step-con .step-list-item .step-link {
    height: 8vw;
  }
}

.step .step-con .step-list-item .step-link:hover {
  cursor: pointer;
}

.example1 {
  width: 80%;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .example1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vw;
  }
}

.example1 .example1-left {
  width: 45%;
  margin-right: 6vw;
}

@media (max-width: 768px) {
  .example1 .example1-left {
    width: 100%;
    position: relative;
    top: 14vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.example1 .example1-left .example1-left-wrap {
  width: 100%;
  padding: 10% 0 10% 0;
}

.example1 .example1-left .example1-left-wrap .konma {
  width: 100%;
  height: 4vw;
  color: #FDB32A;
}

.example1 .example1-left .example1-left-wrap .example1-left-con {
  width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .example1 .example1-left .example1-left-wrap .example1-left-con {
    height: 10vw;
    padding-top: 2vw;
  }
}

@media (max-width: 320px) {
  .example1 .example1-left .example1-left-wrap .example1-left-con {
    height: 20vw;
  }
}

.example1 .example1-left .example1-left-wrap .example1-left-con-sub {
  width: 100%;
  height: 4vw;
}

.example1 .example1-left .example1-left-wrap .example1-left-btn {
  width: 50%;
  height: 4vw;
  border: 0.2vw solid #484848;
  border-radius: 7px;
  margin-top: 2%;
  font-weight: bold;
}

@media (max-width: 425px) {
  .example1 .example1-left .example1-left-wrap .example1-left-btn {
    height: 6vw;
  }
}

@media (max-width: 320px) {
  .example1 .example1-left .example1-left-wrap .example1-left-btn {
    height: 8vw;
    margin-top: 4vw;
  }
}

.example1 .example1-left .example1-left-wrap .example1-left-btn:hover {
  cursor: pointer;
}

.example1 .example1-right {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .example1 .example1-right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.example1 .example1-right .example1-img {
  width: 38vw;
  height: 38vw;
}

@media (max-width: 768px) {
  .example1 .example1-right .example1-img {
    width: 80vw;
    height: 80vw;
  }
}

.safe {
  width: 80%;
  height: 90vw;
}

@media (max-width: 768px) {
  .safe {
    height: 168vw;
    position: relative;
    top: 50vw;
  }
}

@media (max-width: 320px) {
  .safe {
    margin-top: 18vw;
  }
}

.safe .safe-con {
  width: 100%;
  height: 36vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .safe .safe-con {
    display: block;
    height: 56vw;
  }
}

@media (max-width: 425px) {
  .safe .safe-con {
    height: 62vw;
  }
}

@media (max-width: 320px) {
  .safe .safe-con {
    height: 100vw;
  }
}

.safe .safe-con .safe-con-left {
  width: 45%;
  margin: 4% 10% 0 0;
  line-height: 2.8vw;
}

@media (max-width: 768px) {
  .safe .safe-con .safe-con-left {
    width: 98%;
  }
}

@media (max-width: 320px) {
  .safe .safe-con .safe-con-left {
    height: 56vw;
  }
}

.safe .safe-con .safe-con-left .safe-con-left-word {
  width: 100%;
  height: 24vw;
}

@media (max-width: 768px) {
  .safe .safe-con .safe-con-left .safe-con-left-word {
    height: 15vw;
  }
}

@media (max-width: 425px) {
  .safe .safe-con .safe-con-left .safe-con-left-word {
    height: 22vw;
  }
}

@media (max-width: 320px) {
  .safe .safe-con .safe-con-left .safe-con-left-word {
    height: 44vw;
    line-height: 5vw;
  }
}

.safe .safe-con .safe-con-left .safe-con-left-link {
  width: 100%;
  height: auto;
  color: #008488;
}

@media (max-width: 768px) {
  .safe .safe-con .safe-con-left .safe-con-left-link {
    height: 4vw;
  }
}

.safe .safe-con .safe-con-left .safe-con-left-link:hover {
  cursor: pointer;
}

.safe .safe-con .safe-con-right {
  width: 45%;
  line-height: 5vw;
}

@media (max-width: 768px) {
  .safe .safe-con .safe-con-right {
    width: 98%;
    margin-top: 2vw;
    margin-left: 1vw;
  }
}

.safe .safe-con .safe-con-right .safe-con-right-list {
  width: 100%;
  list-style-type: none;
}

.safe .safe-con .safe-con-right .safe-con-right-list .safe-con-right-list-item {
  width: 100%;
  position: relative;
  padding-left: 8%;
}

.safe .safe-con .safe-con-right .safe-con-right-list .safe-con-right-list-item:before {
  content: "";
  position: absolute;
  top: 1vw;
  left: 0;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 0.8vw;
  height: 1.8vw;
  border-right: 3px solid #008488;
  border-bottom: 3px solid #008488;
}

.safe .safe-img {
  width: 100%;
  height: auto;
}

.pay {
  width: 80%;
  height: 22vw;
}

@media (max-width: 768px) {
  .pay {
    height: 64vw;
  }
}

@media (max-width: 320px) {
  .pay {
    height: 90vw;
    margin-top: 50vw;
  }
}

.pay-con-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .pay-con-wrap {
    display: block;
  }
}

.pay-con-wrap .pay-con {
  width: 33%;
  padding-right: 3%;
}

@media (max-width: 768px) {
  .pay-con-wrap .pay-con {
    width: 88%;
    height: 20vw;
    margin-left: 4vw;
  }
}

.pay-con-wrap .pay-con-title {
  width: 100%;
  height: 5vw;
  font-weight: bold;
}

.pay-con-wrap .pay-con-word {
  width: 100%;
  line-height: 1.6;
}

.pay-con-wrap .pay-con .pay-link {
  width: 100%;
  height: 6vw;
  color: #008488;
}

.pay-con-wrap .pay-con .pay-link:hover {
  cursor: pointer;
}

.example2 {
  width: 80%;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .example2 {
    display: block;
    height: 104vw;
  }
}

@media (max-width: 425px) {
  .example2 {
    height: 110vw;
  }
}

@media (max-width: 320px) {
  .example2 {
    margin-bottom: 8vw;
  }
}

.example2-left {
  width: 50%;
}

@media (max-width: 768px) {
  .example2-left {
    width: 100%;
    height: 76vw;
  }
}

.example2-left .example2-img {
  width: 90%;
  height: 90%;
  padding: 5%;
}

@media (max-width: 768px) {
  .example2-left .example2-img {
    width: 80vw;
    height: 80vw;
    padding: 0;
  }
}

.example2-right {
  width: 44%;
  margin-left: 5%;
}

@media (max-width: 768px) {
  .example2-right {
    width: 100%;
    margin: 0;
  }
}

.example2-right-wrap {
  padding: 20% 0 20% 0;
}

@media (max-width: 768px) {
  .example2-right-wrap {
    padding: 5vw 0 0 0;
  }
}

.example2-right-wrap .konma {
  width: 100%;
  height: 4vw;
  color: #FDB32A;
}

.example2-right-wrap .example2-right-con {
  width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .example2-right-wrap .example2-right-con {
    height: 8vw;
    padding-top: 2vw;
  }
}

@media (max-width: 320px) {
  .example2-right-wrap .example2-right-con {
    height: 10vw;
  }
}

.example2-right-wrap .example2-right-con-sub {
  width: 100%;
  height: 4vw;
}

.example2-right-wrap .example2-right-btn {
  width: 50%;
  height: 4vw;
  border: 0.2vw solid #484848;
  border-radius: 7px;
  margin-top: 2%;
  font-weight: bold;
}

@media (max-width: 425px) {
  .example2-right-wrap .example2-right-btn {
    height: 6vw;
    margin-top: 3vw;
  }
}

@media (max-width: 320px) {
  .example2-right-wrap .example2-right-btn {
    height: 8vw;
    margin-top: 4vw;
  }
}

.example2-right-wrap .example2-right-btn:hover {
  cursor: pointer;
}

.host-num {
  width: 80%;
  height: 22vw;
}

@media (max-width: 768px) {
  .host-num {
    height: 54vw;
  }
}

@media (max-width: 320px) {
  .host-num {
    margin-bottom: 10vw;
  }
}

.host-num-con-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .host-num-con-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.host-num-con-wrap .host-num-con {
  width: 33%;
}

@media (max-width: 768px) {
  .host-num-con-wrap .host-num-con {
    width: 100%;
    height: 14vw;
    margin-top: 2vw;
  }
}

.host-num-con-wrap .host-num-con-big, .host-num-con-wrap .host-num-con-small {
  width: 100%;
  height: 5vw;
}

.about {
  width: 80%;
  height: 26vw;
}

@media (max-width: 768px) {
  .about {
    height: 50vw;
  }
}

@media (max-width: 320px) {
  .about {
    height: 70vw;
  }
}

.about .about-con-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .about .about-con-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .about-con-wrap .about-con {
  width: 40%;
  padding-left: 6%;
}

@media (max-width: 768px) {
  .about .about-con-wrap .about-con {
    width: 90%;
    height: 18vw;
  }
}

@media (max-width: 320px) {
  .about .about-con-wrap .about-con {
    height: 28vw;
  }
}

.about .about-con-wrap .about-con-title {
  width: 100%;
  height: 5vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .about .about-con-wrap .about-con-title {
    height: 8vw;
  }
}

.about .about-con-wrap .about-con-word {
  width: 100%;
  line-height: 2vw;
}

@media (max-width: 768px) {
  .about .about-con-wrap .about-con-word {
    line-height: 3vw;
  }
}

.about .about-con-wrap .about-con-link {
  width: 100%;
  height: 4vw;
  color: #008488;
}

@media (max-width: 425px) {
  .about .about-con-wrap .about-con-link {
    padding-top: 2vw;
  }
}

.about .about-con-wrap .about-con-link:hover {
  cursor: pointer;
}

.qa {
  width: 80%;
  height: 28vw;
}

@media (max-width: 768px) {
  .qa {
    height: 56vw;
  }
}

@media (max-width: 320px) {
  .qa {
    height: 70vw;
  }
}

.qa-con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .qa-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.qa-con-list {
  width: 48%;
  padding-left: 4%;
  list-style-type: none;
}

@media (max-width: 768px) {
  .qa-con-list {
    width: 90%;
  }
}

.qa-con-list-item {
  width: 100%;
  height: 6vw;
  color: #008488;
  border-bottom: 1px solid #EBEBEB;
}

@media (max-width: 768px) {
  .qa-con-list-item {
    height: 8vw;
  }
}

.qa-con-list-item:hover {
  cursor: pointer;
}

.hosting {
  width: 80%;
  height: 28vw;
}

@media (max-width: 768px) {
  .hosting {
    height: 70vw;
  }
}

.hosting-title {
  width: 100%;
  height: 6vw;
  font-weight: bold;
}

.hosting-con-wrap {
  width: 100%;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .hosting-con-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hosting-con-wrap .hosting-con {
  width: 33%;
  height: 24vw;
  border: 1px solid #EBEBEB;
}

@media (max-width: 768px) {
  .hosting-con-wrap .hosting-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 4vw;
  }
}

.hosting-con-wrap .hosting-con:not(:last-child) {
  margin-right: 5%;
}

.hosting-con-wrap .hosting-con-img {
  width: 100%;
}

@media (max-width: 768px) {
  .hosting-con-wrap .hosting-con-img {
    width: 30%;
  }
}

.hosting-con-wrap .hosting-con .host-word-wrap {
  width: 100%;
}

@media (max-width: 768px) {
  .hosting-con-wrap .hosting-con .host-word-wrap {
    padding-top: 4vw;
  }
}

.hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link {
  width: 100%;
  height: 2vw;
  margin-top: 0.4vw;
  margin-left: 2vw;
}

.hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title:first-child, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-title-sub:first-child, .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link:first-child {
  font-weight: bold;
}

.hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link {
  color: #008488;
}

@media (max-width: 768px) {
  .hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link {
    display: none;
  }
}

.hosting-con-wrap .hosting-con .host-word-wrap .hosting-con-link:hover {
  cursor: pointer;
}

.try {
  width: 100%;
  height: 40vw;
  position: relative;
}

@media (max-width: 768px) {
  .try {
    height: 26vw;
  }
}

.try-img {
  width: 100%;
  position: absolute;
  top: 0;
}

.try-title {
  position: absolute;
  top: 8vw;
  left: 4vw;
  width: 40%;
  color: #fff;
  font-weight: bold;
}

.try-btn {
  width: 10%;
  height: 5vw;
  position: absolute;
  top: 20vw;
  left: 4vw;
  font-weight: bold;
  background: #fff;
  border-radius: 8px;
}

@media (max-width: 425px) {
  .try-btn {
    width: 20%;
    height: 7vw;
  }
}

.try-btn:hover {
  cursor: pointer;
}

.links {
  width: 80%;
  height: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}

.links-con {
  width: 22%;
}

.links-con-title {
  width: 100%;
  height: 3vw;
  font-weight: bold;
}

.links-con .links-list {
  width: 100%;
  list-style-type: none;
}

.links-con .links-list-item {
  width: 100%;
  height: 2vw;
  color: #767676;
}

.links-con .links-list-item:hover {
  cursor: pointer;
}

.links-con .links-list-item .links-new {
  width: 20%;
  height: 100%;
  background: #006A6F;
  border-radius: 8px;
  color: #fff;
  margin-left: 2%;
}

footer {
  width: 80%;
  height: 10vw;
  border-top: 1px solid #EBEBEB;
  margin: 100px 10% 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  footer {
    width: 90%;
    margin: 10vw 2vw 5vw 2vw;
    border-top: 0px solid #fff;
  }
}

@media (max-width: 425px) {
  footer {
    height: 11vw;
  }
}

@media (max-width: 320px) {
  footer {
    height: 20vw;
  }
}

footer .ft-left {
  width: 70%;
  margin: 2% 0 0 0;
}

@media (max-width: 768px) {
  footer .ft-left {
    width: 100%;
  }
}

footer .ft-left .ft-word {
  width: 100%;
  height: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  footer .ft-left .ft-word {
    padding-bottom: 0.5vw;
  }
}

@media (max-width: 425px) {
  footer .ft-left .ft-word {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  footer .ft-left .ft-word {
    height: 10vw;
  }
}

footer .ft-right {
  width: 30%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  footer .ft-right {
    display: none;
  }
}

footer .ft-right .sns-wrap {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 46%;
}

footer .ft-right .sns-wrap .sns-icon {
  width: 3vw;
  margin-left: 4%;
}

footer .ft-right .sns-wrap .sns-icon:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */