$pc: 1024px;
$tab: 768px;
$md: 425px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

$bg-gray:#F6F6F6;
$main-color:#41AD98;

%item-center-display{
    display:flex;
    align-items:center;
    justify-content:center;
}

%item-center-display-start{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

%item-center-display-block{
    display:block;
    align-items:center;
    justify-content:center;
}

%section-title-wrap{
    width:100%;
    height:9vw;
    background:#3B4452;

    @include md{
        height:12vw;
    }
}

%font-70{
    font-size: calc(1.75rem + ((1vw - 10.25px) * 2.7362));
    min-height: 0vw;
}
%font-40{
    font-size: calc(1.25rem + ((1vw - 10.25px) * 1.3029));
    min-height: 0vw;
}
%font-30{
    font-size: calc(1rem + ((1vw - 10.25px) * 0.9121));
    min-height: 0vw;
}
%font-26{
    font-size: calc(0.875rem + ((1vw - 10.25px) * 0.7818));
    min-height: 0vw;
}

%section-title{
    width:100%;
    height:auto;
    @extend %item-center-display;
    @extend %font-40;
    color:#fff;
    padding-top:2%;
    line-height:1.6;
}

%section-title-sub{
    width:100%;
    height:auto;
    @extend %item-center-display;
    @extend %font-26;
    color:#fff;
}

%triangle{
    width:0;
    height:0;
    border-left: 7vw solid transparent;
    border-right: 7vw solid transparent;
    border-top: 2vw solid #3B4452;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    z-index:9;
}

html,
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-image:url("img/bg.png");
    position:relative;
}

section{
    overflow:hidden;
}

header{
    width:100%;
    background:$main-color;

    @include md{
        height:50vw;
    }

    nav{
        width:100%;
        height:5vw;
        background:lighten($main-color,4%);
        position:relative;

        @include tab{
            height:9vw;
            display:flex;
            justify-content:space-between;
        }

        .logo{
            width:40%;
            height:100%;
            color:#fff;
            @extend %font-40;
            cursor:pointer;
            @extend %item-center-display;

            @include tab{
                top:38%;
            }
        }

        .glnav{
            width:38%;
            height:auto;
            color:#fff;
            position:absolute;
            top:0;
            left:50%;
            right:0;
            bottom:0;
            margin:0 auto;
            @extend %item-center-display;

            &-item{
                @extend %font-26;
                margin-right:6%;
                cursor:pointer;
            }

            @include tab{
                display:none;   
            }
        }

        #nav-drawer{
            display:none;

            @include tab{
                width:50%;
                display:block;

                /*ここからハンバーガーメニュー*/
                position: relative;
                display: flex;
                align-items:center;
                justify-content:flex-end;

                /*チェックボックス等は非表示に*/
                .nav-unshown {
                    display:none;
                }

                /*アイコンのスペース*/
                #nav-open {
                    display: flex;
                    justify-content:center;
                    width: 9vw;
                    height: 9vw;
                    vertical-align: middle;
                    background:#3B4452;
                }

                /*ハンバーガーアイコンをCSSだけで表現*/
                #nav-open span, #nav-open span:before, #nav-open span:after {
                    position: absolute;
                    height: 0.5vw;/*線の太さ*/
                    width: 3.8vw;/*長さ*/
                    border-radius: 3px;
                    background: #fff;
                    display: block;
                    content: '';
                    cursor: pointer;
                    margin-top:2.6vw;
                }
                #nav-open span:before {
                    bottom: -1.5vw;
                }
                #nav-open span:after {
                    bottom: -3vw;
                }

                /*閉じる用の薄黒カバー*/
                #nav-close {
                    display: none;/*はじめは隠しておく*/
                    position: fixed;
                    z-index: 99;
                    top: 0;/*全体に広がるように*/
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: black;
                    opacity: 0;
                    transition: .3s ease-in-out;
                }

                /*中身*/
                #nav-content {
                    overflow: auto;
                    position: fixed;
                    top: 0;
                    right: 0;/*左から出てくるようにするにはleft*/
                    z-index: 9999;/*最前面に*/
                    width: 90%;/*右側に隙間を作る*/
                    max-width: 250px;/*最大幅*/
                    height: 100%;
                    background: #fff;/*背景色*/
                    transition: .3s ease-in-out;/*滑らかに表示*/
                    -webkit-transform: translateX(105%);/*左から出てくるようにするには-105%*/
                    transform: translateX(105%);/*左に隠しておく*//*左から出てくるようにするには-105%*/
                    padding:2% 0 0 2%;

                    .glmovileitem{
                        padding:2% 0 2% 0;
                    }
                }

                /*チェックが入ったらもろもろ表示*/
                #nav-input:checked ~ #nav-close {
                    display: block;/*カバーを表示*/
                    opacity: .5;
                }

                #nav-input:checked ~ #nav-content {
                    -webkit-transform: translateX(0%);
                    transform: translateX(0%);/*中身を表示*/
                    box-shadow: 6px 0 25px rgba(0,0,0,.15);
                }
                /*ここまでハンバーガーメニュー*/
            }
        }
    }

    .top{
        width:100%;
        height:36vw;
        display:block;

        &-title{
            @extend %item-center-display;
            width:100%;
            height:6vw;
            @extend %font-70;
            color:#fff;
            position:absolute;
            top:18vw;
            line-height:1;

            &-sub{
                width:33%;
                height:4vw;
                text-align:center;
                color:#fff;
                @extend %font-26;
                position:absolute;
                top:25vw;
                left:0;
                right:0;
                bottom:0;
                margin:0 auto;

                @include tab{
                    width:50%;
                }

                @include md{
                    width:64%;
                }
            }
        }
    }
}

main{
    width:100%;
    height:auto;

    .popular-article{
        width:100%;
        height:30vw;
        position:relative;
        background:#fff;
        margin-top:5vw;

        @include tab{
            height:230vw;
            border-bottom:1px solid #E5E5E5;
        }

        &-title{
            @extend %item-center-display;
            width:100%;
            height:6vw;
            text-align:center;
            @extend %font-40;
            background:#fff;
            position:absolute;
            top:0;
            border-top:3px solid #E5E5E5;
            border-bottom:3px solid #E5E5E5;
        }

        &-list{
            @extend %item-center-display;
            width:100%;
            height:20vw;
            background:#fff;
            position:absolute;
            top:26%;
            list-style-type:none;

            @include tab{
                width:100%;
                height:200vw;
                display:block;
                top:4%;
            }

            .popular-article-item{
                @extend %item-center-display-block;
                width:16%;
                position:relative;
                margin-right:2%;

                @include tab{
                    width:80%;
                    height:66vw;
                    margin:4% 10% 4% 10%;
                    border:2px solid #E5E5E5;
                }

                @include tab{
                    &:nth-last-child(-n+2){
                        display:none;
                    }
                }

                &-number1{
                    @extend %item-center-display;
                    width:30%;
                    height:3vw;
                    @extend %font-26;
                    background:rgba(226,200,117,0.5);
                    position:absolute;

                    @include tab{
                        width:10%;
                        height:10%;
                    }

                    @include md{
                        width:12%;
                        height:12%;
                    }
                }

                &-number2{
                    @extend .popular-article-item-number1;
                    background:rgba(138,147,157,0.5);
                }

                &-number3{
                    @extend .popular-article-item-number1;
                    background:rgba(132,79,55,0.5);
                }

                &-number4{
                    @extend .popular-article-item-number1;
                    background:rgba(91,69,44,0.5);
                }

                &-number5{
                    @extend .popular-article-item-number1;
                    background:rgba(67,62,44,0.5);
                }

                &-img{
                    width:100%;
                    height:auto;
                    cursor:pointer;
                }

                &-category{
                    @extend %item-center-display;
                    width:60%;
                    height:3vw;
                    background:$main-color;
                    color:#fff;
                    @extend %font-26;
                    cursor:pointer;

                    @include tab{
                        width:30%;
                        height:10%;
                    }
                }

                &-link{
                    @extend %item-center-display-start;
                    width:100%;
                    height:3vw;
                    @extend %font-26;
                    cursor:pointer;
                }
            }
        }
    }

    .latest-article{
        width:100%;
        height:30vw;
        position:relative;
        background:#fff;
        margin-top:5vw;
        margin-bottom:5vw;

        @include tab{
            height:230vw;
            border-bottom:1px solid #E5E5E5;
        }

        &-title{
            @extend .popular-article-title;
        }
        
        &-list{
            @extend .popular-article-list;

            .latest-article-item{
                @extend .popular-article-item;

                &-data{
                    @extend .popular-article-item-number1;
                    @extend %item-center-display-block;
                    background:rgba(118,125,133,0.5);

                    @include md{
                        width:14%;
                        height:14%;
                    }

                    .year{
                        width:100%;
                        text-align:center;
                        
                        @include tab{
                            padding:10% 0 10% 0;
                        }
                        
                    }
                    .date{
                        width:100%;
                        text-align:center;
                    }
                }

                &-img{
                    @extend .popular-article-item-img;
                }

                &-category{
                    @extend .popular-article-item-category;
                }

                &-link{
                    @extend .popular-article-item-link;
                }
            }
        }
    }

    .feature{
        &-title-wrap{
            @extend %section-title-wrap;

            .feature-title{
                @extend %section-title;
            }

            .feature-title-sub{
                @extend %section-title-sub;
            }
        }

        .triangle{
            @extend %triangle;
        }

        .feature-con-wrap{
            width:100%;
            height:23.7vw;

            @include tab{
                height:100vw;
            }

            &:nth-child(even){
                background:#fff;
            }

            &:nth-child(odd){
                background:#FAFAFA;
            }

            .feature-con{
                width:38%;
                height:100%;
                float:left;

                @include tab{
                    width:100%;
                    padding:0;
                }

                .feature-img-mobile{
                    display:none;

                    @include tab{
                        display:block;
                        width:80%;
                        padding:0 10% 0 10%;
                    }
                }

                &:nth-child(even){
                    padding:0 16% 0 10%;

                    @include tab{
                        padding:0;
                    }
                }

                &:nth-child(odd){
                    padding:0 10% 0 16%;

                    @include tab{
                        padding:0;
                    }
                }
                
                &-num{
                    @extend %item-center-display;
                    width:5%;
                    background:$main-color;
                    color:#fff;
                    @extend %font-26;
                    padding:10% 0 3% 0;

                    @include tab{
                        padding:3% 0 3% 0;
                        margin:0 auto;
                    }
                }

                &-title{
                    width:100%;
                    @extend %font-40;
                    padding:5% 0 2% 0;
                    color:$main-color;

                    @include tab{
                        text-align:center;
                        padding:2% 0 2% 0;
                    }
                }

                &-title-sub{
                    width:100%;
                    @extend %font-26;
                    padding:2% 0 5% 0;
                    color:$main-color;

                    @include tab{
                        text-align:center;
                        padding:0 0 2% 0;
                    }
                }

                &-word{
                    width:100%;
                    padding:0 0 5% 0;
                    @extend %font-26;

                    @include tab{
                        width:80%;
                        padding:3% 10% 3% 10%;
                    }
                }

                &-link{
                    @extend %item-center-display;
                    width:10vw;
                    height:2.6vw;
                    background:#FF6B00;
                    color:#fff;
                    border-radius:6px;
                    @extend %font-26;
                    cursor:pointer;

                    @include tab{
                        margin:0 auto;
                        width:20vw;
                        height:6vw;
                    }
                }
            }

            .feature-img{
                width:36%;
                height:100%;
                float:left;

                @include tab{
                    display:none;
                }
            }
        }
    }

    .service{
        background:#fff;

        &-title-wrap{
            @extend %section-title-wrap;

            .service-title{
                @extend %section-title;
            }

            .service-title-sub{
                @extend %section-title-sub;
            }
        }

        .triangle{
            @extend %triangle;
        }

        &-con{
            width:100%;
            height:26vw;
            @extend %item-center-display;

            @include tab{
                display:block;
            }

            .service-left{
                width:50%;
                height:100%;
                float:left;
                position:relative;
                border-left:2px solid #E5E5E5;

                @include tab{
                    width:100%;
                    height:80%;
                }

                @include md{
                    height:34vw;
                }

                &-title{
                    @extend %font-40;
                    color:$main-color;
                    @extend %item-center-display;
                    padding:2% 0 2% 0;
                    margin-top:16%;

                    @include tab{
                        margin-top:2%;
                    }

                    @include md{
                        font-size:4vw;
                    }
                }

                &-title-sub{
                    @extend %font-26;
                    color:$main-color;
                    @extend %item-center-display;
                    padding:0 0 4% 0;
                }

                &-link{
                    width:16vw;
                    height:3vw;
                    background:$main-color;
                    color:#fff;
                    @extend %font-26;
                    border-radius:6px;
                    @extend %item-center-display;
                    position:absolute;
                    top:58%;
                    left:0;
                    right:0;
                    bottom:0;
                    margin:0 auto;
                    cursor:pointer;

                    @include tab{
                        top:52%;
                        width:26%;
                        height:6vw;
                    }

                    @include md{
                        width:50%;
                        height:8vw;
                    }
                }
            }
        
            .service-right{
                @extend .service-left;

                @include tab{
                    
                }

                &-title{
                    @extend .service-left-title;
                }

                &-title-sub{
                    @extend .service-left-title-sub;
                }

                &-link{
                    @extend .service-left-link;
                }
            }
        }
    }

    .company{
        width:100%;
        height:auto;
        padding-bottom:4vw;
        background:#fff;

        &-title-wrap{
            @extend %section-title-wrap;

            .company-title{
                @extend %section-title;
            }

            .company-title-sub{
                @extend %section-title-sub;
            }
        }

        .triangle{
            @extend %triangle;
        }

        &-con-wrap{

            @include tab{
                display:flex;
                flex-direction:column-reverse;
            }

            .company-con{
                width:60%;
                float:left;
                margin-top:10%;
                @extend %font-26;

                @include tab{
                    clear:both;
                    width:100%;
                    margin-top:4%;
                }

                .company-name{
                    width:100%;

                    &-list{
                        width:100%;
                        @extend %item-center-display;
                        list-style-type:none;

                        .company-name-item{
                            width:50%;
                            height:auto;
                            padding:1vw 0 1vw 0;
                            border-top:2px solid #E5E5E5;

                            @include md{
                                height:6vw;
                            }

                            &:first-child(){
                                @extend %item-center-display;
                                width:30%;
                            }

                            &:last-child(){
                                @extend %item-center-display-start;
                                padding-left:3%;
                            }
                        }

                        .company-name-item-line{
                            @extend .company-name-item;
                            border-top:4px solid $main-color;
                        }
                    }
                }

                .company-tel{
                    width:100%;

                    &-list{
                        @extend .company-name-list;

                        .company-tel-item{
                            @extend .company-name-item;

                            @include md{
                                height:6vw;
                            }
                        }
                    }
                }

                .company-add{
                    width:100%;

                    &-list{
                        @extend .company-name-list;

                        .company-add-item{
                            @extend .company-name-item;
                            border-bottom:2px solid #E5E5E5;

                            @include md{
                                height:6vw;
                            }
                        }
                    }
                }
            }


            .company-map{
                width:40%;
                height:30vw;
                float:left;

                @include tab{
                    clear:both;
                    width:100%;
                    height:22vw;
                }

                @include md{
                    height:40vw;
                }

                .iframe{
                    width:100%;
                    height:100%;
                }
            }
        }
    }

    .contact{
        width:100%;
        height:60vw;

        @include pc{
            height:60vw;
        }

        @include tab{
            height:70vw;
        }

        @include md{
            height:130vw;
        }

        &-title-wrap{
            @extend %section-title-wrap;

            .contact-title{
                @extend %section-title;
            }

            .contact-title-sub{
                @extend %section-title-sub;
            }
        }

        .triangle{
            @extend %triangle;
        }
        
        &-form-wrap{
            width:100%;
            height:100%;
            background:$main-color;
            padding-top:6%;
            
            .contact-name{
                width:100%;

                &-title{
                    width:100%;
                    height:3vw;
                    color:#fff;
                    @extend %font-26;
                    @extend %item-center-display;

                    @include tab{
                        height:4vw;
                    }

                    @include md{
                        height:10vw;
                    }
                }

                &-text-wrap{
                    width:100%;
                    height:2vw;
                    @extend %item-center-display;

                    &-con{
                        width:46%;
                        height:2vw;

                        @include md{
                            width:80%;
                            height:4vw;
                        }
                    }
                }
            }

            .contact-mail{
                @extend .contact-name;

                &-title{
                    @extend .contact-name-title;
                }

                &-text-wrap{
                    @extend .contact-name-text-wrap;

                    &-con{
                        @extend .contact-name-text-wrap-con;
                    }
                }
            }

            .contact-daimei{
                @extend .contact-name;

                &-title{
                    @extend .contact-name-title;
                }

                &-text-wrap{
                    @extend .contact-name-text-wrap;

                    &-con{
                        @extend .contact-name-text-wrap-con;
                    }
                }
            }

            .contact-comment{
                width:100%;
                
                &-title{
                    width:100%;
                    height:3vw;
                    color:#fff;
                    @extend %font-26;
                    @extend %item-center-display;

                    @include tab{
                        height:4vw;
                    }

                    @include md{
                        height:10vw;
                    }
                }
            
                &-text-wrap{
                    width:100%;
                    height:14vw;
                    @extend %item-center-display;

                    @include tab{
                        height:16vw;
                    }

                    @include md{
                        height:40vw;
                    }

                    &-con{
                        width:46%;
                        height:100%; 

                        @include md{
                            width:80%;
                        }
                    }
                }
            }
            
            .contact-submit-wrap{
                width:100%;
                height:3vw;

                .contact-submit{
                    @extend .contact-name;
                    width:100%;
                    height:3vw;
                    margin-top:2%;

                    @include md{
                        margin-top:4%;
                    }

                    .submit-btn{
                        @extend .contact-name-title;
                        width:18%;
                        height:4vw;
                        @extend %font-26;
                        background:#121C2A;
                        margin:0 auto;
                        color:#fff;
                        cursor:pointer;

                        @include md{
                            width:40%;
                            height:8vw;
                        }
                    }
                }
            }
        }
    }

    .links{
        width:80%;
        padding:100px 10% 100px 10%;
        background:#031730;
        border-top:0.5vw solid #3B4452;

        &-title{
            width:100%;
            @extend %font-40;
            padding:3% 0 3% 0;
            color:#fff;
            border-bottom:2px solid #3B4452;
            margin-bottom:4%;

            @include md{
                width:100%;
            }
        }

        .links-menu{
            width:50%;
            float:left;

            @include tab{
                width:37%;
            }

            @include md{
                width:100%;
                clear:both;
            }

            .blog{
                float:left;
                width:50%;

                @include tab{
                    clear:both;
                    margin-bottom:2%;
                }
                @include md{
                    width:100%;
                }

                .blog-title{
                    width:100%;
                    padding:0 0 5% 0;
                    @extend %font-26;
                    color:#fff;

                    @include tab{
                        width:28vw;
                    }

                    @include md{
                        width:100%;
                    }
                }

                .blog-list{
                    width:100%;
                    list-style-type:none;

                    @include tab{
                        padding:0 0 0 0;
                    }

                    .blog-item{
                        padding:0 0 4% 4%;
                        @extend %font-26;
                        color:#fff;
                        cursor:pointer;

                        @include tab{
                            width:28vw;
                        }

                        @include md{
                            width:100%;
                        }
                    }
                }
            }

            .sns{
                @extend .blog;

                @include tab{
                    clear:both;
                }

                @include md{
                    width:100%;
                }

                .sns-title{
                    @extend .blog-title;

                    @include tab{
                        width:28vw;
                    }

                    @include md{
                        width:100%;
                    }
                }

                .sns-list{
                    @extend .blog-list;

                    .sns-item{
                        @extend .blog-item;

                        @include tab{
                            width:28vw;
                        }

                        @include md{
                            width:100%;
                        }
                    }
                }
            }
        }

        .facebookwrap{
            width:30vw;
            height:14vw;
            float:left;

            @include tab{
                width:50vw;
                height:24vw;
            }

            @include md{
                clear:both;
            }

            @include md{
                width:100%;
                height:50vw;
            }

            iframe{
                width:100%;
                height:100%;
                padding:0 0 0 0;
            }
        }
    }
}

footer{
    width:100%;
    height:3vw;
    background:#010A16;

    @include md{
        height:10vw;
    }

    small{
        width:100%;
        height:100%;
        @extend %item-center-display;
        color:#fff;
        @extend %font-26;
    }
}

.scrolltop{
    width:5vw;
    height:5vw;
    position:fixed;
    left:90%;
    /*bodyにposition:relative;をつけてるとjsファイルが動いた*/

    @include tab{
        width:7vw;
        height:7vw;
    }

    @include md{
        width:10vw;
        height:10vw;
        left:87%;
    }

    &-wrap{
        width:100%;
        height:100%;
        border-radius:100px;
        background:#555555;
        opacity:0.9;

        &::before {
            content:  '';
            width: 2vw;
            height: 2vw;
            display:  block;
            border-top: solid 0.5vw #fff;
            border-right: solid 0.5vw #fff;
            transform: rotate(-45deg);
            position:  absolute;
            top: 1vw;
            bottom:  0;
            left:  0;
            right:  0;
            margin:  auto;
            opacity:0.9;
        }
    }
}