@charset "UTF-8";
main .feature-title-wrap .feature-title, main .service-title-wrap .service-title, main .company-title-wrap .company-title, main .contact-title-wrap .contact-title, main .feature-title-wrap .feature-title-sub, main .service-title-wrap .service-title-sub, main .company-title-wrap .company-title-sub, main .contact-title-wrap .contact-title-sub, header nav .logo, header nav .glnav, header .top-title, main .popular-article-title, main .latest-article-title, main .popular-article-list, main .latest-article-list, main .popular-article-list .popular-article-item-number1, main .latest-article-list .popular-article-item-number1, main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2, main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3, main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4, main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5, main .latest-article-list .latest-article-item-data, main .popular-article-list .popular-article-item-category, main .latest-article-list .popular-article-item-category, main .latest-article-list .latest-article-item-category, main .feature .feature-con-wrap .feature-con-num, main .feature .feature-con-wrap .feature-con-link, main .service-con, main .service-con .service-left-title, main .service-con .service-right-title, main .service-con .service-left-title-sub, main .service-con .service-right-title-sub, main .service-con .service-left-link, main .service-con .service-right-link, main .company-con-wrap .company-con .company-name-list, main .company-con-wrap .company-con .company-tel-list, main .company-con-wrap .company-con .company-add-list, main .company-con-wrap .company-con .company-name-list .company-name-item:first-child, main .company-con-wrap .company-con .company-tel-list .company-name-item:first-child, main .company-con-wrap .company-con .company-add-list .company-name-item:first-child, main .company-con-wrap .company-con .company-name-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-tel-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-add-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-tel-list .company-tel-item:first-child, main .company-con-wrap .company-con .company-add-list .company-add-item:first-child, main .contact-form-wrap .contact-name-title, main .contact-form-wrap .contact-mail-title, main .contact-form-wrap .contact-daimei-title, main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn, main .contact-form-wrap .contact-name-text-wrap, main .contact-form-wrap .contact-mail-text-wrap, main .contact-form-wrap .contact-daimei-text-wrap, main .contact-form-wrap .contact-comment-title, main .contact-form-wrap .contact-comment-text-wrap, footer small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .popular-article-list .popular-article-item-link, main .latest-article-list .popular-article-item-link, main .latest-article-list .latest-article-item-link, main .company-con-wrap .company-con .company-name-list .company-name-item:last-child, main .company-con-wrap .company-con .company-tel-list .company-name-item:last-child, main .company-con-wrap .company-con .company-add-list .company-name-item:last-child, main .company-con-wrap .company-con .company-name-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-tel-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-add-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-tel-list .company-tel-item:last-child, main .company-con-wrap .company-con .company-add-list .company-add-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .popular-article-list .popular-article-item, main .latest-article-list .popular-article-item, main .latest-article-list .latest-article-item, main .latest-article-list .latest-article-item-data {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .feature-title-wrap, main .service-title-wrap, main .company-title-wrap, main .contact-title-wrap {
  width: 100%;
  height: 9vw;
  background: #3B4452;
}

@media (max-width: 425px) {
  main .feature-title-wrap, main .service-title-wrap, main .company-title-wrap, main .contact-title-wrap {
    height: 12vw;
  }
}

header .top-title {
  font-size: calc(1.75rem + ((1vw - 10.25px) * 2.7362));
  min-height: 0vw;
}

main .feature-title-wrap .feature-title, main .service-title-wrap .service-title, main .company-title-wrap .company-title, main .contact-title-wrap .contact-title, header nav .logo, main .popular-article-title, main .latest-article-title, main .feature .feature-con-wrap .feature-con-title, main .service-con .service-left-title, main .service-con .service-right-title, main .links-title {
  font-size: calc(1.25rem + ((1vw - 10.25px) * 1.3029));
  min-height: 0vw;
}

main .feature-title-wrap .feature-title-sub, main .service-title-wrap .service-title-sub, main .company-title-wrap .company-title-sub, main .contact-title-wrap .contact-title-sub, header nav .glnav-item, header .top-title-sub, main .popular-article-list .popular-article-item-number1, main .latest-article-list .popular-article-item-number1, main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2, main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3, main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4, main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5, main .latest-article-list .latest-article-item-data, main .popular-article-list .popular-article-item-category, main .latest-article-list .popular-article-item-category, main .latest-article-list .latest-article-item-category, main .popular-article-list .popular-article-item-link, main .latest-article-list .popular-article-item-link, main .latest-article-list .latest-article-item-link, main .feature .feature-con-wrap .feature-con-num, main .feature .feature-con-wrap .feature-con-title-sub, main .feature .feature-con-wrap .feature-con-word, main .feature .feature-con-wrap .feature-con-link, main .service-con .service-left-title-sub, main .service-con .service-right-title-sub, main .service-con .service-left-link, main .service-con .service-right-link, main .company-con-wrap .company-con, main .contact-form-wrap .contact-name-title, main .contact-form-wrap .contact-mail-title, main .contact-form-wrap .contact-daimei-title, main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn, main .contact-form-wrap .contact-comment-title, main .links .links-menu .blog .blog-title, main .links .links-menu .sns .blog-title, main .links .links-menu .sns .sns-title, main .links .links-menu .blog .blog-list .blog-item, main .links .links-menu .sns .blog-list .blog-item, main .links .links-menu .sns .sns-list .blog-item, main .links .links-menu .sns .sns-list .sns-item, footer small {
  font-size: calc(0.875rem + ((1vw - 10.25px) * 0.7818));
  min-height: 0vw;
}

main .feature-title-wrap .feature-title, main .service-title-wrap .service-title, main .company-title-wrap .company-title, main .contact-title-wrap .contact-title {
  width: 100%;
  height: auto;
  color: #fff;
  padding-top: 2%;
  line-height: 1.6;
}

main .feature-title-wrap .feature-title-sub, main .service-title-wrap .service-title-sub, main .company-title-wrap .company-title-sub, main .contact-title-wrap .contact-title-sub {
  width: 100%;
  height: auto;
  color: #fff;
}

main .feature .triangle, main .service .triangle, main .company .triangle, main .contact .triangle {
  width: 0;
  height: 0;
  border-left: 7vw solid transparent;
  border-right: 7vw solid transparent;
  border-top: 2vw solid #3B4452;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url("img/bg.png");
  position: relative;
}

section {
  overflow: hidden;
}

header {
  width: 100%;
  background: #41AD98;
}

@media (max-width: 425px) {
  header {
    height: 50vw;
  }
}

header nav {
  width: 100%;
  height: 5vw;
  background: #48baa4;
  position: relative;
}

@media (max-width: 768px) {
  header nav {
    height: 9vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header nav .logo {
  width: 40%;
  height: 100%;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .logo {
    top: 38%;
  }
}

header nav .glnav {
  width: 38%;
  height: auto;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

header nav .glnav-item {
  margin-right: 6%;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .glnav {
    display: none;
  }
}

header nav #nav-drawer {
  display: none;
}

@media (max-width: 768px) {
  header nav #nav-drawer {
    width: 50%;
    display: block;
    /*ここからハンバーガーメニュー*/
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    /*チェックボックス等は非表示に*/
    /*アイコンのスペース*/
    /*ハンバーガーアイコンをCSSだけで表現*/
    /*閉じる用の薄黒カバー*/
    /*中身*/
    /*チェックが入ったらもろもろ表示*/
    /*ここまでハンバーガーメニュー*/
  }
  header nav #nav-drawer .nav-unshown {
    display: none;
  }
  header nav #nav-drawer #nav-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 9vw;
    height: 9vw;
    vertical-align: middle;
    background: #3B4452;
  }
  header nav #nav-drawer #nav-open span, header nav #nav-drawer #nav-open span:before, header nav #nav-drawer #nav-open span:after {
    position: absolute;
    height: 0.5vw;
    /*線の太さ*/
    width: 3.8vw;
    /*長さ*/
    border-radius: 3px;
    background: #fff;
    display: block;
    content: '';
    cursor: pointer;
    margin-top: 2.6vw;
  }
  header nav #nav-drawer #nav-open span:before {
    bottom: -1.5vw;
  }
  header nav #nav-drawer #nav-open span:after {
    bottom: -3vw;
  }
  header nav #nav-drawer #nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  header nav #nav-drawer #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    /*左から出てくるようにするにはleft*/
    z-index: 9999;
    /*最前面に*/
    width: 90%;
    /*右側に隙間を作る*/
    max-width: 250px;
    /*最大幅*/
    height: 100%;
    background: #fff;
    /*背景色*/
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(105%);
    /*左から出てくるようにするには-105%*/
    transform: translateX(105%);
    /*左に隠しておく*/
    /*左から出てくるようにするには-105%*/
    padding: 2% 0 0 2%;
  }
  header nav #nav-drawer #nav-content .glmovileitem {
    padding: 2% 0 2% 0;
  }
  header nav #nav-drawer #nav-input:checked ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
  }
  header nav #nav-drawer #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示*/
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
}

header .top {
  width: 100%;
  height: 36vw;
  display: block;
}

header .top-title {
  width: 100%;
  height: 6vw;
  color: #fff;
  position: absolute;
  top: 18vw;
  line-height: 1;
}

header .top-title-sub {
  width: 33%;
  height: 4vw;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 25vw;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header .top-title-sub {
    width: 50%;
  }
}

@media (max-width: 425px) {
  header .top-title-sub {
    width: 64%;
  }
}

main {
  width: 100%;
  height: auto;
}

main .popular-article {
  width: 100%;
  height: 30vw;
  position: relative;
  background: #fff;
  margin-top: 5vw;
}

@media (max-width: 768px) {
  main .popular-article {
    height: 230vw;
    border-bottom: 1px solid #E5E5E5;
  }
}

main .popular-article-title, main .latest-article-title {
  width: 100%;
  height: 6vw;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 0;
  border-top: 3px solid #E5E5E5;
  border-bottom: 3px solid #E5E5E5;
}

main .popular-article-list, main .latest-article-list {
  width: 100%;
  height: 20vw;
  background: #fff;
  position: absolute;
  top: 26%;
  list-style-type: none;
}

@media (max-width: 768px) {
  main .popular-article-list, main .latest-article-list {
    width: 100%;
    height: 200vw;
    display: block;
    top: 4%;
  }
}

main .popular-article-list .popular-article-item, main .latest-article-list .popular-article-item, main .latest-article-list .latest-article-item {
  width: 16%;
  position: relative;
  margin-right: 2%;
}

@media (max-width: 768px) {
  main .popular-article-list .popular-article-item, main .latest-article-list .popular-article-item, main .latest-article-list .latest-article-item {
    width: 80%;
    height: 66vw;
    margin: 4% 10% 4% 10%;
    border: 2px solid #E5E5E5;
  }
}

@media (max-width: 768px) {
  main .popular-article-list .popular-article-item:nth-last-child(-n+2), main .latest-article-list .popular-article-item:nth-last-child(-n+2), main .latest-article-list .latest-article-item:nth-last-child(-n+2) {
    display: none;
  }
}

main .popular-article-list .popular-article-item-number1, main .latest-article-list .popular-article-item-number1, main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2, main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3, main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4, main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5, main .latest-article-list .latest-article-item-data {
  width: 30%;
  height: 3vw;
  background: rgba(226, 200, 117, 0.5);
  position: absolute;
}

@media (max-width: 768px) {
  main .popular-article-list .popular-article-item-number1, main .latest-article-list .popular-article-item-number1, main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2, main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3, main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4, main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5, main .latest-article-list .latest-article-item-data {
    width: 10%;
    height: 10%;
  }
}

@media (max-width: 425px) {
  main .popular-article-list .popular-article-item-number1, main .latest-article-list .popular-article-item-number1, main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2, main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3, main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4, main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5, main .latest-article-list .latest-article-item-data {
    width: 12%;
    height: 12%;
  }
}

main .popular-article-list .popular-article-item-number2, main .latest-article-list .popular-article-item-number2 {
  background: rgba(138, 147, 157, 0.5);
}

main .popular-article-list .popular-article-item-number3, main .latest-article-list .popular-article-item-number3 {
  background: rgba(132, 79, 55, 0.5);
}

main .popular-article-list .popular-article-item-number4, main .latest-article-list .popular-article-item-number4 {
  background: rgba(91, 69, 44, 0.5);
}

main .popular-article-list .popular-article-item-number5, main .latest-article-list .popular-article-item-number5 {
  background: rgba(67, 62, 44, 0.5);
}

main .popular-article-list .popular-article-item-img, main .latest-article-list .popular-article-item-img, main .latest-article-list .latest-article-item-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

main .popular-article-list .popular-article-item-category, main .latest-article-list .popular-article-item-category, main .latest-article-list .latest-article-item-category {
  width: 60%;
  height: 3vw;
  background: #41AD98;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  main .popular-article-list .popular-article-item-category, main .latest-article-list .popular-article-item-category, main .latest-article-list .latest-article-item-category {
    width: 30%;
    height: 10%;
  }
}

main .popular-article-list .popular-article-item-link, main .latest-article-list .popular-article-item-link, main .latest-article-list .latest-article-item-link {
  width: 100%;
  height: 3vw;
  cursor: pointer;
}

main .latest-article {
  width: 100%;
  height: 30vw;
  position: relative;
  background: #fff;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

@media (max-width: 768px) {
  main .latest-article {
    height: 230vw;
    border-bottom: 1px solid #E5E5E5;
  }
}

main .latest-article-list .latest-article-item-data {
  background: rgba(118, 125, 133, 0.5);
}

@media (max-width: 425px) {
  main .latest-article-list .latest-article-item-data {
    width: 14%;
    height: 14%;
  }
}

main .latest-article-list .latest-article-item-data .year {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  main .latest-article-list .latest-article-item-data .year {
    padding: 10% 0 10% 0;
  }
}

main .latest-article-list .latest-article-item-data .date {
  width: 100%;
  text-align: center;
}

main .feature .feature-con-wrap {
  width: 100%;
  height: 23.7vw;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap {
    height: 100vw;
  }
}

main .feature .feature-con-wrap:nth-child(even) {
  background: #fff;
}

main .feature .feature-con-wrap:nth-child(odd) {
  background: #FAFAFA;
}

main .feature .feature-con-wrap .feature-con {
  width: 38%;
  height: 100%;
  float: left;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con {
    width: 100%;
    padding: 0;
  }
}

main .feature .feature-con-wrap .feature-con .feature-img-mobile {
  display: none;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con .feature-img-mobile {
    display: block;
    width: 80%;
    padding: 0 10% 0 10%;
  }
}

main .feature .feature-con-wrap .feature-con:nth-child(even) {
  padding: 0 16% 0 10%;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con:nth-child(even) {
    padding: 0;
  }
}

main .feature .feature-con-wrap .feature-con:nth-child(odd) {
  padding: 0 10% 0 16%;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con:nth-child(odd) {
    padding: 0;
  }
}

main .feature .feature-con-wrap .feature-con-num {
  width: 5%;
  background: #41AD98;
  color: #fff;
  padding: 10% 0 3% 0;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con-num {
    padding: 3% 0 3% 0;
    margin: 0 auto;
  }
}

main .feature .feature-con-wrap .feature-con-title {
  width: 100%;
  padding: 5% 0 2% 0;
  color: #41AD98;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con-title {
    text-align: center;
    padding: 2% 0 2% 0;
  }
}

main .feature .feature-con-wrap .feature-con-title-sub {
  width: 100%;
  padding: 2% 0 5% 0;
  color: #41AD98;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con-title-sub {
    text-align: center;
    padding: 0 0 2% 0;
  }
}

main .feature .feature-con-wrap .feature-con-word {
  width: 100%;
  padding: 0 0 5% 0;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con-word {
    width: 80%;
    padding: 3% 10% 3% 10%;
  }
}

main .feature .feature-con-wrap .feature-con-link {
  width: 10vw;
  height: 2.6vw;
  background: #FF6B00;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-con-link {
    margin: 0 auto;
    width: 20vw;
    height: 6vw;
  }
}

main .feature .feature-con-wrap .feature-img {
  width: 36%;
  height: 100%;
  float: left;
}

@media (max-width: 768px) {
  main .feature .feature-con-wrap .feature-img {
    display: none;
  }
}

main .service {
  background: #fff;
}

main .service-con {
  width: 100%;
  height: 26vw;
}

@media (max-width: 768px) {
  main .service-con {
    display: block;
  }
}

main .service-con .service-left, main .service-con .service-right {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  border-left: 2px solid #E5E5E5;
}

@media (max-width: 768px) {
  main .service-con .service-left, main .service-con .service-right {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 425px) {
  main .service-con .service-left, main .service-con .service-right {
    height: 34vw;
  }
}

main .service-con .service-left-title, main .service-con .service-right-title {
  color: #41AD98;
  padding: 2% 0 2% 0;
  margin-top: 16%;
}

@media (max-width: 768px) {
  main .service-con .service-left-title, main .service-con .service-right-title {
    margin-top: 2%;
  }
}

@media (max-width: 425px) {
  main .service-con .service-left-title, main .service-con .service-right-title {
    font-size: 4vw;
  }
}

main .service-con .service-left-title-sub, main .service-con .service-right-title-sub {
  color: #41AD98;
  padding: 0 0 4% 0;
}

main .service-con .service-left-link, main .service-con .service-right-link {
  width: 16vw;
  height: 3vw;
  background: #41AD98;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  main .service-con .service-left-link, main .service-con .service-right-link {
    top: 52%;
    width: 26%;
    height: 6vw;
  }
}

@media (max-width: 425px) {
  main .service-con .service-left-link, main .service-con .service-right-link {
    width: 50%;
    height: 8vw;
  }
}

main .company {
  width: 100%;
  height: auto;
  padding-bottom: 4vw;
  background: #fff;
}

@media (max-width: 768px) {
  main .company-con-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

main .company-con-wrap .company-con {
  width: 60%;
  float: left;
  margin-top: 10%;
}

@media (max-width: 768px) {
  main .company-con-wrap .company-con {
    clear: both;
    width: 100%;
    margin-top: 4%;
  }
}

main .company-con-wrap .company-con .company-name {
  width: 100%;
}

main .company-con-wrap .company-con .company-name-list, main .company-con-wrap .company-con .company-tel-list, main .company-con-wrap .company-con .company-add-list {
  width: 100%;
  list-style-type: none;
}

main .company-con-wrap .company-con .company-name-list .company-name-item, main .company-con-wrap .company-con .company-tel-list .company-name-item, main .company-con-wrap .company-con .company-add-list .company-name-item, main .company-con-wrap .company-con .company-name-list .company-name-item-line, main .company-con-wrap .company-con .company-tel-list .company-name-item-line, main .company-con-wrap .company-con .company-add-list .company-name-item-line, main .company-con-wrap .company-con .company-tel-list .company-tel-item, main .company-con-wrap .company-con .company-add-list .company-add-item {
  width: 50%;
  height: auto;
  padding: 1vw 0 1vw 0;
  border-top: 2px solid #E5E5E5;
}

@media (max-width: 425px) {
  main .company-con-wrap .company-con .company-name-list .company-name-item, main .company-con-wrap .company-con .company-tel-list .company-name-item, main .company-con-wrap .company-con .company-add-list .company-name-item, main .company-con-wrap .company-con .company-name-list .company-name-item-line, main .company-con-wrap .company-con .company-tel-list .company-name-item-line, main .company-con-wrap .company-con .company-add-list .company-name-item-line, main .company-con-wrap .company-con .company-tel-list .company-tel-item, main .company-con-wrap .company-con .company-add-list .company-add-item {
    height: 6vw;
  }
}

main .company-con-wrap .company-con .company-name-list .company-name-item:first-child, main .company-con-wrap .company-con .company-tel-list .company-name-item:first-child, main .company-con-wrap .company-con .company-add-list .company-name-item:first-child, main .company-con-wrap .company-con .company-name-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-tel-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-add-list .company-name-item-line:first-child, main .company-con-wrap .company-con .company-tel-list .company-tel-item:first-child, main .company-con-wrap .company-con .company-add-list .company-add-item:first-child {
  width: 30%;
}

main .company-con-wrap .company-con .company-name-list .company-name-item:last-child, main .company-con-wrap .company-con .company-tel-list .company-name-item:last-child, main .company-con-wrap .company-con .company-add-list .company-name-item:last-child, main .company-con-wrap .company-con .company-name-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-tel-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-add-list .company-name-item-line:last-child, main .company-con-wrap .company-con .company-tel-list .company-tel-item:last-child, main .company-con-wrap .company-con .company-add-list .company-add-item:last-child {
  padding-left: 3%;
}

main .company-con-wrap .company-con .company-name-list .company-name-item-line, main .company-con-wrap .company-con .company-tel-list .company-name-item-line, main .company-con-wrap .company-con .company-add-list .company-name-item-line {
  border-top: 4px solid #41AD98;
}

main .company-con-wrap .company-con .company-tel {
  width: 100%;
}

@media (max-width: 425px) {
  main .company-con-wrap .company-con .company-tel-list .company-tel-item {
    height: 6vw;
  }
}

main .company-con-wrap .company-con .company-add {
  width: 100%;
}

main .company-con-wrap .company-con .company-add-list .company-add-item {
  border-bottom: 2px solid #E5E5E5;
}

@media (max-width: 425px) {
  main .company-con-wrap .company-con .company-add-list .company-add-item {
    height: 6vw;
  }
}

main .company-con-wrap .company-map {
  width: 40%;
  height: 30vw;
  float: left;
}

@media (max-width: 768px) {
  main .company-con-wrap .company-map {
    clear: both;
    width: 100%;
    height: 22vw;
  }
}

@media (max-width: 425px) {
  main .company-con-wrap .company-map {
    height: 40vw;
  }
}

main .company-con-wrap .company-map .iframe {
  width: 100%;
  height: 100%;
}

main .contact {
  width: 100%;
  height: 60vw;
}

@media (max-width: 1024px) {
  main .contact {
    height: 60vw;
  }
}

@media (max-width: 768px) {
  main .contact {
    height: 70vw;
  }
}

@media (max-width: 425px) {
  main .contact {
    height: 130vw;
  }
}

main .contact-form-wrap {
  width: 100%;
  height: 100%;
  background: #41AD98;
  padding-top: 6%;
}

main .contact-form-wrap .contact-name, main .contact-form-wrap .contact-mail, main .contact-form-wrap .contact-daimei, main .contact-form-wrap .contact-submit-wrap .contact-submit {
  width: 100%;
}

main .contact-form-wrap .contact-name-title, main .contact-form-wrap .contact-mail-title, main .contact-form-wrap .contact-daimei-title, main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn {
  width: 100%;
  height: 3vw;
  color: #fff;
}

@media (max-width: 768px) {
  main .contact-form-wrap .contact-name-title, main .contact-form-wrap .contact-mail-title, main .contact-form-wrap .contact-daimei-title, main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn {
    height: 4vw;
  }
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-name-title, main .contact-form-wrap .contact-mail-title, main .contact-form-wrap .contact-daimei-title, main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn {
    height: 10vw;
  }
}

main .contact-form-wrap .contact-name-text-wrap, main .contact-form-wrap .contact-mail-text-wrap, main .contact-form-wrap .contact-daimei-text-wrap {
  width: 100%;
  height: 2vw;
}

main .contact-form-wrap .contact-name-text-wrap-con, main .contact-form-wrap .contact-mail-text-wrap-con, main .contact-form-wrap .contact-daimei-text-wrap-con {
  width: 46%;
  height: 2vw;
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-name-text-wrap-con, main .contact-form-wrap .contact-mail-text-wrap-con, main .contact-form-wrap .contact-daimei-text-wrap-con {
    width: 80%;
    height: 4vw;
  }
}

main .contact-form-wrap .contact-comment {
  width: 100%;
}

main .contact-form-wrap .contact-comment-title {
  width: 100%;
  height: 3vw;
  color: #fff;
}

@media (max-width: 768px) {
  main .contact-form-wrap .contact-comment-title {
    height: 4vw;
  }
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-comment-title {
    height: 10vw;
  }
}

main .contact-form-wrap .contact-comment-text-wrap {
  width: 100%;
  height: 14vw;
}

@media (max-width: 768px) {
  main .contact-form-wrap .contact-comment-text-wrap {
    height: 16vw;
  }
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-comment-text-wrap {
    height: 40vw;
  }
}

main .contact-form-wrap .contact-comment-text-wrap-con {
  width: 46%;
  height: 100%;
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-comment-text-wrap-con {
    width: 80%;
  }
}

main .contact-form-wrap .contact-submit-wrap {
  width: 100%;
  height: 3vw;
}

main .contact-form-wrap .contact-submit-wrap .contact-submit {
  width: 100%;
  height: 3vw;
  margin-top: 2%;
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-submit-wrap .contact-submit {
    margin-top: 4%;
  }
}

main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn {
  width: 18%;
  height: 4vw;
  background: #121C2A;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 425px) {
  main .contact-form-wrap .contact-submit-wrap .contact-submit .submit-btn {
    width: 40%;
    height: 8vw;
  }
}

main .links {
  width: 80%;
  padding: 100px 10% 100px 10%;
  background: #031730;
  border-top: 0.5vw solid #3B4452;
}

main .links-title {
  width: 100%;
  padding: 3% 0 3% 0;
  color: #fff;
  border-bottom: 2px solid #3B4452;
  margin-bottom: 4%;
}

@media (max-width: 425px) {
  main .links-title {
    width: 100%;
  }
}

main .links .links-menu {
  width: 50%;
  float: left;
}

@media (max-width: 768px) {
  main .links .links-menu {
    width: 37%;
  }
}

@media (max-width: 425px) {
  main .links .links-menu {
    width: 100%;
    clear: both;
  }
}

main .links .links-menu .blog, main .links .links-menu .sns {
  float: left;
  width: 50%;
}

@media (max-width: 768px) {
  main .links .links-menu .blog, main .links .links-menu .sns {
    clear: both;
    margin-bottom: 2%;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .blog, main .links .links-menu .sns {
    width: 100%;
  }
}

main .links .links-menu .blog .blog-title, main .links .links-menu .sns .blog-title, main .links .links-menu .sns .sns-title {
  width: 100%;
  padding: 0 0 5% 0;
  color: #fff;
}

@media (max-width: 768px) {
  main .links .links-menu .blog .blog-title, main .links .links-menu .sns .blog-title, main .links .links-menu .sns .sns-title {
    width: 28vw;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .blog .blog-title, main .links .links-menu .sns .blog-title, main .links .links-menu .sns .sns-title {
    width: 100%;
  }
}

main .links .links-menu .blog .blog-list, main .links .links-menu .sns .blog-list, main .links .links-menu .blog .sns .sns-list, main .links .links-menu .sns .blog .sns-list, main .links .links-menu .sns .sns-list {
  width: 100%;
  list-style-type: none;
}

@media (max-width: 768px) {
  main .links .links-menu .blog .blog-list, main .links .links-menu .sns .blog-list, main .links .links-menu .blog .sns .sns-list, main .links .links-menu .sns .blog .sns-list, main .links .links-menu .sns .sns-list {
    padding: 0 0 0 0;
  }
}

main .links .links-menu .blog .blog-list .blog-item, main .links .links-menu .sns .blog-list .blog-item, main .links .links-menu .sns .sns-list .blog-item, main .links .links-menu .sns .sns-list .sns-item {
  padding: 0 0 4% 4%;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  main .links .links-menu .blog .blog-list .blog-item, main .links .links-menu .sns .blog-list .blog-item, main .links .links-menu .sns .sns-list .blog-item, main .links .links-menu .sns .sns-list .sns-item {
    width: 28vw;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .blog .blog-list .blog-item, main .links .links-menu .sns .blog-list .blog-item, main .links .links-menu .sns .sns-list .blog-item, main .links .links-menu .sns .sns-list .sns-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .links .links-menu .sns {
    clear: both;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .sns {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .links .links-menu .sns .sns-title {
    width: 28vw;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .sns .sns-title {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .links .links-menu .sns .sns-list .sns-item {
    width: 28vw;
  }
}

@media (max-width: 425px) {
  main .links .links-menu .sns .sns-list .sns-item {
    width: 100%;
  }
}

main .links .facebookwrap {
  width: 30vw;
  height: 14vw;
  float: left;
}

@media (max-width: 768px) {
  main .links .facebookwrap {
    width: 50vw;
    height: 24vw;
  }
}

@media (max-width: 425px) {
  main .links .facebookwrap {
    clear: both;
  }
}

@media (max-width: 425px) {
  main .links .facebookwrap {
    width: 100%;
    height: 50vw;
  }
}

main .links .facebookwrap iframe {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
}

footer {
  width: 100%;
  height: 3vw;
  background: #010A16;
}

@media (max-width: 425px) {
  footer {
    height: 10vw;
  }
}

footer small {
  width: 100%;
  height: 100%;
  color: #fff;
}

.scrolltop {
  width: 5vw;
  height: 5vw;
  position: fixed;
  left: 90%;
  /*bodyにposition:relative;をつけてるとjsファイルが動いた*/
}

@media (max-width: 768px) {
  .scrolltop {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 425px) {
  .scrolltop {
    width: 10vw;
    height: 10vw;
    left: 87%;
  }
}

.scrolltop-wrap {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #555555;
  opacity: 0.9;
}

.scrolltop-wrap::before {
  content: '';
  width: 2vw;
  height: 2vw;
  display: block;
  border-top: solid 0.5vw #fff;
  border-right: solid 0.5vw #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 1vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */