$pc: 1024px;
$tab: 768px;
$md: 425px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

%display-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%display-center-js-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}

%font-50{
  font-size: calc(1.25rem + ((1vw - 10.25px) * 1.9544));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 3.3482));
  }
}
%font-40{
  font-size: calc(1rem + ((1vw - 10.25px) * 1.5635));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 3.125));
  }
}
%font-30{
  font-size: calc(0.75rem + ((1vw - 10.25px) * 1.1726));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.7857));
  }
}
%font-26{
  font-size: calc(0.6875rem + ((1vw - 10.25px) * 0.9772));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.5625rem + ((1vw - 3.2px) * 1.5625));
  }
}

%section-title{
  width:100%;
  height:5vw;
}
%section-title-big{
  width:100%;
  height:6vw;
  @extend %display-center;
  @extend %font-50;

  &:before{
    content:"";
    border:1px solid #baaab7;
    width:14vw;
    margin:0 1vw 0 1vw;
  }

  &:after{
    @extend %section-title-big:before
  }
}
%section-title-small{
  width:100%;
  height:2.2vw;
  @extend %display-center;
  @extend %font-30;

  @include tab{
    height:2.5vw;
  }

  @include md{
    height:4vw;
  }
}
%more-link{
  @extend %display-center;
  width:20%;
  height:4vw;
  border:1px solid black;
  @extend %font-30;
  margin:16vw 40% 10vw 40%;

  @include tab{
    width:40%;
    height:6vw;
    margin:16vw 30% 10vw 30%;
  }

  @include md{
    width:46%;
    margin:16vw 27% 10vw 27%;
  }

  @include sm{
    width:50%;
    margin:16vw 25% 10vw 25%;
  }
}

html,
body{
  font-family: 'Noto Serif JP', serif;
  position:relative;
  -webkit-text-size-adjust: 100%;
}

header{
  width:100%;
  height:10vw;
  display:flex;

  .logo-wrap{
    width:50%;
    height:100%;
    @extend %display-center-js-fs;

    .logo{
      width:20%;
      height:auto;
      margin-left:12vw;
      cursor:pointer;

      @include tab{
        width:36%;
        margin-top:2vw;
        margin-left:10vw;
      }

      @include md{
        width:40%;
        margin-top:2vw;
        margin-left:10vw;
      }
    }
  }

  .top-contact{
    width:50%;
    height:100%;
    @extend %display-center;

    @include tab{
      display:none;
    }

    &-img{
      width:40%;
      height:auto;

      &:first-child{
        margin-right:2vw;
      }

      &:last-child{
        cursor:pointer;
      }
    }
  }

  .l-drawer{
    display:none;

    @include tab{
      display:block;

      /*ドロワー*/
      .l-drawer {
        position: relative;
      }
      .l-drawer__checkbox {
        display: none;
      }
      .l-drawer__icon {
        cursor: pointer;
        display: block;
        width: 6vw;
        height: 6vw;
        position: absolute;
        top:2vw;
        right: 3vw;
      }
      .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        background-color: #000;
        display: block;
        width: 6vw;
        height: 0.4vw;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        content: " ";
      }
      .l-drawer__icon-parts:before {
        width: 6vw;
        height: 0.4vw;
        top: 3vw;

        @-moz-document url-prefix(){
          top:2vw;
        }
      }
      .l-drawer__icon-parts:after {
        width: 6vw;
        height: 0.4vw;
        top: -3vw;
      }

      .l-drawer__overlay {
        background: #000;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
      }
      .l-drawer__menu {
        background: #ffffff;
        color: #000;
        max-width: 100%;
        width: 44vw;
        height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 0;
        right: -44vw;

        .l-drawer__item-wrap{
          width:90%;
          height:90%;
          margin:10% 0 0 10%;

          .l-drawer__item-inner{
            width:100%;
            height:4vw;
            font-size:2vw;
          }
        }
      }
      .l-drawer__icon {
        z-index: 4;
      }
      .l-drawer__menu {
        z-index: 3;
      }
      .l-drawer__overlay {
        z-index: 2;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
        background: transparent;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__overlay {
        opacity: 0.3;
        pointer-events: auto;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__menu {
        right: 0;
      }
      .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
      }
    }
  }
}

.top-line-wrap{
  width:100%;
  height:1.4vw;
  overflow:hidden;

  @include pc{
    height:2vw;
  }

  .top-line{
    width:100%;
    height:auto;
  }
}

.pc-glnav{
  width:100%;
  height:3vw;
  margin-bottom:1vw;

  @include tab{
    display:none;
  }

  .glnav-list{
    width:90%;
    height:100%;
    display:flex;
    justify-content:space-between;
    margin:0 5% 0 5%;

    &-item{
      width:auto;
      height:100%;
      @extend %display-center;
      @extend %font-30;
      cursor:pointer;
    }
  }
}

.top{
  width:100%;
  position:relative;

  &-img{
    width:100%;
    height:auto;
  }

  &-img-word{
    width:20%;
    position:absolute;
    top:10vw;
    left:16vw;
  }
}

.ad{
  width:80%;
  height:23vw;
  display:flex;
  margin:10vw 10% 10vw 10%;

  @include sm{
    height:100vw;
    display:block;
    margin-bottom:14vw;
  }

  &-img{
    width:48%;
    height:auto;
    cursor:pointer;

    @include sm{
      width:100%;
    }

    &:first-child{
      margin-right:2vw;

      @include sm{
        margin-right:0;
      }
    }
  }
}

.collection{
  width:100%;
  height:83vw;

  @include tab{
    height:320vw;
  }

  @include md{
    height:330vw;
  }

  &-title{
    @extend %section-title;

    &-big{
      @extend %section-title-big;
    }
    
    &-small{
      @extend %section-title-small;
    }
  }

  .colle-up{
    width:100%;
    height:25vw;
    @extend %display-center;

    @include tab{
      display:block;
      height:140vw;
      margin-top:12vw;
    }

    @include md{
      margin-top:16vw;
    }

    &-con{
      width:30%;
      height:25vw;
      position:relative;
      margin-top:20vw;

      @include tab{
        margin-top:0;
        width:80%;
        height:70vw;
        margin:0 0 0 10%;
      }

      .colle-img1{
        width:100%;
        height:100%;
        position:absolute;
        left:0;
      }

      .colle-img2{
        width:50%;
        height:100%;
        position:absolute;
        left:0;
      }

      .colle-up-word-wrap{
        width:50%;
        position:absolute;
        top:3vw;
        left:50%;
        color:#fff;

        @include tab{
          top:10vw;
        }

        .colle-up-word-title{
          @extend %display-center;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          border-bottom:1px solid #fff;
          @extend %font-40;

          @include tab{
            height:4vw;
          }
        }

        .colle-up-word-sub{
          @extend %display-center-js-fs;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          @extend %font-26;

          @include tab{
            height:4vw;
            margin-bottom:2vw;
          }
        }

        .colle-up-word-price{
          @extend %display-center-js-fs;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          @extend %font-40;

          @include tab{
            height:6vw;
          }

          @include md{
            font-size: calc(0.875rem + ((1vw - 3.2px) * 3.8095));
          }

          .tax{
            @extend %font-26;
            margin-top:0.3vw;
            margin-left:0.4vw;

            @include tab{
              margin-top:1.2vw;
            }
          }
        }

        .colle-up-word-set{
          @extend %display-center-js-fs;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          @extend %font-26;

          @include tab{
            margin-top:4vw;
          }
        }

        .colle-up-word-tento{
          @extend %display-center-js-fs;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          @extend %font-30;

          @include tab{
            height:5vw;
          }
        }

        .colle-up-word-link{
          @extend %display-center;
          width:80%;
          height:3vw;
          margin:0 10% 0 10%;
          @extend %font-26;
          border:1px solid #fff;
          cursor:pointer;

          @include md{
            height:4vw;
          }
        }
      }
    }
  }

  .colle-bottom{
    @extend .colle-up;

    @include tab{
      margin-top:0;
    }

    .colle-bottom-con{
      @extend .colle-up-con;

      .colle-img3{
        @extend .colle-img1;
      }
      .colle-img4{
        @extend .colle-img2;
      }
    }
  }

  .more-link{
    @extend %more-link;
    cursor:pointer;

    @include tab{
      margin-top:8vw;
    }
  }
}

.plan{
  width:100%;
  height:70vw;
  overflow:hidden;

  @include pc{
    height:72vw;
  }

  @include tab{
    height:400vw;
  }

  @include md{
    height:450vw;
  }

  &-title{
    @extend %section-title;

    &-big{
      @extend %section-title-big;
    }

    &-small{
      @extend %section-title-small;
    }
  }

  &-list{
    width:100%;
    height:100%;
    display:flex;
    @extend %display-center;

    @include tab{
      display:block;
    }
    

    &-item{
      width:18%;
      height:46vw;
      border:1px solid #000;

      @include pc{
        width:23%;
        height:51vw;
      }

      @include tab{
        width:50%;
        height:91vw;
        margin:4vw 25% 0 25%;

        &:first-child{
          margin:12vw 25% 0 25%;
          height:88vw;
        }
      }

      @include md{
        width:56%;
        margin:4vw 22% 0 22%;

        &:first-child{
          margin:4vw 22% 0 22%;
        }
      }

      &:first-child{
        @include md{
          margin-top:16vw;
          height:95vw;
        }
      }

      &:nth-child(2){
        @include md{
          height:98vw;
        }
      }

      &:nth-child(3){
        @include md{
          height:98vw;
        }
      }

      &:last-child{
        @include md{
          height:105vw;
        }
      }

      &:not(:last-child){
        margin-right:2vw;

        @include pc{
          margin-right:1.4vw;
        }
      }

      .plan-img{
        width:100%;
        height:auto;
      }

      .plan-word-wrap{
        width:90%;
        padding:0 5% 0 5%;

        .plan-word-title-wrap1{
          width:100%;
          height:5vw;
          @extend %font-40;

          @include tab{
            height:7vw;
          }

          .plan-word-title1{
            @extend %display-center;
            width:100%;
            height:100%;
          }         
        }
        .plan-word-con{
          width:100%;
          height:13vw;
          @extend %font-26;
          margin-top:1vw;

          @include tab{
            height:14.5vw;
          }
        }

        .plan-word-con4{
          width:100%;
          height:11.5vw;
          @extend %font-26;
          margin-top:1vw;

          @include md{
            height:18vw;
          }
        }

        .plan-word-full{
          width:100%;
          height:1.5vw;
          @extend %font-26;

          @include tab{
            height:3vw;
          }
        }

        .plan-word-full-wrap{
          width:100%;
          height:3vw;
          @extend %font-26;

          @include tab{
            height:6vw;
          }

          .plan-word-full4{
            width:100%;
            line-height:1.5;

            @include tab{
              height:3vw;
            }
          }
        }

        .plan-word-price{
          width:100%;
          height:2vw;
          @extend %font-40;

          @include tab{
            height:4vw;
            line-height:1.6;
          }

          @include md{
            font-size: calc(0.875rem + ((1vw - 3.2px) * 3.8095));
          }

          .en{
            @extend %font-26;
          }
        }

        .plan-word-tax{
          width:100%;
          height:2vw;
          @extend %font-26;
          display:flex;
          align-items:center;
          justify-content:flex-end;
          
          @include tab{
            height:4vw;
          }
        }

        .plan-word-more-wrap{
          width:100%;
          height:4vw;
          display:flex;
          border-top:1px solid black;

          @include tab{
            height:6vw;
          }

          .plan-word-more{
            @extend %display-center;
            width:80%;
            height:100%;
            @extend %font-26;

            @include md{
              margin-top:0.8vw;
            }
          }

          .plan-word-more-arrow-wrap{
            @extend %display-center;
            width:2.5vw;
            height:2.5vw;
            margin:0.7vw 0 0 0;
            background:#000;
            cursor:pointer;

            @include tab{
              width:4vw;
              height:4vw;
              margin-top:1vw;
            }

            @include md{
              margin:2vw 0 0 0;
            }

            .arrow{
              position: relative;
              display: inline-block;
              padding-left: 1.6vw;

              @include tab{
                padding-left:2vw;
              }
            }
            
            .arrow::before{
              content: '';
              width: 1vw;
              height: 1vw;
              border: 0px;
              border-top: solid 2px #fff;
              border-right: solid 2px #fff;
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -0.5vw;
            }
          }
        }
      }

      .plan-word-wrap2{
        @extend .plan-word-wrap;

        .plan-word-title-wrap2{
          @extend .plan-word-title-wrap1;
          height:3vw;
          padding:1vw 0 1vw 0;

          @include tab{
            height:8vw;
          }

          .plan-word-title2{
            @extend %display-center;
            height:2vw;

            @include tab{
              height:4vw;
            }
          }
        }
      }
    }
  }
}

.gallary{
  width:100%;
  height:100vw;
  position:relative;

  @include md{
    height:110vw;
  }

  &-title{
    @extend %section-title;

    &-big{
      @extend %section-title-big;
    }

    &-small{
      @extend %section-title-small;
    }
  }
  
  .gal-img-wrap{
    width:80%;
    height:100%;
    margin:12vw 0 0 13%;

    @include md{
      margin-top:16vw;
    }

    .gal-img-up-list{
      width:100%;
      height:31.7vw;

      &-item{
        width:30%;
        height:auto;
      }
    }

    .gal-img-bottom-list{
      @extend .gal-img-up-list;
    }
  }

  .more-link{
    @extend %more-link;
    margin-top:0;
    position:absolute;
    top:86vw;
    cursor:pointer;

    @include md{
      top:90vw;
    }
  }
}

.voice{
  width:100%;
  height:120vw;

  @include md{
    height:126vw;
  }

  &-title{
    @extend %section-title-big;
  }

  &-list{
    width:80%;
    height:30vw;
    margin:2vw 10% 0 10%;

    &-item1{
      width:80%;
      height:4vw;
      float:left;
      background-image:url("../img-fujiya-new/top_voice_title_back.png");
      @extend %font-30;
      @extend %display-center-js-fs;
      padding-left:3%;
    }

    &-item2{
      width:17%;
      height:4vw;
      float:left;
      background:#c78092;
      @extend %font-30;
      @extend %display-center;
    }

    &-item3{
      width:100%;
      height:26vw;
      background-image:url("../img-fujiya-new/top_voice_back_pic.png"), url("../img-fujiya-new/top_voice_back.png");
      background-repeat:no-repeat,repeat;
      background-position:right 0 bottom 0;
      background-size:50% auto, 100% auto;
      display:flex;

      .voice-img-wrap{
        width:30%;
        height:100%;
        @extend %display-center;

        .voice-img{
          width:20vw;
          height:auto;
        }
      }

      .voice-word{
        width:60%;
        height:auto;
        @extend %font-30;
        padding:3vw 0 0 2vw;
      }
    }
  }

  .more-link{
    @extend %more-link;
    margin-top:4vw;
    cursor:pointer;
  }
}

.reason{
  width:100%;
  height:52vw;

  @include tab{
    height:326vw;
  }

  &-title{
    @extend %section-title-big;
  }

  &-con-wrap{
    width:80%;
    height:28vw;
    display:flex;
    margin:0 0 0 18%;

    @include pc{
      height:29vw;
    }

    @include tab{
      display:block;
      width:50%;
      height:70vw;
      margin:4vw 25% 0 25%;
    }

    .reason-con{
      width:18%;
      height:100%;
      border:1px solid #000;

      @include tab{
        width:100%;
        margin-bottom:4vw;
      }

      &:not(:last-child){
        margin-right:2%;
      }

      .reason-img-wrap{
        width:100%;
        height:14vw;

        @include tab{
          height:43vw;
        }
        
        .reason-img{
          width:100%;
          height:100%;
        }
      }

      .reason-con-expl{
        width:100%;
        height:14vw;

        &-title-wrap{
          width:100%;
          height:6vw;
          @extend %font-30;

          @include tab{
            height:10vw;
          }

          .reason-con-expl-title1{
            width:100%;
            height:3vw;
            display:flex;
            align-items:flex-end;
            justify-content:center;

            @include tab{
              height:5vw;
            }

            @include md{
              font-size: calc(0.75rem + ((1vw - 3.2px) * 3.8095));
            }
          }

          .reason-con-expl-title2{
            width:100%;
            height:3vw;
            display:flex;
            align-items:flex-start;
            justify-content:center;

            @include tab{
              height:5vw;
            }

            @include md{
              font-size: calc(0.75rem + ((1vw - 3.2px) * 3.8095));
            }
          }
        }

        .reason-con-expl-word{
          width:90%;
          margin:0 auto;
          @extend %font-26;
        }
      }
    }
  }

  .more-link{
    @extend %more-link;
    margin-top:4vw;
    cursor:pointer;

    @include tab{
      margin-top:230vw;
    }
  }
}

.flow{
  width:100%;
  height:40vw;
  background-image:url("../img-fujiya-new/top_nagare_back.png");
  padding-top:2vw;

  @include tab{
    height:318vw;
  }

  &-title{
    @extend %section-title-big;
  }

  &-con-wrap{
    width:80%;
    height:auto;
    display:flex;
    margin:0 0 0 10%;

    @include tab{
      display:block;
      width:50%;
      margin:4vw 25% 0 25%;
    }

    .flow-con-item{
      width:16%;
      height:22vw;

      @include tab{
        width:100%;
        height:50vw;
      }

      .flow-img{
        width:100%;
        height:auto;
      }

      .flow-con-word{
        width:100%;
        @extend %font-26;
        line-height:1.2;
      }

    }

    .arrow{
      width:2%;
      height:2%;
      margin:2.6vw auto;

      @include tab{
        transform:rotate(90deg);
        width:3vw;
        height:6vw;
        margin:1vw 51% 2vw 49%;
      }
    }
  }

  .more-link{
    @extend %more-link;
    margin-top:2vw;
    cursor:pointer;
  }
}

.news{
  width:100%;
  height:60vw;
  margin-top:4vw;

  @include tab{
    height:64vw;
  }

  @include md{
    height:84vw;
  }

  &-title{
    @extend %section-title-big;
  }

  &-con-wrap{
    width:80%;
    margin:0 0 0 10%;

    .news-con{
      width:100%;
      height:20vw;
      border-bottom:1px dotted #000;

      @include tab{
        height:22vw;
      }

      @include md{
        height:32vw;
      }

      .new-img-wrap{
        width:26%;
        height:100%;
        float:left;
        @extend %display-center;

        .news-img{
          width:16vw;
          height:auto;
        }
      }

      .news-right{
        width:74%;
        height:100%;
        float:left;
        margin-top:1vw;

        &-date{
          width:100%;
          height:3vw;
          @extend %font-30;
          font-weight:bold;
          @extend %display-center-js-fs;
        }

        &-title{
          width:100%;
          height:4vw;
          @extend %font-40;
          @extend %display-center-js-fs;

          @include md{
            height:6vw;
            font-size: calc(0.6875rem + ((1vw - 3.2px) * 2.8571));
          }
        }

        &-word{
          width:100%;
          @extend %font-26;
          @extend %display-center-js-fs;

          @include tab{
            font-size:2vw;

            @-moz-document url-prefix(){
              font-size:2vw;
            }
          }
        }
      }
    }
  }

  .more-link{
    clear:both;
    @extend %more-link;
    margin-top:2vw;
    cursor:pointer;
  }
}

.sns{
  width:100%;
  height:40vw;
  background-image:url("../img-fujiya-new/ig_fb_back.png");
  padding-top:4vw;

  @include md{
    height:150vw;
  }

  &-wrap{
    width:80%;
    height:100%;
    margin:0 10% 0 10%;
    display:flex;

    @include md{
      display:block;
    }

    .insta{
      width:50%;
      height:100%;

      @include md{
        width:100%;
        height:70vw;
      }

      &-title{
        width:50%;
        height:4vw;
        @extend %font-40;
        @extend %display-center;
        border-bottom:1px solid #000;
        margin:0 auto;
      }

      &-frame{
        width:100%;
        height:auto;
        margin-top:2vw;
      }
    }

    .fb{
      @extend .insta;

      &-title{
        @extend .insta-title;
      }

      &-frame{
        @extend .insta-frame;
        height:27vw;

        @include md{
          height:60vw;
        }

        .fb-iframe-con{
          width:26vw;
          height:27vw;
          padding:0 0 0 7vw;

          @include md{
            width:100%;
            height:100%;
            padding:0;
          }
        }
      }
    }
  }
}

.foot-line-wrap{
  width:100%;
  height:6vw;
  overflow:hidden;

  .foot-line{
    width:100%;
    height:auto;
    margin-top:5vw;
  }
}

footer{
  width:100%;
  height:50vw;

  .glnav-foot{
    width:100%;
    height:6vw;
    @extend %display-center;

    @include tab{
      display:none;
    }

    &-list{
      width:90%;
      height:100%;
      list-style-type:none;
      display:flex;
      justify-content:space-between;
      @extend %font-26;

      &-item{
        height:auto;
        @extend %display-center;
        cursor:pointer;
      }
    }
  }

  .footer-left{
    width:50%;
    height:100%;
    float:left;
    padding-left:5%;

    @include tab{
      clear:both;
      width:90%;
    }

    &-up{
      width:95%;
      height:12vw;
      display:flex;

      @include tab{
        height:16vw;
      }

      @include md{
        height:18vw;
      }

      .logo-footer-wrap{
        width:40%;
        height:100%;
        @extend %display-center;

        @include tab{
          width:30%;
        }

        .logo-footer{
          width:90%;
          height:auto;
        }
      }

      .footer-info-wrap{
        width:100%;
        height:90%;
        padding:4% 0 0 0;

        .footer-add{
          width:100%;
          height:2.7vw;
          @extend %font-26;
          @extend %display-center-js-fs;

          @include md{
            height:3.6vw;
          }
        }

        .footer-holiday{
          @extend .footer-add;
        }

        .footer-hour{
          @extend .footer-add;
        }
      }
    }

    .footer-tel{
      width:56%;
      height:auto;
      margin:0 0 5% 2%;
    }

    .footer-links-wrap{
      width:100%;
      height:auto;
      display:inline-block;

      .footer-link-left{
        width:45%;
        height:auto;
        padding:0 0 0 2%;
        cursor:pointer;

        @include tab{
          width:40%;
        }
      }

      .footer-link-right{
        @extend .footer-link-left;
      }
    }

    .copyright{
      width:100%;
      @extend %font-26;
      margin:6vw 0 0 2%;
    }
  }

  .footer-right{
    width:45%;
    height:100%;
    float:left;

    @include tab{
      clear:both;
      width:90%;
      margin:0 5% 0 5%;
    }

    .map{
      width:90%;
      height:30vw;

      @include tab{
        width:100%;
      }

      &-frame{
        width:100%;
        height:30vw;
      }
    }
  }
}

.following-link{
  width:50%;
  height:7vw;
  position:fixed;
  right:0;
  bottom:0;
  display:flex;

  .following-img{
    width:50%;
    height:auto;
    cursor:pointer;
  }
}