$pc: 1024px;
$tab: 768px;
$tabs: 597px;
$md: 425px;
$mds: 375px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin tabs {
  @media (max-width: ($tabs)) {
    @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin mds {
  @media (max-width: ($mds)) {
    @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

$main-color:#0db8e6;

%flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%flex-center-js-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
%flex-center-js-fe{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

%font-40{
  font-size: calc(1.3125rem + ((1vw - 10.25px) * 2.1229));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.75rem + ((1vw - 3.2px) * 2.9018));
  }

  @include md{
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 2.8571));
  }
}
%font-24{
  font-size: calc(0.8125rem + ((1vw - 10.25px) * 1.2291));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.4464));
  }
}
%font-20{
  font-size: calc(0.625rem + ((1vw - 10.25px) * 1.5642));
  min-height: 0vw;

  @include tab{
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.4464));
  }
}

%btn-common-outline{
  width:40%;
  height:100%;
  @extend %flex-center;
  background:$main-color;
  border-radius:35px;
  @extend %font-24;
  color:#fff;
  cursor:pointer;

  @include md{
    width:36vw;
    height:6vw;
  }
}
%btn-common-arrow-wrap{
  text-decoration:  none;
  position:  relative;
  left:3vw;
  height: 2vw;
  width: 2vw;
}
%btn-common-arrow{
  content:  '';
  width: 1vw;
  height: 1vw;
  display:  block;
  border-top: solid 0.2vw #fff;
  border-right: solid 0.2vw #fff;
  transform: rotate(45deg);
  position:  absolute;
  top: 0.2vw;
  bottom:  0;
  left:  0;
  right:  0;
  margin:  auto;
}

html,
body{
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100%;
  background:#f8f8f8;
  position:relative;
}

header{
  width:100%;
  height:7vw;
  display:flex;
  justify-content:space-between;
  position:fixed;
  top:0;
  border-top:6px solid $main-color;
  background:#fff;
  z-index:5;

  .header-logo-wrap{
    width:14%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    .header-logo{
      width:70%;
      height:auto;
      cursor:pointer;
    }
  }

  .glnav{
    width:60%;
    height:100%;

    @include tab{
      display:none;
    }

    &-list{
      width:100%;
      height:100%;
      @extend %flex-center;
      justify-content:space-between;
      cursor:pointer;

      &-item{
        height:100%;
        @extend %flex-center;
        @extend %font-20;
        position: relative;

        &::after {
          position: absolute;
          bottom: 2vw;
          left: 0;
          content: '';
          width:100%;
          height: 0.1vw;
          opacity: 0;
          visibility: hidden;
          transition: .3s;
          background:$main-color;
        }

        &:hover::after {
          bottom: 1vw;
          opacity: 1;
          visibility: visible;
        }

        
      }
    }
  }

  .header-contact-logo-wrap{
    width:16%;
    height:100%;

    @include tab{
      display:none;
    }

    .header-contact-logo{
      width:90%;
      height:auto;
      cursor:pointer;
    }
  }

  .l-drawer{
    display:none;

    @include tab{
      display:block;

      /*ドロワー*/
      .l-drawer {
        position: relative;
      }
      .l-drawer__checkbox {
        display: none;
      }
      .l-drawer__icon {
        cursor: pointer;
        display: block;
        width: 7vw;
        height: 7vw;
        position: fixed;
        right: 0;
      }
      .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        background-color: #000;
        display: block;
        width: 4vw;
        height: 0.2vw;
        position: absolute;
        top: 0;
        right: 2vw;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
        content: " ";
      }
      .l-drawer__icon-parts:before {
        top: 2vw;
      }
      .l-drawer__icon-parts:after {
        top: -2vw;
      }
      .l-drawer__overlay {
        background: #000;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
      }
      .l-drawer__menu {
        background: #ffffff;
        color: #000;
        max-width: 100%;
        width: 42vw;
        height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 0;
        right: -42vw;
      }
      .l-drawer__item{
        margin:4vw 0 0 2vw;

        .l-drawer__item-inner{
          text-decoration:none;
          color:#000;
          font-size:2vw;
        }
      }
      .l-drawer__icon {
        z-index: 4;
      }
      .l-drawer__menu {
        z-index: 3;
      }
      .l-drawer__overlay {
        z-index: 2;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
        background: transparent;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__overlay {
        opacity: 0.3;
        pointer-events: auto;
      }
      .l-drawer__checkbox:checked ~ .l-drawer__menu {
        right: 0;
      }
      .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
      }
    }
  }
}

.top{
  width:100%;
  height:68vw;
  overflow:hidden;

  &-video{
    width:100%;
    height:auto;
    position:relative;
  }

  .scroll{
    width:7vw;
    height:7vw;
    margin:0 auto;
    background:#fff;
    position:relative;
    top:-3.5vw;
    border-radius:100%;
    border:2px solid $main-color;
    cursor:pointer;

    @include tab{
      width:10vw;
      height:10vw;
      top:-6vw;
    }

    @include md{
      width:13vw;
      height:13vw;
      top:-8vw;
    }

    &-word{
      width:5vw;
      height:2vw;
      @extend %font-24;
      color:$main-color;
      position:absolute;
      top:3.6vw;
      left:1vw;
      @extend %flex-center;

      @include tab{
        top:6vw;
        left:2.4vw;
      }

      @include md{
        top:8vw;
        left:4vw;
      }
    }

    &-arrow::before{
      content: '';
      width: 1.6vw;
      height: 1.6vw;
      border: 0px;
      border-top: solid 0.1vw $main-color;
      border-right: solid 0.1vw $main-color;
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      position: absolute;
      top: 1.4vw;
      left: 2.6vw;

      @include tab{
        top:2vw;
        left:4.1vw;
      }

      @include md{
        top:4vw;
        left:5.5vw;
      }
    }
  }
}

.project{
  width:100%;
  height:54vw;
  overflow:hidden;

  &-title-wrap{
    width:100%;
    height:auto;

    .project-title-big{
      width:100%;
      height:auto;
      @extend %font-40;
      @extend %flex-center;
      line-height:2;
    }

    .project-title-small{
      width:100%;
      height:auto;
      @extend %font-24;
      @extend %flex-center;
      color:$main-color;
      line-height:2vw;
    }

    .project-title-img{
      width:100%;
      height:3vw;
      @extend %flex-center;

      .project-img{
        width:30%;
        height:auto;
      }
    }
  }

  .project-bg-img-wrap{
    width:100%;
    height:40vw;
    position:relative;
    top:0;

    .project-bg-inside-tile-big{
      width:100%;
      height:4vw;
      @extend %font-40;
      color:#fff;
      position:absolute;
      top:6vw;
      @extend %flex-center;
      z-index:3;

      @include md{
        height:10vw;
      }
    }

    .project-bg-inside-tile-small{
      @extend .project-bg-inside-tile-big;
      @extend %font-24;
      top:9vw;

      @include md{
        height:12vw;
      }
    }

    .project-tomovie-word{
      width:20%;
      height:3vw;
      position:absolute;
      top:13vw;
      margin:0 40% 0 40%;
      z-index:3;
      border:2px solid #fff;
      border-radius:30px;
      display:flex;
      cursor:pointer;

      @include md{
        width:28%;
        height:5vw;
        margin:0 36% 0 35%;
        top:18vw;
      }

      .movie-icon-wrap{
        width:30%;
        height:100%;
        @extend %flex-center-js-fe;
        margin-left:8%;

        @include sm{
          margin-left:0%;
        }

        .movie-icon{
          width:40%;
          height:auto;
        }
      }

      .project-tomovie-word-con{
        width:64%;
        height:100%;
        @extend %font-24;
        @extend %flex-center-js-fs;
        margin-left:6%;
        color:#fff;
      }
    }

    .project-tomovie{
      width:100%;
      height:100%;
      @extend %flex-center;
      position:absolute;
      top:0;

      .project-tomovie-img{
        width:80%;
        height:auto;
      }
    }
  }
}

.pr{
  width:100%;
  height:102vw;
  padding-bottom:6vw;

  @include pc{
    height:98vw;
    padding:0;
  }

  @include tab{
    height:auto;
    padding:0;
  }

  &-wrap{
    width:100%;
    height:auto;
    position:relative;

    @include tab{
      position:static;
      height:auto;
    }

    .pr-left{
      width:40%;
      height:100%;
      position:absolute;
      top:4vw;
      left:0;
      z-index:2;

      @include tab{
        display:none;
        position:static;
      }

      &-img{
        width:100%;
        height:auto;
      }
    }

    .pr-right{
      width:70%;
      height:auto;
      background:#e7eef8;
      padding-bottom:4vw;
      position:absolute;
      top:0;
      right:0;

      @include tab{
        width:100%;
        height:auto;
        position:static;
        padding:2vw 0 6vw 0;
      }

      &-con{
        width:76%;
        height:auto;
        margin:3vw 0 0 20%;
        background-image:url("../img-kessin-new/common/ribbon_3sec.png");
        background-repeat:repeat-y;
        background-position:right 0 top 0%;
        background-size:2.8vw;

        @include tab{
          background-image:none;
        }

        .pr-right-title{
          width:98%;
          height:6vw;
          @extend %flex-center-js-fs;
          @extend %font-40;
          border-left:0.4vw solid $main-color;
          margin-bottom:2vw;
          padding-left:2%;
        }

        .pr-right-movie-wrap{
          width:90%;
          height:26vw;

          @include tab{
            height:34vw;
          }

          .pr-right-movie{
            width:100%;
            height:100%;

            .youtube-frame{
              width:100%;
              height:100%;
            }
          }
        }

        .pr-right-word{
          width:100%;
          height:auto;
          @extend %font-20;
          margin:2vw 0 2vw 0;
        }

        .pr-right-word2{
          width:100%;
          height:auto;
          @extend %font-20;
          margin:2vw 0 2vw 0;

          .pr-right-word2-line{
            width:100%;
            height:auto;
            line-height:1.6;
          }
        }

        .pr-right-word3{
          width:100%;
          height:auto;
          @extend %font-20;
          margin:2vw 0 2vw 0;

          .pr-right-word3-line2{
            width:100%;
            height:auto;
            line-height:1.6;
          }
        }

        .pr-right-word4{
          width:100%;
          height:auto;
          @extend %font-20;
          font-weight:bold;

          .pr-right-word3-line3{
            width:100%;
            height:auto;
            line-height:1.6;
          }
        }

        .pr-right-btn-wrap{
          width:100%;
          height:4vw;
          margin-top:4vw;

          .pr-right-btn{
            @extend %btn-common-outline;

            .btn-arrow{
              @extend %btn-common-arrow-wrap;

              &::before{
                @extend %btn-common-arrow;
              }
            }
          }
        }
      }
    }
  }
}

.news{
  width:100%;
  height:40vw;
  background:#fff;
  overflow:hidden;

  @include md{
    height:96vw;
  }

  &-con{
    width:80%;
    height:100%;
    display:flex;
    margin:0 10% 0 10%;
    background-image:url("../img-kessin-new/common/ribbon_3sec.png");
    background-repeat:no-repeat;
    background-position:left 12.4vw top 2vw;
    background-size:3vw;
    padding-top:2vw;

    @include tab{
      background-image:none;
    }

    @include md{
      width:90%;
      margin:0 5% 0 3%;
      display:block;
    }

    @include sm{
      width:100%;
      margin-left:0%;
    }

    .news-title-wrap{
      width:20%;
      height:80%;
      margin-top:8%;

      @include md{
        width:100%;
        height:20vw;
        margin-top:0;
      }

      .news-title-img-wrap{
        width:100%;
        height:3vw;
        @extend %flex-center;

        @include md{
          height:8vw;
        }

        .news-title-img{
          width:20%;
          height:auto;

          @include md{
            width:10%;
          }
        }
      }

      .news-title-big{
        width:100%;
        height:3vw;
        @extend %font-40;
        @extend %flex-center;

        @include md{
          height:6vw;
        }
      }

      .news-title-small{
        width:100%;
        height:2vw;
        @extend %font-24;
        @extend %flex-center;
        color:$main-color;
      }
    }

    .news-right{
      width:80%;
      height:100%;

      @include md{
        margin:0 10% 0 10%;
      }

      @include sm{
        width:90%;
        margin:0 5% 0 5%;
      }

      .news-list-wrap{
        width:100%;
        height:70%;
        margin-top:4%;

        .news-list{
          width:100%;
          height:100%;
          list-style-type:none;

          &-item{
            width:100%;
            height:5vw;
            display:flex;
            @extend %font-24;
            border-bottom:1px dotted #000;

            @include md{
              height:10vw;
            }

            &:first-child{
              border-top:1px dotted #000;
            }

            &-date{
              width:20%;
              height:100%;
              @extend %flex-center;
              color:$main-color;
            }

            &-con{
              width:80%;
              height:100%;
              @extend %flex-center-js-fs;
            }
          }
        }

        .news-right-btn-wrap{
          @extend %btn-common-outline;
          height:4vw;
          margin-left:39vw;

          @include tabs{
            width:47%;
          }

          @include md{
            width:36vw;
            height:6vw;
            position:relative;
            top:-10vw;
          }

          @include sm{
            width:40vw;
          }

          .news-right-btn-arrow{
            @extend %btn-common-arrow-wrap;

            @include tab{
              left:1vw;
            }

            &::before{
              @extend %btn-common-arrow;
            }
          }
        }
      }
    }
  }
}

.links{
  width:100%;
  height:50vw;
  overflow:hidden;

  &-img-top-wrap{
    width:100%;
    height:22vw;
    @extend %flex-center;

    .links-img-top{
      width:80%;
      height:auto;
      cursor:pointer;
    }
  }

  &-img-bottom-wrap{
    width:100%;
    height:22vw;
    @extend %flex-center;

    .links-img-bottom{
      width:40%;
      height:100%;
      
      &:first-child{
      @extend %flex-center-js-fs;
      cursor:pointer;
      }

      &:last-child{
        @extend %flex-center-js-fe;
      }

      &-con{
        width:96%;
        height:auto;
        @extend %flex-center-js-fs;
        cursor:pointer;
      }
    }

  }
}

.sns{
  width:80%;
  height:50vw;
  margin:0 10% 4vw 10%;
  display:flex;
  overflow:hidden;

  @include tab{
    display:block;
    height:170vw;
  }

  @include md{
    height:210vw;
  }

  .tw{
    width:50%;
    height:99%;
    background:#fff;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    position:relative;

    @include tab{
      width:99%;
      height:75vw;
      margin-bottom:4vw;
      border-right:1px solid #000;
    }

    @include md{
      height:100vw;
    }

    .diagonal-line-1{
      content:"";
      width:3vw;
      height:6vw;
      border-right:2px solid $main-color;
      transform: skewX(-150deg);
      position:absolute;
      top:2vw;
      left:3vw;

      @include tab{
        left:16vw;
      }

      @include md{
        height:9vw;
        left:9vw;
      }

      @include sm{
        left:6vw;
      }
    }

    .diagonal-line-2{
      content:"";
      width:3vw;
      height:6vw;
      border-right:2px solid $main-color;
      transform: skewX(150deg);
      position:absolute;
      top:2vw;
      right:6vw;

      @include tab{
        right:20vw;
      }

      @include md{
        height:9vw;
        right:11vw;
      }

      @include sm{
        right:9vw;
      }
    }

    &-title-wrap{
      width:60%;
      height:7vw;
      border-bottom:2px solid $main-color;
      margin:0 auto;
      margin-top:2vw;

      @include md{
        width:70%;
        height:11vw;
        margin-bottom:2vw;
      }

      .tw-title-big{
        width:100%;
        height:4vw;
        @extend %font-40;
        @extend %flex-center;

        @include md{
          height:7vw;
        }
      }

      .tw-title-small{
        width:100%;
        height:2vw;
        @extend %font-20;
        @extend %flex-center;
      }
    }

    &-con{
      width:90%;
      height:28vw;
      @extend %flex-center;
      margin:1vw 5% 0 5%;
      border:1px solid #000;

      @include tab{
        height:50vw;
      }

      @include md{
        height:68vw;
      }

      .twitter-timeline{
        width:100%;
        height:28vw;
      }
    }

    &-hash{
      width:100%;
      height:4vw;
      @extend %font-24;
      @extend %flex-center;

      @include tab{
        height:3vw;
        margin:2vw 0 2vw 0;
      }
    }

    .sns-btn-wrap{
      width:100%;
      height:4vw;
      @extend %flex-center;

      .tw-btn{
        @extend %btn-common-outline;
        width:20vw;
        height:4vw;
        padding-left:2vw;

        @include tab{
          width:30vw;
          height:5vw;
        }

        @include md{
          width:36vw;
        }

        @include sm{
          width:42vw;
          height:6vw;
        }

        .tw-btn-arrow{
          @extend %btn-common-arrow-wrap;
          left:1vw;

          &::before{
            @extend %btn-common-arrow;
          }
        }
      }
    }
  }

  .fb{
    @extend .tw;
    border:1px solid #000;

    &-title-wrap{
      @extend .tw-title-wrap;

      .fb-title-big{
        @extend .tw-title-big;
        padding-top:2vw;
      }
    }

    &-con{
      @extend .tw-con;
      width:68%;
      margin:1vw auto 0;

      .fb-frame{
        width:100%;
        height:100%;
      }
    }

    .sns-btn-wrap{

      .fb-btn{
        @extend .tw-btn;
        margin-top:7.8vw;

        @include tab{
          margin-top:9vw;
        }

        .fb-btn-arrow{
          @extend %btn-common-arrow-wrap;
          left:0.5vw;

          &::before{
            @extend %btn-common-arrow;
          }
        }
      }
    }
  }
}

footer{
  width:100%;
  height:14vw;
  background:#3e3e3e;
  color:#fff;
  overflow:hidden;

  @include md{
    height:22vw;
  }

  .footer-top{
    width:100%;
    height:10vw;
    display:flex;
    border-bottom:0.1vw solid #fff;

    @include md{
      height:14vw;
    }
    
    .footer-logo-wrap{
      width:50%;
      height:10vw;

      .footer-logo{
        width:20%;
        height:auto;
        margin:3vw 0 0 10vw;
        cursor:pointer;

        @include md{
          width:30%;
        }
      }
    }

    .footer-list{
      width:22%;
      height:10vw;
      list-style-type:none;
      display:flex;
      margin:3vw 0 0 20vw;

      @include tab{
        width:40%;
        margin:3vw 0 0 10%;
      }

      @include md{
        display:block;
      }

      &-item{
        width:18vw;
        @extend %font-20;
        cursor:pointer;

        @include tab{
          height:4vw;

          &:first-child{
            width:17vw;
          }
        }

        &:last-child{
          width:36vw;
          margin-left:2vw;

          @include md{
            margin-left:0;
          }
        }
      }
    }
  }

  .footer-bottom{
    width:100%;
    height:3vw;
    @extend %flex-center;

    @include md{
      height:4vw;
    }

    .copyright{
      @extend %font-20;
    }
  }
}

#pagetop-wrap{
  width:7vw;
  height:7vw;
  margin:0 auto;
  background:#fff;
  position:fixed;
  bottom:0;
  right:2vw;
  border-radius:100%;
  border:2px solid $main-color;
  cursor:pointer;

  @include tab{
    width:10vw;
    height:10vw;
  }

  @include md{
    width:16vw;
    height:16vw;
  }

  .pagetop-word{
    width:7vw;
    height:3vw;
    @extend %font-24;
    color:$main-color;
    position:absolute;
    top:3vw;
    left:0;
    @extend %flex-center;

    @include tab{
      width:10vw;
      top:4vw;
      left:0;
    }

    @include md{
      width:14vw;
      height:4vw;
      top:7vw;
      left:1vw;
    }
  }

  .pagetop-arrow::before{
    content: '';
    width: 1.6vw;
    height: 1.6vw;
    border: 0px;
    border-top: solid 0.1vw $main-color;
    border-right: solid 0.1vw $main-color;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 1.4vw;
    left: 2.6vw;

    @include tab{
      top:3vw;
      left:4vw;
    }

    @include md{
      top:5vw;
      left:7vw;
    }
  }
}