@charset "UTF-8";
.pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn, .news-con .news-right .news-list-wrap .news-right-btn-wrap, .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn, header .glnav-list, header .glnav-list-item, .top .scroll-word, .project-title-wrap .project-title-big, .project-title-wrap .project-title-small, .project-title-wrap .project-title-img, .project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small, .project .project-bg-img-wrap .project-tomovie, .news-con .news-title-wrap .news-title-img-wrap, .news-con .news-title-wrap .news-title-big, .news-con .news-title-wrap .news-title-small, .news-con .news-right .news-list-wrap .news-list-item-date, .links-img-top-wrap, .links-img-bottom-wrap, .sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big, .sns .tw-title-wrap .tw-title-small, .sns .fb-title-wrap .tw-title-small, .sns .tw-con, .sns .fb-con, .sns .tw-hash, .sns .tw .sns-btn-wrap, .sns .fb .sns-btn-wrap, footer .footer-bottom, #pagetop-wrap .pagetop-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .project-bg-img-wrap .project-tomovie-word .project-tomovie-word-con, .pr-wrap .pr-right-con .pr-right-title, .news-con .news-right .news-list-wrap .news-list-item-con, .links-img-bottom-wrap .links-img-bottom:first-child, .links-img-bottom-wrap .links-img-bottom-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project .project-bg-img-wrap .project-tomovie-word .movie-icon-wrap, .links-img-bottom-wrap .links-img-bottom:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-title-wrap .project-title-big, .project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small, .pr-wrap .pr-right-con .pr-right-title, .news-con .news-title-wrap .news-title-big, .sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big {
  font-size: calc(1.3125rem + ((1vw - 10.25px) * 2.1229));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .project-title-wrap .project-title-big, .project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small, .pr-wrap .pr-right-con .pr-right-title, .news-con .news-title-wrap .news-title-big, .sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 2.9018));
  }
}

@media (max-width: 425px) {
  .project-title-wrap .project-title-big, .project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small, .pr-wrap .pr-right-con .pr-right-title, .news-con .news-title-wrap .news-title-big, .sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big {
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 2.8571));
  }
}

.pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn, .news-con .news-right .news-list-wrap .news-right-btn-wrap, .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn, .top .scroll-word, .project-title-wrap .project-title-small, .project .project-bg-img-wrap .project-bg-inside-tile-small, .project .project-bg-img-wrap .project-tomovie-word .project-tomovie-word-con, .news-con .news-title-wrap .news-title-small, .news-con .news-right .news-list-wrap .news-list-item, .sns .tw-hash, #pagetop-wrap .pagetop-word {
  font-size: calc(0.8125rem + ((1vw - 10.25px) * 1.2291));
  min-height: 0vw;
}

@media (max-width: 768px) {
  .pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn, .news-con .news-right .news-list-wrap .news-right-btn-wrap, .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn, .top .scroll-word, .project-title-wrap .project-title-small, .project .project-bg-img-wrap .project-bg-inside-tile-small, .project .project-bg-img-wrap .project-tomovie-word .project-tomovie-word-con, .news-con .news-title-wrap .news-title-small, .news-con .news-right .news-list-wrap .news-list-item, .sns .tw-hash, #pagetop-wrap .pagetop-word {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.4464));
  }
}

header .glnav-list-item, .pr-wrap .pr-right-con .pr-right-word, .pr-wrap .pr-right-con .pr-right-word2, .pr-wrap .pr-right-con .pr-right-word3, .pr-wrap .pr-right-con .pr-right-word4, .sns .tw-title-wrap .tw-title-small, .sns .fb-title-wrap .tw-title-small, footer .footer-top .footer-list-item, footer .footer-bottom .copyright {
  font-size: calc(0.625rem + ((1vw - 10.25px) * 1.5642));
  min-height: 0vw;
}

@media (max-width: 768px) {
  header .glnav-list-item, .pr-wrap .pr-right-con .pr-right-word, .pr-wrap .pr-right-con .pr-right-word2, .pr-wrap .pr-right-con .pr-right-word3, .pr-wrap .pr-right-con .pr-right-word4, .sns .tw-title-wrap .tw-title-small, .sns .fb-title-wrap .tw-title-small, footer .footer-top .footer-list-item, footer .footer-bottom .copyright {
    font-size: calc(0.625rem + ((1vw - 3.2px) * 0.4464));
  }
}

.pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn, .news-con .news-right .news-list-wrap .news-right-btn-wrap, .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
  width: 40%;
  height: 100%;
  background: #0db8e6;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 425px) {
  .pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn, .news-con .news-right .news-list-wrap .news-right-btn-wrap, .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
    width: 36vw;
    height: 6vw;
  }
}

.pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn .btn-arrow, .news-con .news-right .news-list-wrap .news-right-btn-wrap .news-right-btn-arrow, .sns .tw .sns-btn-wrap .tw-btn .tw-btn-arrow, .sns .fb .sns-btn-wrap .tw-btn .tw-btn-arrow, .sns .fb .sns-btn-wrap .fb-btn .tw-btn-arrow, .sns .fb .sns-btn-wrap .fb-btn .fb-btn-arrow {
  text-decoration: none;
  position: relative;
  left: 3vw;
  height: 2vw;
  width: 2vw;
}

.pr-wrap .pr-right-con .pr-right-btn-wrap .pr-right-btn .btn-arrow::before, .news-con .news-right .news-list-wrap .news-right-btn-wrap .news-right-btn-arrow::before, .sns .tw .sns-btn-wrap .tw-btn .tw-btn-arrow::before, .sns .fb .sns-btn-wrap .tw-btn .tw-btn-arrow::before, .sns .fb .sns-btn-wrap .fb-btn .tw-btn-arrow::before, .sns .fb .sns-btn-wrap .fb-btn .fb-btn-arrow::before {
  content: '';
  width: 1vw;
  height: 1vw;
  display: block;
  border-top: solid 0.2vw #fff;
  border-right: solid 0.2vw #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0.2vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100%;
  background: #f8f8f8;
  position: relative;
}

header {
  width: 100%;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  border-top: 6px solid #0db8e6;
  background: #fff;
  z-index: 5;
}

header .header-logo-wrap {
  width: 14%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-logo-wrap .header-logo {
  width: 70%;
  height: auto;
  cursor: pointer;
}

header .glnav {
  width: 60%;
  height: 100%;
}

@media (max-width: 768px) {
  header .glnav {
    display: none;
  }
}

header .glnav-list {
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header .glnav-list-item {
  height: 100%;
  position: relative;
}

header .glnav-list-item::after {
  position: absolute;
  bottom: 2vw;
  left: 0;
  content: '';
  width: 100%;
  height: 0.1vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  background: #0db8e6;
}

header .glnav-list-item:hover::after {
  bottom: 1vw;
  opacity: 1;
  visibility: visible;
}

header .header-contact-logo-wrap {
  width: 16%;
  height: 100%;
}

@media (max-width: 768px) {
  header .header-contact-logo-wrap {
    display: none;
  }
}

header .header-contact-logo-wrap .header-contact-logo {
  width: 90%;
  height: auto;
  cursor: pointer;
}

header .l-drawer {
  display: none;
}

@media (max-width: 768px) {
  header .l-drawer {
    display: block;
    /*ドロワー*/
  }
  header .l-drawer .l-drawer {
    position: relative;
  }
  header .l-drawer .l-drawer__checkbox {
    display: none;
  }
  header .l-drawer .l-drawer__icon {
    cursor: pointer;
    display: block;
    width: 7vw;
    height: 7vw;
    position: fixed;
    right: 0;
  }
  header .l-drawer .l-drawer__icon-parts, header .l-drawer .l-drawer__icon-parts:before, header .l-drawer .l-drawer__icon-parts:after {
    background-color: #000;
    display: block;
    width: 4vw;
    height: 0.2vw;
    position: absolute;
    top: 0;
    right: 2vw;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  header .l-drawer .l-drawer__icon-parts:before, header .l-drawer .l-drawer__icon-parts:after {
    content: " ";
  }
  header .l-drawer .l-drawer__icon-parts:before {
    top: 2vw;
  }
  header .l-drawer .l-drawer__icon-parts:after {
    top: -2vw;
  }
  header .l-drawer .l-drawer__overlay {
    background: #000;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  header .l-drawer .l-drawer__menu {
    background: #ffffff;
    color: #000;
    max-width: 100%;
    width: 42vw;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    right: -42vw;
  }
  header .l-drawer .l-drawer__item {
    margin: 4vw 0 0 2vw;
  }
  header .l-drawer .l-drawer__item .l-drawer__item-inner {
    text-decoration: none;
    color: #000;
    font-size: 2vw;
  }
  header .l-drawer .l-drawer__icon {
    z-index: 4;
  }
  header .l-drawer .l-drawer__menu {
    z-index: 3;
  }
  header .l-drawer .l-drawer__overlay {
    z-index: 2;
  }
  header .l-drawer .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
    background: transparent;
  }
  header .l-drawer .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  header .l-drawer .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
  header .l-drawer .l-drawer__checkbox:checked ~ .l-drawer__overlay {
    opacity: 0.3;
    pointer-events: auto;
  }
  header .l-drawer .l-drawer__checkbox:checked ~ .l-drawer__menu {
    right: 0;
  }
  header .l-drawer .l-drawer__icon-parts, header .l-drawer .l-drawer__icon-parts:after, header .l-drawer .l-drawer__icon-parts:before, header .l-drawer .l-drawer__overlay, header .l-drawer .l-drawer__menu {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
}

.top {
  width: 100%;
  height: 68vw;
  overflow: hidden;
}

.top-video {
  width: 100%;
  height: auto;
  position: relative;
}

.top .scroll {
  width: 7vw;
  height: 7vw;
  margin: 0 auto;
  background: #fff;
  position: relative;
  top: -3.5vw;
  border-radius: 100%;
  border: 2px solid #0db8e6;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top .scroll {
    width: 10vw;
    height: 10vw;
    top: -6vw;
  }
}

@media (max-width: 425px) {
  .top .scroll {
    width: 13vw;
    height: 13vw;
    top: -8vw;
  }
}

.top .scroll-word {
  width: 5vw;
  height: 2vw;
  color: #0db8e6;
  position: absolute;
  top: 3.6vw;
  left: 1vw;
}

@media (max-width: 768px) {
  .top .scroll-word {
    top: 6vw;
    left: 2.4vw;
  }
}

@media (max-width: 425px) {
  .top .scroll-word {
    top: 8vw;
    left: 4vw;
  }
}

.top .scroll-arrow::before {
  content: '';
  width: 1.6vw;
  height: 1.6vw;
  border: 0px;
  border-top: solid 0.1vw #0db8e6;
  border-right: solid 0.1vw #0db8e6;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 1.4vw;
  left: 2.6vw;
}

@media (max-width: 768px) {
  .top .scroll-arrow::before {
    top: 2vw;
    left: 4.1vw;
  }
}

@media (max-width: 425px) {
  .top .scroll-arrow::before {
    top: 4vw;
    left: 5.5vw;
  }
}

.project {
  width: 100%;
  height: 54vw;
  overflow: hidden;
}

.project-title-wrap {
  width: 100%;
  height: auto;
}

.project-title-wrap .project-title-big {
  width: 100%;
  height: auto;
  line-height: 2;
}

.project-title-wrap .project-title-small {
  width: 100%;
  height: auto;
  color: #0db8e6;
  line-height: 2vw;
}

.project-title-wrap .project-title-img {
  width: 100%;
  height: 3vw;
}

.project-title-wrap .project-title-img .project-img {
  width: 30%;
  height: auto;
}

.project .project-bg-img-wrap {
  width: 100%;
  height: 40vw;
  position: relative;
  top: 0;
}

.project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small {
  width: 100%;
  height: 4vw;
  color: #fff;
  position: absolute;
  top: 6vw;
  z-index: 3;
}

@media (max-width: 425px) {
  .project .project-bg-img-wrap .project-bg-inside-tile-big, .project .project-bg-img-wrap .project-bg-inside-tile-small {
    height: 10vw;
  }
}

.project .project-bg-img-wrap .project-bg-inside-tile-small {
  top: 9vw;
}

@media (max-width: 425px) {
  .project .project-bg-img-wrap .project-bg-inside-tile-small {
    height: 12vw;
  }
}

.project .project-bg-img-wrap .project-tomovie-word {
  width: 20%;
  height: 3vw;
  position: absolute;
  top: 13vw;
  margin: 0 40% 0 40%;
  z-index: 3;
  border: 2px solid #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media (max-width: 425px) {
  .project .project-bg-img-wrap .project-tomovie-word {
    width: 28%;
    height: 5vw;
    margin: 0 36% 0 35%;
    top: 18vw;
  }
}

.project .project-bg-img-wrap .project-tomovie-word .movie-icon-wrap {
  width: 30%;
  height: 100%;
  margin-left: 8%;
}

@media (max-width: 320px) {
  .project .project-bg-img-wrap .project-tomovie-word .movie-icon-wrap {
    margin-left: 0%;
  }
}

.project .project-bg-img-wrap .project-tomovie-word .movie-icon-wrap .movie-icon {
  width: 40%;
  height: auto;
}

.project .project-bg-img-wrap .project-tomovie-word .project-tomovie-word-con {
  width: 64%;
  height: 100%;
  margin-left: 6%;
  color: #fff;
}

.project .project-bg-img-wrap .project-tomovie {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.project .project-bg-img-wrap .project-tomovie .project-tomovie-img {
  width: 80%;
  height: auto;
}

.pr {
  width: 100%;
  height: 102vw;
  padding-bottom: 6vw;
}

@media (max-width: 1024px) {
  .pr {
    height: 98vw;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .pr {
    height: auto;
    padding: 0;
  }
}

.pr-wrap {
  width: 100%;
  height: auto;
  position: relative;
}

@media (max-width: 768px) {
  .pr-wrap {
    position: static;
    height: auto;
  }
}

.pr-wrap .pr-left {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 4vw;
  left: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .pr-wrap .pr-left {
    display: none;
    position: static;
  }
}

.pr-wrap .pr-left-img {
  width: 100%;
  height: auto;
}

.pr-wrap .pr-right {
  width: 70%;
  height: auto;
  background: #e7eef8;
  padding-bottom: 4vw;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .pr-wrap .pr-right {
    width: 100%;
    height: auto;
    position: static;
    padding: 2vw 0 6vw 0;
  }
}

.pr-wrap .pr-right-con {
  width: 76%;
  height: auto;
  margin: 3vw 0 0 20%;
  background-image: url("../img-kessin-new/common/ribbon_3sec.png");
  background-repeat: repeat-y;
  background-position: right 0 top 0%;
  background-size: 2.8vw;
}

@media (max-width: 768px) {
  .pr-wrap .pr-right-con {
    background-image: none;
  }
}

.pr-wrap .pr-right-con .pr-right-title {
  width: 98%;
  height: 6vw;
  border-left: 0.4vw solid #0db8e6;
  margin-bottom: 2vw;
  padding-left: 2%;
}

.pr-wrap .pr-right-con .pr-right-movie-wrap {
  width: 90%;
  height: 26vw;
}

@media (max-width: 768px) {
  .pr-wrap .pr-right-con .pr-right-movie-wrap {
    height: 34vw;
  }
}

.pr-wrap .pr-right-con .pr-right-movie-wrap .pr-right-movie {
  width: 100%;
  height: 100%;
}

.pr-wrap .pr-right-con .pr-right-movie-wrap .pr-right-movie .youtube-frame {
  width: 100%;
  height: 100%;
}

.pr-wrap .pr-right-con .pr-right-word {
  width: 100%;
  height: auto;
  margin: 2vw 0 2vw 0;
}

.pr-wrap .pr-right-con .pr-right-word2 {
  width: 100%;
  height: auto;
  margin: 2vw 0 2vw 0;
}

.pr-wrap .pr-right-con .pr-right-word2 .pr-right-word2-line {
  width: 100%;
  height: auto;
  line-height: 1.6;
}

.pr-wrap .pr-right-con .pr-right-word3 {
  width: 100%;
  height: auto;
  margin: 2vw 0 2vw 0;
}

.pr-wrap .pr-right-con .pr-right-word3 .pr-right-word3-line2 {
  width: 100%;
  height: auto;
  line-height: 1.6;
}

.pr-wrap .pr-right-con .pr-right-word4 {
  width: 100%;
  height: auto;
  font-weight: bold;
}

.pr-wrap .pr-right-con .pr-right-word4 .pr-right-word3-line3 {
  width: 100%;
  height: auto;
  line-height: 1.6;
}

.pr-wrap .pr-right-con .pr-right-btn-wrap {
  width: 100%;
  height: 4vw;
  margin-top: 4vw;
}

.news {
  width: 100%;
  height: 40vw;
  background: #fff;
  overflow: hidden;
}

@media (max-width: 425px) {
  .news {
    height: 96vw;
  }
}

.news-con {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10% 0 10%;
  background-image: url("../img-kessin-new/common/ribbon_3sec.png");
  background-repeat: no-repeat;
  background-position: left 12.4vw top 2vw;
  background-size: 3vw;
  padding-top: 2vw;
}

@media (max-width: 768px) {
  .news-con {
    background-image: none;
  }
}

@media (max-width: 425px) {
  .news-con {
    width: 90%;
    margin: 0 5% 0 3%;
    display: block;
  }
}

@media (max-width: 320px) {
  .news-con {
    width: 100%;
    margin-left: 0%;
  }
}

.news-con .news-title-wrap {
  width: 20%;
  height: 80%;
  margin-top: 8%;
}

@media (max-width: 425px) {
  .news-con .news-title-wrap {
    width: 100%;
    height: 20vw;
    margin-top: 0;
  }
}

.news-con .news-title-wrap .news-title-img-wrap {
  width: 100%;
  height: 3vw;
}

@media (max-width: 425px) {
  .news-con .news-title-wrap .news-title-img-wrap {
    height: 8vw;
  }
}

.news-con .news-title-wrap .news-title-img-wrap .news-title-img {
  width: 20%;
  height: auto;
}

@media (max-width: 425px) {
  .news-con .news-title-wrap .news-title-img-wrap .news-title-img {
    width: 10%;
  }
}

.news-con .news-title-wrap .news-title-big {
  width: 100%;
  height: 3vw;
}

@media (max-width: 425px) {
  .news-con .news-title-wrap .news-title-big {
    height: 6vw;
  }
}

.news-con .news-title-wrap .news-title-small {
  width: 100%;
  height: 2vw;
  color: #0db8e6;
}

.news-con .news-right {
  width: 80%;
  height: 100%;
}

@media (max-width: 425px) {
  .news-con .news-right {
    margin: 0 10% 0 10%;
  }
}

@media (max-width: 320px) {
  .news-con .news-right {
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

.news-con .news-right .news-list-wrap {
  width: 100%;
  height: 70%;
  margin-top: 4%;
}

.news-con .news-right .news-list-wrap .news-list {
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.news-con .news-right .news-list-wrap .news-list-item {
  width: 100%;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #000;
}

@media (max-width: 425px) {
  .news-con .news-right .news-list-wrap .news-list-item {
    height: 10vw;
  }
}

.news-con .news-right .news-list-wrap .news-list-item:first-child {
  border-top: 1px dotted #000;
}

.news-con .news-right .news-list-wrap .news-list-item-date {
  width: 20%;
  height: 100%;
  color: #0db8e6;
}

.news-con .news-right .news-list-wrap .news-list-item-con {
  width: 80%;
  height: 100%;
}

.news-con .news-right .news-list-wrap .news-right-btn-wrap {
  height: 4vw;
  margin-left: 39vw;
}

@media (max-width: 597px) {
  .news-con .news-right .news-list-wrap .news-right-btn-wrap {
    width: 47%;
  }
}

@media (max-width: 425px) {
  .news-con .news-right .news-list-wrap .news-right-btn-wrap {
    width: 36vw;
    height: 6vw;
    position: relative;
    top: -10vw;
  }
}

@media (max-width: 320px) {
  .news-con .news-right .news-list-wrap .news-right-btn-wrap {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .news-con .news-right .news-list-wrap .news-right-btn-wrap .news-right-btn-arrow {
    left: 1vw;
  }
}

.links {
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

.links-img-top-wrap {
  width: 100%;
  height: 22vw;
}

.links-img-top-wrap .links-img-top {
  width: 80%;
  height: auto;
  cursor: pointer;
}

.links-img-bottom-wrap {
  width: 100%;
  height: 22vw;
}

.links-img-bottom-wrap .links-img-bottom {
  width: 40%;
  height: 100%;
}

.links-img-bottom-wrap .links-img-bottom:first-child {
  cursor: pointer;
}

.links-img-bottom-wrap .links-img-bottom-con {
  width: 96%;
  height: auto;
  cursor: pointer;
}

.sns {
  width: 80%;
  height: 50vw;
  margin: 0 10% 4vw 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 768px) {
  .sns {
    display: block;
    height: 170vw;
  }
}

@media (max-width: 425px) {
  .sns {
    height: 210vw;
  }
}

.sns .tw, .sns .fb {
  width: 50%;
  height: 99%;
  background: #fff;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
}

@media (max-width: 768px) {
  .sns .tw, .sns .fb {
    width: 99%;
    height: 75vw;
    margin-bottom: 4vw;
    border-right: 1px solid #000;
  }
}

@media (max-width: 425px) {
  .sns .tw, .sns .fb {
    height: 100vw;
  }
}

.sns .tw .diagonal-line-1, .sns .fb .diagonal-line-1 {
  content: "";
  width: 3vw;
  height: 6vw;
  border-right: 2px solid #0db8e6;
  -webkit-transform: skewX(-150deg);
          transform: skewX(-150deg);
  position: absolute;
  top: 2vw;
  left: 3vw;
}

@media (max-width: 768px) {
  .sns .tw .diagonal-line-1, .sns .fb .diagonal-line-1 {
    left: 16vw;
  }
}

@media (max-width: 425px) {
  .sns .tw .diagonal-line-1, .sns .fb .diagonal-line-1 {
    height: 9vw;
    left: 9vw;
  }
}

@media (max-width: 320px) {
  .sns .tw .diagonal-line-1, .sns .fb .diagonal-line-1 {
    left: 6vw;
  }
}

.sns .tw .diagonal-line-2, .sns .fb .diagonal-line-2 {
  content: "";
  width: 3vw;
  height: 6vw;
  border-right: 2px solid #0db8e6;
  -webkit-transform: skewX(150deg);
          transform: skewX(150deg);
  position: absolute;
  top: 2vw;
  right: 6vw;
}

@media (max-width: 768px) {
  .sns .tw .diagonal-line-2, .sns .fb .diagonal-line-2 {
    right: 20vw;
  }
}

@media (max-width: 425px) {
  .sns .tw .diagonal-line-2, .sns .fb .diagonal-line-2 {
    height: 9vw;
    right: 11vw;
  }
}

@media (max-width: 320px) {
  .sns .tw .diagonal-line-2, .sns .fb .diagonal-line-2 {
    right: 9vw;
  }
}

.sns .tw-title-wrap, .sns .fb-title-wrap {
  width: 60%;
  height: 7vw;
  border-bottom: 2px solid #0db8e6;
  margin: 0 auto;
  margin-top: 2vw;
}

@media (max-width: 425px) {
  .sns .tw-title-wrap, .sns .fb-title-wrap {
    width: 70%;
    height: 11vw;
    margin-bottom: 2vw;
  }
}

.sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big {
  width: 100%;
  height: 4vw;
}

@media (max-width: 425px) {
  .sns .tw-title-wrap .tw-title-big, .sns .fb-title-wrap .tw-title-big, .sns .fb-title-wrap .fb-title-big {
    height: 7vw;
  }
}

.sns .tw-title-wrap .tw-title-small, .sns .fb-title-wrap .tw-title-small {
  width: 100%;
  height: 2vw;
}

.sns .tw-con, .sns .fb-con {
  width: 90%;
  height: 28vw;
  margin: 1vw 5% 0 5%;
  border: 1px solid #000;
}

@media (max-width: 768px) {
  .sns .tw-con, .sns .fb-con {
    height: 50vw;
  }
}

@media (max-width: 425px) {
  .sns .tw-con, .sns .fb-con {
    height: 68vw;
  }
}

.sns .tw-con .twitter-timeline, .sns .fb-con .twitter-timeline {
  width: 100%;
  height: 28vw;
}

.sns .tw-hash {
  width: 100%;
  height: 4vw;
}

@media (max-width: 768px) {
  .sns .tw-hash {
    height: 3vw;
    margin: 2vw 0 2vw 0;
  }
}

.sns .tw .sns-btn-wrap, .sns .fb .sns-btn-wrap {
  width: 100%;
  height: 4vw;
}

.sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
  width: 20vw;
  height: 4vw;
  padding-left: 2vw;
}

@media (max-width: 768px) {
  .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
    width: 30vw;
    height: 5vw;
  }
}

@media (max-width: 425px) {
  .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
    width: 36vw;
  }
}

@media (max-width: 320px) {
  .sns .tw .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .tw-btn, .sns .fb .sns-btn-wrap .fb-btn {
    width: 42vw;
    height: 6vw;
  }
}

.sns .tw .sns-btn-wrap .tw-btn .tw-btn-arrow, .sns .fb .sns-btn-wrap .tw-btn .tw-btn-arrow, .sns .fb .sns-btn-wrap .fb-btn .tw-btn-arrow {
  left: 1vw;
}

.sns .fb {
  border: 1px solid #000;
}

.sns .fb-title-wrap .fb-title-big {
  padding-top: 2vw;
}

.sns .fb-con {
  width: 68%;
  margin: 1vw auto 0;
}

.sns .fb-con .fb-frame {
  width: 100%;
  height: 100%;
}

.sns .fb .sns-btn-wrap .fb-btn {
  margin-top: 7.8vw;
}

@media (max-width: 768px) {
  .sns .fb .sns-btn-wrap .fb-btn {
    margin-top: 9vw;
  }
}

.sns .fb .sns-btn-wrap .fb-btn .fb-btn-arrow {
  left: 0.5vw;
}

footer {
  width: 100%;
  height: 14vw;
  background: #3e3e3e;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 425px) {
  footer {
    height: 22vw;
  }
}

footer .footer-top {
  width: 100%;
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1vw solid #fff;
}

@media (max-width: 425px) {
  footer .footer-top {
    height: 14vw;
  }
}

footer .footer-top .footer-logo-wrap {
  width: 50%;
  height: 10vw;
}

footer .footer-top .footer-logo-wrap .footer-logo {
  width: 20%;
  height: auto;
  margin: 3vw 0 0 10vw;
  cursor: pointer;
}

@media (max-width: 425px) {
  footer .footer-top .footer-logo-wrap .footer-logo {
    width: 30%;
  }
}

footer .footer-top .footer-list {
  width: 22%;
  height: 10vw;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vw 0 0 20vw;
}

@media (max-width: 768px) {
  footer .footer-top .footer-list {
    width: 40%;
    margin: 3vw 0 0 10%;
  }
}

@media (max-width: 425px) {
  footer .footer-top .footer-list {
    display: block;
  }
}

footer .footer-top .footer-list-item {
  width: 18vw;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer .footer-top .footer-list-item {
    height: 4vw;
  }
  footer .footer-top .footer-list-item:first-child {
    width: 17vw;
  }
}

footer .footer-top .footer-list-item:last-child {
  width: 36vw;
  margin-left: 2vw;
}

@media (max-width: 425px) {
  footer .footer-top .footer-list-item:last-child {
    margin-left: 0;
  }
}

footer .footer-bottom {
  width: 100%;
  height: 3vw;
}

@media (max-width: 425px) {
  footer .footer-bottom {
    height: 4vw;
  }
}

#pagetop-wrap {
  width: 7vw;
  height: 7vw;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 2vw;
  border-radius: 100%;
  border: 2px solid #0db8e6;
  cursor: pointer;
}

@media (max-width: 768px) {
  #pagetop-wrap {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 425px) {
  #pagetop-wrap {
    width: 16vw;
    height: 16vw;
  }
}

#pagetop-wrap .pagetop-word {
  width: 7vw;
  height: 3vw;
  color: #0db8e6;
  position: absolute;
  top: 3vw;
  left: 0;
}

@media (max-width: 768px) {
  #pagetop-wrap .pagetop-word {
    width: 10vw;
    top: 4vw;
    left: 0;
  }
}

@media (max-width: 425px) {
  #pagetop-wrap .pagetop-word {
    width: 14vw;
    height: 4vw;
    top: 7vw;
    left: 1vw;
  }
}

#pagetop-wrap .pagetop-arrow::before {
  content: '';
  width: 1.6vw;
  height: 1.6vw;
  border: 0px;
  border-top: solid 0.1vw #0db8e6;
  border-right: solid 0.1vw #0db8e6;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 1.4vw;
  left: 2.6vw;
}

@media (max-width: 768px) {
  #pagetop-wrap .pagetop-arrow::before {
    top: 3vw;
    left: 4vw;
  }
}

@media (max-width: 425px) {
  #pagetop-wrap .pagetop-arrow::before {
    top: 5vw;
    left: 7vw;
  }
}
/*# sourceMappingURL=style.css.map */