$pc: 1024px;
$tab: 768px;
$md: 425px;
$mds: 375px;
$sm: 320px;

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
}
}
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
}
}
@mixin md {
    @media (max-width: ($md)) {
      @content;
}
}
@mixin mds {
    @media (max-width: ($mds)) {
      @content;
}
}
@mixin sm {
    @media (max-width: ($sm)) {
      @content;
    }
}

$main-color:#24809D;

%flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
%flex-center-js-fs{
  display:flex;
  align-items:center;
  justify-content:flex-start;
}
%flex-center-js-fe{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

/*フォントサイズ*/
%font-120{
    font-size: calc(3rem + ((1vw - 10.25px) * 4.6906));
    min-height: 0vw;
}
%font-60{
    font-size: calc(1.5rem + ((1vw - 10.25px) * 4.0223));
    min-height: 0vw;

    @include tab{
        font-size: calc(0.75rem + ((1vw - 3.2px) * 3.5714));
    }
}
%font-40{
    font-size: calc(1rem + ((1vw - 10.25px) * 1.5635));
    min-height: 0vw;

    @include tab{
        font-size: calc(0.875rem + ((1vw - 3.2px) * 2.2727));
    }
}
%font-30{
    font-size: calc(0.75rem + ((1vw - 10.25px) * 1.1726));
    min-height: 0vw;

    @include tab{
        font-size: calc(0.6875rem + ((1vw - 3.2px) * 1.5625));
    }
}
%font-26{
    font-size: calc(0.75rem + ((1vw - 10.25px) * 0.9121));
    min-height: 0vw;

    @include tab{
        font-size: calc(0.6875rem + ((1vw - 3.2px) * 1.5625));
    }
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}

html,
body{
    max-width:2560px;
    width:100%;
    margin:0 auto;
    font-family: 'Noto Sans JP', sans-serif; 
    line-height: 2;
}

%title-sub{
    @extend %flex-center;
    width:100%;
    height:2vw;
    font-weight:bold;
    color:#EBB72C;
}
.loading{
        width:100%;
        height:auto;

        #background{
            display:block;
            position:fixed;
            width:100%;
            height:100%;
            background-color: $main-color;
            background: -webkit-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
            background: -moz-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
            background: -ie-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
        }
  
        #logocontainer{
            display:block;
            position:fixed;
            top:50%;
            left:50%;
            width:34vh;
            height:34vh;
            margin-left:-17vh;
            margin-top:-17vh;
            overflow:hidden;
            transition:background-color 500ms;
            cursor:pointer;
        }
  
        #pelogo{
            display: block;
            position: absolute;
            left: 2vh;
            top: 2vh;
            width: 30vh;
            height: 30vh;
            background: #34324b;
            background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
            background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
            background: linear-gradient(135deg, #34324b 0%,#161222 100%);
            background-size: contain;
            font-family: Trebuchet MS, sans-serif;
            font-size: 20vh;
            font-weight: bold;
            color: #3ebffa;
            text-align: center;
            line-height: 30vh;
        }
  
        .loader{
            display:block;
            position:absolute;
            background-color:#3ebffa;
        }
  
        /*Pretty complex animation, so each side needs its own @keyframes.*/
  
        @keyframes slide1{
            50%{width:32vh; margin-left:0;}
            100%{margin-left:32vh;}
        }
  
        @keyframes slide2{
            50%{height:32vh; margin-top:0;}
            100%{margin-top:32vh;}
        }
  
        @keyframes slide3{
            50%{width:32vh; margin-right:0;}
            100%{margin-right:32vh;}
        }
  
        @keyframes slide4{
            50%{height:32vh; margin-bottom:0}
            100%{margin-bottom:32vh;}
        }
}

header{
        width:100%;
        height:7vw;
        background:rgba(36,128,157,0.8);
        display:none;
        position:fixed;
        z-index:99;

        .logo{
            width:20%;
            height:100%;
            @extend %flex-center;
            color:#fff;
            font-weight:bold;
            cursor:pointer;
            @extend %font-60;
        }

        .nav{
            width:40%;
            height:100%;
            margin-left:40%;

            @include tab{
                display:none;
            }

            &-list{
                width:100%;
                height:100%;
                list-style-type:none;
                display:flex;
                align-items:center;
                justify-content:center;
                color:#fff;
                font-weight:bold;

                &-item{
                    width:auto;
                    height:100%;
                    @extend %flex-center;
                    @extend %font-40;

                    &:not(:last-child){
                        margin-right:6%;
                    }

                    .scroll-link{
                        text-decoration:none;
                        color:#fff;
                    }
                }
            }
        }

        .l-drawer{
            display:none;

            @include tab{
                display:block;

                /*ドロワー*/
                .l-drawer {
                    position: relative;
                }

                .l-drawer__checkbox {
                    display: none;
                }

                .l-drawer__icon {
                    cursor: pointer;
                    display: block;
                    width: 7vw;
                    height: 7vw;
                    position: fixed;
                    right: 2vw;
                }

                .l-drawer__icon-parts, .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
                    background-color: #fff;
                    display: block;
                    width: 4vw;
                    height: 0.2vw;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                }

                .l-drawer__icon-parts:before, .l-drawer__icon-parts:after {
                    content: " ";
                }

                .l-drawer__icon-parts:before {
                    top: 2vw;
                }

                .l-drawer__icon-parts:after {
                    top: -2vw;
                }
  
                .l-drawer__overlay {
                    background: #000;
                    opacity: 0;
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    right: 0;
                }

                .l-drawer__menu {
                    background: #ffffff;
                    color: #000;
                    max-width: 100%;
                    width: 320px;
                    height: 100vh;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    position: fixed;
                    top: 0;
                    right: -320px;

                    .l-drawer__list{
                        width:100%;
                        height:100%;

                        .l-drawer__item{
                            margin:2vw 0 2vw 2vw;
                            font-size:16px;

                            .l-drawer__item-inner{
                                text-decoration:none;
                                color:#000;
                            }
                        }
                    }
                }

                .l-drawer__icon {
                    z-index: 4;
                }

                .l-drawer__menu {
                    z-index: 3;
                }

                .l-drawer__overlay {
                    z-index: 2;
                }

                .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
                    background: transparent;
                }

                .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 0;
                    background:#000;
                }

                .l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 0;
                    background:#000;
                }

                .l-drawer__checkbox:checked ~ .l-drawer__overlay {
                    opacity: 0.3;
                    pointer-events: auto;
                }

                .l-drawer__checkbox:checked ~ .l-drawer__menu {
                    right: 0;
                }

                .l-drawer__icon-parts, .l-drawer__icon-parts:after, .l-drawer__icon-parts:before, .l-drawer__overlay, .l-drawer__menu {
                    -webkit-transition: all 0.7s;
                    transition: all 0.7s;
                }
            }
        }
}

    %transition_all_03s {
        transition:all .3s ease;
    }

    %backface_visibility_hidden{
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden;
    }
      
    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

.swiper-container {
        width: 100%;
        height: 64vw;
        transition:opacity .6s ease, transform .3s ease;
        position:relative;
        opacity:0;

        &:hover{

            .swiper-button-prev,
            .swiper-button-next{
                transform:translateX(0);
                opacity:1;
                visibility:visible;
            }
        }

        &.loading{
            opacity:0;
        }

        &.scale-out{
            transform:scale(.7);
        }

        &.scale-in{
            transform:scale(1);
        }
}

.swiper-wrapper{
        width:100%;
        height:100%;

        h1{
            width:100%;
            height:auto;
            @extend %flex-center;
            position:absolute;
            top:21.5vw;
            color:#fff;
            text-shadow:4px 4px 4px #000;
            z-index:10;
            @extend %font-120;
        }

        .scroll-link{
            text-decoration:none;
            color:#fff;

            .whosme-btn{
                width:20%;
                height:7vw;
                position:absolute;
                top:32vw;
                color:#fff;
                font-weight:bold;
                background:$main-color;
                @extend %flex-center;
                border-radius:25px;
                margin:0 40% 0 40%;
                z-index:10;
                @extend %font-60;

                @include tab{
                    border-radius:2.6vw;
                }
            }
        }
}

.swiper-slide{
        background-position:center;
        background-size:cover;
        perspective:1600px;

        &.swiper-slide-active{
            z-index:2;
        }

        .entity-img{
            display:none;
        }

        .content{
            transform:translateZ(100px) translateX(100px);
        }
}

    [class^="swiper-slide-shadow-"]{
        @extend %backface_visibility_hidden;
    }

    [class^="swiper-button-"]{
        width:44px;
        opacity:0;
        visibility:hidden;
        @extend %transition_all_03s;
    }

.swiper-button-prev{
        transform:translateX(50px);
}

.swiper-button-next{
        transform:translateX(-50px);
}

.swiper-container-horizontal{

        >.swiper-pagination-bullets{
        .swiper-pagination-bullet{
            margin:0 9px;
            position:relative;
            width:12px;
            height:12px;
            background-color:#fff;
            opacity:.4;
            @extend %transition_all_03s;

            &::before{
                content:'';
                position:absolute;
                top:50%;
                left:50%;
                width:18px;
                height:18px;
                transform:translate(-50%, -50%);
                border:0px solid #fff;
                border-radius:50%;
                @extend %transition_all_03s;
            }

            &:hover,
            &.swiper-pagination-bullet-active{
                opacity:1;
            }

            &.swiper-pagination-bullet-active{

                &::before{
                    border-width:1px;
                }
            }
          }
        }
}

.profile{
        width:100%;
        height:auto;
        padding:4vw 0 4vw 0;
        display:none;

        .profile-title-sub{
            @extend %title-sub;
            opacity: 1;
            height:2vw;
            @extend %font-30;

            @include pc{
                height:3.6vw;
            }

            @include tab{
                height:7vw;
            }

            @include md{
                height:8vw;
            }

            @include sm{
                height:10vw;
            }

            &.move{
                opacity: 0;
            }
        }

        h1{
            @extend %flex-center;
            width:100%;
            height:3vw;
            margin-bottom:1vw;
            @extend %font-60;

            @include md{
                height:10vw;
            }

            &.move{
                opacity: 0;
            }
        }

        .profile-con-wrap{
            width:100%;
            height:auto;
            display:flex;
            padding:0 0 2vw 0;

            @include tab{
                flex-direction:column;
            }

            .profile-con-left{
                width:50%;
                height:auto;
                @extend %flex-center;

                @include tab{
                    width:60%;
                    height:auto;
                    margin:0 auto;
                    margin-top:2vw;
                }

                &-img{
                    width:70%;
                    height:auto;
                    transition: all 3s;
                    transform: scale(1.0);
                    opacity: 1;
                    border-radius:20vw;

                    &.move-center{
                        transform: translate(0, 0)  scale(0.5);
                        opacity: 0;
                    }
                }
            }

            .profile-con-right{
                width:40%;
                height:100%;
                -webkit-transition: all 1s;
                transition: all 1s;
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
                opacity: 1;

                &.move{
                    -webkit-transform: translate(100px, 0);
                    transform: translate(100px, 0);
                    opacity: 0;
                }

                @include tab{
                    width:60%;
                    height:auto;
                    margin:0 auto;
                }

                &-list{
                    width:100%;
                    height:90%;
                    margin-top:10%;

                    &-item{
                        width:100%;
                        height:auto;
                        opacity: 1;
                        @extend %font-30;
                    
                        &:not(:last-child){
                            margin-bottom:4%;
                        }
                    }
                }
            }
        }
        .scroll-link{
            text-decoration:none;
            color:#fff;

            .works-btn{
                width:20%;
                height:7vw;
                background:#545454;
                color:#fff;
                @extend %flex-center;
                border-radius:25px;
                font-weight:bold;
                margin:0 40% 0 40%;
                transition: all 1s;
                transform: translate(0, 0);
                opacity: 1;
                @extend %font-60;
                display:none;

                @include pc{
                    display:none;
                }

                &.move{
                    transform: translate(0, 100px);
                    opacity: 0;
                }
            }
        }
}

.works{
    width:100%;
    height:auto;
    background-color:$main-color;
    padding:2vw 0 5vw 0;
    display:none;

    .works-title-sub{
        color: #fff;
        @extend %title-sub;
        @extend %font-30;
        color:#EBB72C;

        .works-title-sub-text{
            width:auto;
            height:auto;
        }

        @include pc{
            height:4vw;
        }

        @include tab{
            height:6vw;
        }

        @include md{
            height:8vw;
        }
    }

    .works-title{
        @extend %flex-center;
        width:100%;
        height:auto;
        margin-bottom:2vw;
        color: #000;
        @extend %font-60;
        display: flex;
        align-items: center;
        justify-content: center;

        .works-title-text{
            width:auto;
            height:auto;
        }

        @include tab{
            height:5vw;
        }

        @include md{
            height:8vw;
        }
    }

    .works-con-wrap{
        width:100%;
        height:auto;

        .works-con-list{
            width:90%;
            height:auto;
            margin:0 auto;
            @extend %flex-center;

            @include tab{
                display:block;
            }

            @include md{
                display:block;
            }

            &-item1{
                width:30%;
                height:38vw;
                list-style-type:none;
                background-repeat:no-repeat;
                background-image:url("../imglp/fujiyaiconimg.png");
                background-size:cover;
                margin-right:3%;

                @include tab{
                    width:80%;
                    height:74vw;
                    margin:0 10% 6vw 10%;
                }

                @include md{
                    width:80%;
                    height:77vw;
                    margin:0 10% 6vw 10%;
                }

                @include sm{
                    height:90vw;
                }

                .fadein-frame{
                    width:100%;
                    height:auto;
                    opacity:0;
                    transition:all 1s ease;
                    color:#fff;  

                    .exp-fadein{
                        width:80%;
                        @extend %font-26;
                        position:relative;
                        left:10%;
                            
                        &:not(:last-child){
                            margin-bottom:2vw;
                        }
                    }

                    .link-icon1{
                        width:2vw;
                        height:auto;
                        margin-left:80%;
                        cursor:pointer;

                        @include tab{
                            width:4vw;
                        }

                        @include md{
                            width:6vw;
                        }
                    }
                }

                &:hover .fadein-frame{
                    height:100%;
                    opacity:1;
                    background:rgba(0,0,0,0.4);
                    padding-top:10%;
                }
            }

            .fadein-inorder{
                opacity : 0.1;
                transform : translate(0, 200px);
                transition : all 1.5s ease;

                &:nth-of-type(2){
                    -moz-transition-delay:400ms;
                    -webkit-transition-delay:400ms;
                    -o-transition-delay:400ms;
                    -ms-transition-delay:400ms;
                    transition-delay:400ms;
                }

                &:nth-of-type(3){
                    -moz-transition-delay:500ms;
                    -webkit-transition-delay:500ms;
                    -o-transition-delay:500ms;
                    -ms-transition-delay:500ms;
                    transition-delay:500ms;
                }
                    
                &.scrollin{
                    opacity : 1;
                    transform : translate(0, 0);
                }
            }

            &-item2{
                @extend .works-con-list-item1;
                background-image:url("../imglp/kessiniconimg.png");
                margin-right:3%;

                .fadein-frame2{
                    @extend .fadein-frame;

                    .exp-fadein2{
                        @extend .exp-fadein;
                    }

                    .link-icon1{
                        width:2vw;
                        height:auto;
                        margin-left:80%;

                        @include tab{
                            width:4vw;
                        }

                        @include md{
                            width:6vw;
                        }
                    }
                }

                &:hover .fadein-frame2{
                    height:100%;
                    opacity:1;
                    background:rgba(0,0,0,0.4);
                    padding-top:10%;
                }
            }

            &-item3{
                @extend .works-con-list-item1;
                background-image:url("../imglp/pearliconimg.png");
                margin-right:0%;

                .fadein-frame3{
                    @extend .fadein-frame;

                    .exp-fadein3{
                        @extend .exp-fadein;
                    }

                    .link-icon1{
                        width:2vw;
                        height:auto;
                        margin-left:80%;

                        @include tab{
                            width:4vw;
                        }

                        @include md{
                            width:6vw;
                        }
                    }
                }

                &:hover .fadein-frame3{
                    height:100%;
                    opacity:1;
                    background:rgba(0,0,0,0.4);
                    padding-top:10%;
                }
            }
        }
    }

    .code-copy{
        width:86%;
        height:auto;
        margin:4vw 7% 2vw 7%;

        .code-copy-title{
            width:100%;
            height:auto;
            text-align:left;
            line-height:2;
            @extend %font-40;
            color:#EBB72C;
            opacity:0;
        }

        .code-copy-expl-wrap{
            width:100%;
            height:auto;

            .code-copy-expl-title{
                width:auto;
                height:auto;
                @extend %font-26;
                line-height:2;
                opacity:0;
            }

            .code-copy-expl-list{
                width:auto;
                height:auto;
                margin:0 0 1vw 2%;

                .code-copy-expl-item{
                    width:auto;
                    height:auto;
                    @extend %font-26;
                }
            }
        }

        .code-copy-list-wrap{
            width:100%;
            height:auto;

            .code-copy-list{
                width:100%;
                height:auto;
                list-style-type:none;
                display:flex;
                justify-content:space-between;
                flex-wrap:wrap;
                
                .code-copy-list-item{
                    width:15%;
                    height:16vw;

                    @include tab{
                        width:30%;
                        height:24vw;
                        margin-bottom:4vw;
                    }

                    @include md{
                        width:45%;
                        height:30vw;
                    }

                    .code-copy-img-wrap{
                        width:100%;
                        height: 100%;
                        position: relative;
                        overflow:hidden;

                        .code-copy-img{
                            width: 100%;
                            height: auto;
                            min-width: 100%;
                            min-height: 100%;
                            max-width: inherit;
                            position: absolute;
                            top:0;
                            left:0;
                        }
                    }
                }
            }
        }

        .github{
            width:100%;
            height:auto;
            @extend %flex-center;
            margin-top:4vw;

            .github-btn{
                width:20%;
                height:6vw;
                @extend %flex-center;
                background:#EBB72C;
                color:#fff;
                border-radius:25px;
                @extend %font-60;
                cursor:pointer;
                -webkit-transition: all 1s;
                transition: all 1s;
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
                opacity: 1;

                &.move{
                    -webkit-transform: translate(0, 100px);
                    transform: translate(0, 100px);
                    opacity: 0;
                }

                @include tab{
                    border-radius:2.6vw;
                }
            }
        }
    }
}

.sns{
        width:100%;
        height:30vw;
        background-image:url("../imglp/IMG_2492.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
        display:none;
        
        @include pc{
            background-attachment:local;

        }

        .sns-bg{
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.4);

            h1{
                @extend %flex-center;
                width:100%;
                height:6vw;
                color:#fff;
                transition: all 1s;
                transform: translate(0, 0);
                opacity: 1;
                @extend %font-60;

                @include md{
                    height:9vw;
                }

                &.move{
                    transform: translate(-100px, 0);
                    opacity: 0;
                }
            }

            .sns-wrap{
                width:40%;
                height:20vw;
                display:flex;
                margin:0 auto;
                transition: all 1s;
                transform: translate(0, 0);
                opacity: 1;

                &.move-right{
                    transform: translate(100px, 0);
                    opacity: 0;
                }

                .sns-icon-wrap{
                    @extend %flex-center;
                    width:100%;
                    height:100%;

                    @include md{
                        width:20vw;
                        height:20vw;
                    }

                    .sns-icon-img{
                        width:80%;
                        height:auto;
                        cursor:pointer;
                    }
                }
            }
        }
}

.contact{
        width:100%;
        height:22vw;
        padding-top:2vw;
        display:none;

        @include md{
            height:34vw;
        }

        .contact-title-sub{
            transition: all 1s;
            transform: scale(1.0);
            opacity: 1;
            @extend %font-30;
            @extend %title-sub;

            @include tab{
                height:4vw;
            }

            @include md{
                height:5vw;
            }

            &.move-center{
                transform: translate(0, 0)  scale(0.5);
                opacity: 0;
            }

        }
        h1{
            @extend %flex-center;
            width:100%;
            height:4vw;
            transition: all 1s;
            transform: scale(1.0);
            opacity: 1;
            margin-bottom:1vw;
            @extend %font-60;

            @include md{
                height:8vw;                
            }

            @include sm{
                height:10vw;
            }

            &.move-center{
                transform: translate(0, 0)  scale(0.5);
                opacity: 0;
            }
        }

        .contact-icon-wrap{
            width:10vw;
            height:10vw;
            background:$main-color;
            @extend %flex-center;
            border-radius:50%;
            margin:0 auto;
            transition: all 1s;
            transform: scale(1.0);
            opacity: 1;
            cursor:pointer;

            @include md{
                width:14vw;
                height:14vw;
            }

            &.move-center{
                transform: translate(0, 0)  scale(0.5);
                opacity: 0;
            }

            .contact-icon-img{
                width:50%;
                height:auto;
            }
        }
}

footer{
        width:100%;
        height:10vw;
        display:none;

        .copyright{
            width:100%;
            height:100%;
            @extend %flex-center;
            @extend %font-30;
        }
}