<header class="header">
  {{ page.header }}
</header>

<section class="main">
  <div class="main-content">
    {{ page.content }}
  </div>
  <aside class="sidebar">
    {{ page.sidebar }}
  </aside>
</section>

<footer class="footer">
  {{ page.footer }}
</footer>